@use "sass:list";
.explore__hub {
  position: relative;
  padding-top: 5rem;
  width: 97%;
  left: 1rem;
  h2 {
    font-size: $fontSize5Xl;
    font-weight: $fontWeightSemibold;
  }
  .header__section {
    display: flex;
    justify-content: space-between;
    padding-top: nth($spaces, 8);
    gap: nth($spaces,8);


    p {
      width: 24rem;
      line-height: 1.4;
    }
    .cta__button {
      width: 24rem;

      &--button {
        width: 15rem;
        font-size: $fontSizeLg;
        border-radius: $rounded2Xl;
      }
    }
  }

  .card__section {
    padding-top: nth($spaces, 8);
    display: flex;
    justify-content: space-between;
    gap: nth($spaces,8);

    .card {
      width: 24rem;
      border-radius: $rounded4Xl;
      background-color: $white;

      &__img {
        img {
          width: 100%;
          height: 20rem;
          object-fit: cover;
          border-radius: nth($spaces, 8);
        }
      }
      &__text-box {
        padding: nth($spaces, 2);

        p {
          font-size: $fontSize2Xl;
          font-weight: $fontWeightBold;
        }

        .paragraph,
        p {
          line-height: 1.6;
        }

        .btn {
          position: relative;
          cursor: pointer;
          font-size: $fontSizeSm;
          border: none;
          top: -24rem;
          left: 4rem;
          width: 6.625rem;
          height: 2.6875rem;
          background: #f1f1f1;
          border-radius: 1.5rem;
          transform: translate(-50%, -50%);

          &:hover {
            background: $mutedSilver;
            transition: 0.5s;
          }
        }
      }
    }
  }

  .button-box {
    text-align: center;

    .cta__button {
      width: 17rem;
      height: 3rem;
      border: none;
      font-size: 0.9rem;
      border-radius: $rounded2Xl;
      background: $vibrantGreen;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      &:hover {
        background-color: $limeGreen;
      }
    }
  }

  // RESPONSIVE SECTION

  /*--------------------------------
	*** FOR ANY DEVICE MAX SIZE UNTIL
	**	MAX-WIDTH : 1200px OR 75em
	*/

  @include laptop {
    h2 {
      text-align: center;
    }
    .header__section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .cta__button {
        width: 100%;
        text-align: center;
        padding-top: nth($spaces, 8);
        position: relative;
      }
    }

    .card__section {    
        display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: nth($spaces, 4);
      align-items: center;
      left: -0.5rem;
      position: relative;

      .card {
        margin: 0 auto;
      }
    }
  }

  /*--------------------------------
  *** FOR ANY DEVICE MAX SIZE UNTIL
  **	MAX-WIDTH : 992px OR 62em
  */

  @include tablet {
    text-align: center;
    .header__section {
      display: grid;
      justify-content: space-around;

      p {
        margin: 0 auto;
        width: 60%;
        line-height: 1.7;
        padding-top: nth($spaces, 4);
        text-align: center;
      }

      .cta__button {
        margin: 0 auto;
        padding-top: nth($spaces, 4);
      }
    }

    .card__section {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      .card {
        margin: 0 auto;

        &__text-box {
          .btn {
            left: -4rem;
          }

          .paragraph {
            line-height: 1.6;
            text-align: start;
          }

          p {
            text-align: start;
          }
        }
      }
    }
  }

  /*--------------------------------
  *** FOR MOBILE
  **	MAX : 640PX / 40em
  */

  @include mobile {
    text-align: center;
    padding: 5rem nth($spaces, 2) 0rem nth($spaces, 2);
    width: 100%;
    left: 0rem;
    width: 22rem;
    margin: 0 auto;

    h2 {
      text-align: center;
    }

    .header__section {
      display: grid;
      place-items: center;

      p {
        max-width: 100%;
        width: 100%;
        line-height: 1.7;
      }
    }

    .card__section {    
      
      .card {
        margin-top: nth($spaces, 4);
        width: 22rem;
        &__text-box {
          p,
          .paragraph {
            text-align: start;
          }
          .btn {
            left: -3rem;
          }
        }
      }
    }
  }

  /*--------------------------------
  *** FOR MINI MOBILE
  **	MAX : 400PX / 25em
  */

  @include miniMobile {
    text-align: center;
    padding: 5rem nth($spaces, 2) 0rem nth($spaces, 2);
    width: 100%;
    left: 0rem;

    .header__section {
      display: grid;
      place-items: center;

      p {
        max-width: 100%;
        width: 100%;
        line-height: 1.7;
      }
    }

    .card__section {
      .card {
        margin-top: nth($spaces, 4);
        &__text-box {
          .btn {
            left: -4rem;
          }
        }
      }
    }
  }
}
