body {
  font-family: "Poppins", sans-serif;

  a:hover {
    background: bottom;
  }

  button {
    width: 7rem;
    height: 3rem;
    background: $VibrantGreen;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    &:hover {
      transition: 0.3s ease-in-out;
      background: $LimeGreen;
    }

    .header {
      .mainHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        nav ul {
          padding: 0;
          margin: 0;
          display: flex;
          list-style: none;

          li {
            margin: 0 15px;
            a {
              text-decoration: none;
              color: black;
            }
          }
        }
      }

      .hiddenHeader {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        z-index: 13;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        display: none;

        .logo {
          height: 2rem;
          width: 100%;
        }

        nav {
          top: 2rem;
          position: relative;

          ul {
            li {
              height: 3rem;
              width: 100%;
            }
          }
        }
      }
    }

    .hideOnLaptop {
      display: none;
    }

    @include mobile {
      .hideOnMobile {
        display: none;
      }
    }

    @include mobile {
      .hideOnLaptop {
        display: block;
      }
    }
  }

  .header {
    .mainHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;

      nav ul {
        padding: 0;
        margin: 0;
        display: flex;
        list-style: none;

        li {
          margin: 0 15px;
          a {
            text-decoration: none;
            color: $BLACK;
          }
        }
      }
    }

    .hiddenHeader {
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 250px;
      z-index: 13;
      backdrop-filter: blur(10px);
      background-color: $SemiTransparentWhite;
      box-shadow: -10px 0 10px $VeryLightTransparentBlack;
      text-align: center;
      display: none;

      .logo {
        height: 2rem;
        width: 100%;
      }

      nav {
        top: 2rem;
        position: relative;

        ul {
          li {
            height: 3rem;
            width: 100%;
          }
        }
      }
    }

    .hideOnLaptop {
      display: none;
    }

    @include mobile {
      .hideOnMobile {
        display: none;
      }
    }

    @include mobile {
      .hideOnLaptop {
        display: block;
      }
    }
  }

  .imgContainer {
    width: 98%;
    left: 12.5px;
    position: relative;

    img {
      width: 100%;
      height: 43.3rem;
      object-fit: cover;
      border-radius: 2rem;
    }

    .textOverlay {
      position: absolute;
      top: 10rem;
      left: 3rem;
      color: $WHITE;
      font-weight: bold;
      background-color: $SemiTransparentBlack;
      padding: 10px;
      border-radius: 8px;
      max-width: 40%;

      button {
        width: 10rem;
      }

      .more {
        display: inline;
        left: 1rem;
        position: relative;
      }

      .stats-container {
        display: flex;
        justify-content: space-around;
        color: $WHITE;
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        left: -4rem;
        position: relative;

        .stat-item {
          h2 {
            font-size: 2.5em;
            margin: 0;
          }

          p {
            margin: 0;
            font-size: 1em;
            color: $LightGray;
          }
        }
      }
    }
  }
}
