.quicksand-light {
  font-family: $primaryFontFamily, sans-serif;
  font-weight: 300;
  font-optical-sizing: auto;
  font-style: normal;
}

.quicksand-regular {
  font-family: $primaryFontFamily, sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
}

.quicksand-medium {
  font-family: $primaryFontFamily, sans-serif;
  font-weight: 500;
  font-optical-sizing: auto;
  font-style: normal;
}

.quicksand-semibold {
  font-family: $primaryFontFamily, sans-serif;
  font-weight: 600;
  font-optical-sizing: auto;
  font-style: normal;
}

.quicksand-bold {
  font-family: $primaryFontFamily, sans-serif;
  font-weight: 700;
  font-optical-sizing: auto;
  font-style: normal;
}
