/*------------------------------------*\
  #COLORS
\*------------------------------------*/
$primaryColor: #0dd47e;
$secondaryColor: #8d959d;
$darkColor: #1e1e1e;
$lightColor: #f2f4f4;

// defining fonts
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

$primaryFontFamily: "Quicksand";
