// _variables.scss

// defining colors
$primary-color: #0dd47e;
$text-color: #1e1e1e;
$secondary-color: #8d959d;
$background-color: #f2f4f4;

// Importing Quicksand font from Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
