.header {
  .hide-on-laptop {
    display: none;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    nav ul {
      padding: 0;
      margin: 0;
      display: flex;
      list-style: none;

      li {
        margin: 0 15px;
      }
    }
  }

  &__hidden {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 13;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: -10px 0 10px rgba(000, 000, 000, 0.1);
    text-align: center;
    display: none;

    .logo {
      height: 2rem;
      width: 100%;
    }

    &--nav {
      top: 2rem;
      position: relative;

      ul {
        li {
          height: 3rem;
          width: 100%;
        }
      }
    }
  }

  // Responsive

  @include mobile {
    .hide-on-laptop {
      display: block;
    }
    .hide-on-mobile {
      display: none;
    }
  }

  @include retinaMobile {
    .hide-on-laptop {
      display: block;
    }
    .hide-on-mobile {
      display: none;
    }
  }
}
