/*========================================================================================
*********   ALL OF THE VARIABLES TYPE 
*******     COLORS 
*****       GRIDS
***         
*/

/*========================================================================================*\
*----------------------------               COLORS              ----------------------------        
\*========================================================================================*/

    /*--------------------------------
    *** FLAT UI COLORS 
    **  flatuicolors.com/palette/defo
    */

    $black          : rgb(000, 000, 000); // #000
    $white          : rgb(255, 255, 255); // #fff
    
    $shadowBlack    : rgb(024, 026, 027); // #181a1b
    $vibrantGreen   : rgb(084, 234, 084); // #54ea54
    
    $limeGreen      : rgb(071, 198, 071); // #47c647
    $lightGray      : rgb(170, 170, 170); // #aaa
    
    $darkGray       : rgb(032, 034, 035); // #202223
    $mistGray       : rgb(244, 245, 246); // #f4f5f6
    
    $sringGreen     : rgb(187, 249, 158); // #bbf99e
    $skyBreeze      : rgb(165, 228, 249); // #a5e4f9

    $charcoalGray   : rgb(038, 039, 040); // #262728
    $forestGreen    : rgb(047, 058, 046); // #2f3a2e
    
    $softGold       : rgb(237, 208, 135); // #edd087
    $moonlitLavender  : rgb(204, 186, 254); // #ccbafe
    
/*========================================================================================*\
*----------------------------               SHADOW              ----------------------------        
\*========================================================================================*/

    $transparentBlack : rgba(0, 0, 0, 0.5); // shadow Black
    $lightShadow      : rgba(0, 0, 0, 0.1); // light shadow

    $frostedWhite    :  rgba(255, 255, 255, 0.2); // frosted-white 

/*========================================================================================*\
*----------------------------               FONTS              ----------------------------        
\*========================================================================================*/

    $primaryFontFamily: "Poppins", sans-serif;