.super-fast {
  display: flex;
  align-items: center;
  gap: 5rem;
  padding-top: 8rem;

  &__icone {
    stroke: $colorWhite;
    width: 1rem;
    height: 1rem;
    margin-bottom: -2px;
  }

  &__button {
    display: inline-flex;
    align-items: baseline;
    gap: 0.4rem;
    background-image: linear-gradient(to right, $colorSecondary, $colorPrimary);
    padding: 0.2rem 1rem 0.2rem 1rem;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 100px;
    cursor: pointer;
  }

  &__headline {
    font-size: 2.8rem;
    font-weight: 700;
    background-image: linear-gradient(to right, $colorEighth, $colorSeventh);
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 1rem;
  }

  &__paragraph {
    font-size: 1.2rem;
  }
  &__performance {
    display: inline-flex;
    gap: 0.5rem;
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  &__feature {
    display: flex;
    gap: 3rem;
  }

  &__feature-1 {
    background-image: linear-gradient(to right, $colorEighth, $colorSeventh);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 900;
    padding: 0 2.5rem 0 2.5rem;
    outline: 1px solid $colorWhite;
    outline-offset: 0.5rem;
    border-radius: 100px;
    font-size: 5rem;
  }

  &__feature-2 {
    background-image: linear-gradient(to right, $colorEighth, $colorSeventh);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 3rem;
    padding: 1.8rem 1.5rem 1.8rem 1.5rem;
    outline: 1px solid $colorWhite;
    outline-offset: 0.5rem;
    border-radius: 100px;
  }

  &__feature-3 {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    background-image: linear-gradient(to right, $colorEighth, $colorSeventh);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.2rem;
  }

  &_performance {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: -2rem;
  }

  &__icones {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
  }
  &__icone-google {
    width: 10rem;
  }
  &__icone-gtmetrix {
    width: 12rem;
  }
}

.icone-1 {
  stroke: $colorPrimary;
  width: 2rem;
  height: 2rem;
}
