/*========================================================================================
*********   ALL OF THE VARIABLES TYPE 
*******     COLORS 
*****       GRIDS
***         
*/

/*========================================================================================*\
*----------------------------               COLORE              ----------------------------        
\*========================================================================================*/

    /*--------------------------------
    *** FLAT UI COLORS 
    **  flatuicolors.com/palette/defo
    */

    $black          : rgb(000, 000, 000); // #000
    $white          : rgb(255, 255, 255); // #fff

    $shadowBlack    : rgb(024, 026, 027); // #181a1b
    $vibrantGreen   : rgb(084, 234, 084); // #54ea54
    
    $limeGreen      : rgb(071, 198, 071); // #47c647
    $lightGray      : rgb(170, 170, 170); // #aaa

    $transparentBlack : rgba(0, 0, 0, 0.5); // shadow Black