body {
  font-family: $primaryFontFamily;

  a {
    text-decoration: none;
    color: $black;

    &:hover {
      transition: 0.5s;
      color: $lightGray;
    }
  }

  li {
    list-style-type: none;
  }

  * {
    font: revert;
  }
}
