/*========================================================================================
*********   ALL OF THE VARIABLES TYPE 
*******     COLORS 
*****       GRIDS
***         
*/

    /*========================================================================================*\
    *----------------------------               COLORS              ----------------------------        
    \*========================================================================================*/

    /*--------------------------------
    *** FLAT UI COLORS 
    **  flatuicolors.com/palette/defo
    */

    $black          : rgb(000, 000, 000); // #000
    $gray           : rgb(128, 128, 128); // #808080

    $green          : rgb(000, 128, 000); // #008000
    $red            : rgb(255, 000, 000); // #ff0000

    $yellow         : rgb(255, 255, 000); // #ffff00
    $orange         : rgb(255, 165, 000); // #ffa500

    $blue           : rgb(000, 000, 255); // #0000ff
    $white          : rgb(255, 255, 255); // #fff

    $softSky        : rgb(236, 240, 241); // #ecf0f1;
    $paleSky        : rgb(245, 248, 250); // #f5f8fa

    $silverMist     : rgb(224, 224, 224); // #e0e0e0
    $lightGray      : rgb(170, 170, 170); // #aaa

    $slateGray      : rgb(159, 165, 181); // #9fa5b5
    $coralSunset    : rgb(255, 150, 113); // #ff9671

    $coralRed       : rgb(255, 94, 87); // #ff5e57
    $mysticPurple   : rgb(089, 070, 140); // #59468c
    
    /*========================================================================================*\
    *----------------------------               SHADOW              ----------------------------        
    \*========================================================================================*/
    
    $shadowBlack    : rgba(000, 000, 000, 0.2); //  #00000033
    $softCoral      : rgba(255, 094, 087, 0.4); // #ff5e5766
    
    $blushCoral     : rgba(255, 094, 087, 0.5); // #ff5e5780
    $frostedSlate   : rgba(051, 071, 91, 0.12); // #33475b1f

    /*========================================================================================*\
    *----------------------------               FONTS              ----------------------------        
    \*========================================================================================*/

    $primaryFontFamily: "Poppins", sans-serif;

/*
***         
*****      
*******     
*********   
/*========================================================================================*/