/*========================================================================================
*********   ALL OF THE VARIABLES TYPE 
*******     COLORS 
*****       GRIDS
***         
*/

    /*========================================================================================*\
    *----------------------------               COLORS              ----------------------------        
    \*========================================================================================*/

    /*--------------------------------
    *** FLAT UI COLORS 
    **  flatuicolors.com/palette/defo
    */

    $black          : rgb(000, 000, 000); // #000
    $white          : rgb(255, 255, 255); // #fff
    
    $lightGray      : rgb(170, 170, 170); // #aaa
    $coralSunset    : rgb(255, 150, 113); // #ff9671

    $silverMist     : rgb(224, 224, 224); // #e0e0e0
    $slateGray      : rgb(159, 165, 181); // #9fa5b5
    
    /*========================================================================================*\
    *----------------------------               SHADOW              ----------------------------        
    \*========================================================================================*/
    
    $shadowBlack   : rgba(0, 0, 0, 0.2);

    /*========================================================================================*\
    *----------------------------               FONTS              ----------------------------        
    \*========================================================================================*/

    $primaryFontFamily: "Poppins", sans-serif;

/*
***         
*****      
*******     
*********   
/*========================================================================================*/