/*========================================================================================
*********    
*******      
*****       DIV AUTH
***         
*/

.auth-form{
  width           : 100%;
  position        : relative;
  overflow        : hidden;
  display         : flex;
  flex-direction  : row;

  .pic-login{
      width                   : 50%;
      object-fit              : cover;
      background-color        : $REDLOGIN ;

      @include mobile{
        display               : none;
      }
  }
  

  .section-login{
      width                   : 50%;
      margin                  : 0 auto;
      background-color        : $WHITE;
      border-radius           : 6%;
      align-items             : center;
      justify-content         : center;
      display                 : flex;
      position                : relative;

      @include mobile{
        width                 : 100%;
      }

      spam{
          padding-bottom      : 1em;
          font-size           : 3em;
          display             : flex;
          justify-content     : center;
      }

      .section-label-input{
        width                 : 50%;
        display               : flex;
        flex-direction        : column;
        justify-content       : center;
       
          
        input{
            border                : 1px solid $BLACK;
            border                : 1px solid $BORDER-COLOR ;
            width                 : 80%;
            border-radius         : 30px;
            transition            : all 0.7s;

            &:focus{
              border              : 1px solid  $REDLOGIN ;
            }
          }

          label{  
            font-weight         : bold;
            font-size           : 20px;
            display             : flex;
            margin              : 1em 0em;
          }


          .showpass {
            display             : block;
            position            : relative;
            padding-left        : 45px;
            margin-top          : 1em;
            margin-bottom       : 12px;
            font-weight         : unset;
            cursor              : pointer;
            font-size           : 15px;
            user-select         : none;

            input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;
            }
           
            .checkmark {
              position          : absolute;
              bottom            : -3px;
              left              : 10px;
              height            : 20px;
              width             : 20px;
              background-color  : $WHITE;
              border            : 0.5px solid grey;
              border-radius     : 6px;
                /* Create the checkmark/indicator (hidden when not checked) */
                &:after {
                content             : "";
                position            : absolute;
                display             : none;
                left                : 6px;
                top                 : 3px;
                width               : 5px;
                height              : 10px;
                border              : solid $WHITE;
                border-width        : 0 3px 3px 0;
                transform           : rotate(45deg);
              }
              
            }
           
          }//showpass
          
          .showpass:hover input ~ .checkmark {
            background-color    : $WHITE;
          }
          
          /* When the checkbox is checked, add a blue background */
          .showpass input:checked ~ .checkmark {
            background-color    : $CHECKBOX;
            box-shadow          : 0px 0px 5px 5px rgba($color: $CHECKBOX, $alpha: 0.5);
            border              : unset;
            
          }
          
          /* Show the checkmark when checked */
          .showpass input:checked ~ .checkmark:after {
            display             : block;
          }
          
          
          

          .underborder{   
            margin-top          : 1em;
            margin-bottom       : 1em;    
            border-bottom       : 1px solid $BLACK;
          }
          .button{
            background          : $REDLOGIN ;
            margin-top          : 2em;
            border              : 1px solid transparent;
            transition          : all 0.5s;
            &:hover{
              border            : 1px solid  $REDLOGIN ;
              background        : $WHITE;
              color             : $REDLOGIN ;
            }

          }
      }//section label and input
  }//section login

}//login