/*========================================================================================
*********    
*******      
*****       DIV BLOG
***         
*/
.blur-page{
    filter          : blur(10px);
}
.basket{
    width           : 100%;
    z-index         : -1;
   
    
    .section-header{
        width                       : 100%;
        height                      : 5em;
        position                    : relative;
        box-shadow                  : 0px 0px 20px 0px rgba($color: #000000, $alpha: 0.2);
        .header-basket{
            display                 : flex;
            flex-direction          : row;
            margin                  : 0 auto;
            align-items             : center;
            justify-content         : space-between;
            position                : relative;
            top                     : 30%;
            width                   : 80%;
            .icon-header{
                width               : 7em;
                height              : 3em;
                object-fit          : cover;
            }
            .icon{
                font-size           : 1.5em;
            }
            a{
                background          : transparent;
            }
           
        }//header basket
    }//section header
    .content-basket{  
        background                  : $WHITE;
        height                      : 100vh;
        h2{
            text-align              : center;
            font-size               : 2em;
            margin                  : 1em 0em 1.5em;
           

            @include mobile{
                font-size           : 1.5em;
            }
        }
        .section-cards{
            display                 : flex;
            flex-direction          : row;
            justify-content         : center;

            @include mobile{
                flex-direction      : column;
            }
            .cards{
                display         : flex;
                flex-direction  : column;
                border-radius   : 15px;
                margin          : 2em;
                height          : 26em;
                width           : 18%;
                padding         : 2em 3em;
                box-shadow      : 0px 0px 20px 10px rgba($color: #000000, $alpha: 0.1);
                
                @include mini_laptop{
                    width       : 27%;
                }
                @include mobile{
                    width       : 45%;
                    margin      : 1em auto;
                }

                .img-card{
                    // background-color: $WHITE;
                    width       : 7em;
                    height      : 7em;
                    margin      : 1em auto;
                }
                button{
                    background-color    : $WHITE;
                    border-radius       : 22px;
                    height              : 3em;
                    width               : 13em;
                    margin              : 0 auto;
                    border              : 1px solid $GREEN-BUTTON-BASKET;
                    color               : $GREEN-BUTTON-BASKET;
                    cursor              : pointer;
                    margin-bottom       : 3em;
                    > a{
                        color           : $GREEN-BUTTON-BASKET;
                        &:hover{
                            background-color: transparent;
                           
                        }
                    }
                    &:hover{
                        background-color: rgba($color: $GREEN-BUTTON-BASKET, $alpha: 0.1);
                        a{
                            color       : $BLACK;
                        }
                    }
                }//button

                .section-text{
                    margin                  : 1.5em 0em;
                    text-align              : center;
                    h3{
                        text-align          : center;
                        font-size           : 1.7em;
                        margin-bottom       : 1.5em;
                    }
                    span{
                        text-align          : center;
                        margin-bottom       : 2.5em;
                        color               : rgba($color: $BLACK, $alpha: 0.8);
                    }
                }//section text
                .link-bottom{
                    position                : relative;
                    bottom                  : 0em;
                }
                a{
                    background-color        : transparent;
                    text-align              : center;
                }
            }//cards
        }//section card
        
    }//content basket
    .sec-1{
        
        z-index                 : -1;
        
   
        
    }//sec-1
    .sec-2{
        width                   : 100%;
        height                  : max-content;
        background-color        : $WHITE;
        position                : absolute;
        top                     : 0;
        bottom                  : 0;
        left                    : 105%;
        right                   : 0;
        z-index                 : 99;
        transition              : all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);

        .section-select{
            margin              : 0 auto;
            display             : flex;
            justify-content     : center;
            flex-flow           : row wrap;
            width               : 70%;
            padding-bottom      : 2em;
            margin-bottom       : 1em;
            border-bottom       : 1px solid rgba($color: $BLACK, $alpha: 0.2);

            @include mobile{
                width           : 80%;
            }
            @include mini_mobile{
                width           : 90%;
            }
            

            .img-bg{
                width           : 11em;
                opacity         : 0.2;
                position        : absolute;
                top             : -29%;
                right           : -17%;
            }//img bg
            .select-platform{
                width           : 20em;
                height          : 7em;
                margin          : 1em;
                
                @include tablet{
                    width       : 19em;
                }
                @include mobile{
                    width       : 22em;
                }

                .text-in-plat{
                    font-size   : 1.7em;
                    position    : absolute;
                    top         : 50%;
                    left        : 59%;
                    transform   : translate(-50%, -50%);
                    white-space : pre;
                }
                
            }//select platform

            input[type="radio"] {
                display         : none;
                &:not(:disabled) ~ label {
                    cursor      : pointer;
                  }
                  &:disabled ~ label {
                    color       : $DISABLE-COLOR;
                    border-color: $DISABLE-COLOR;
                    box-shadow  : none;
                    cursor      : not-allowed;
                  }
            }//input radio

            label {
                height              : 100%;
                display             : block;
                background          : $WHITE;
                border              : 1px solid rgba($mainColorWeprodev, 0.2);
                border-radius       : 20px;
                overflow            : hidden;
                margin-bottom       : 1rem;
                text-align          : center;
                box-shadow          : 0px 3px 10px -2px $BOX-SHADOW-PLATFORM;
                position            : relative;
              }//label

              input[type="radio"]:checked + label {
                background          : $GREEN-BUTTON-BASKET;
                color               : $WHITE;
                box-shadow          : 0px 0px 20px $GREEN-BUTTON-BASKET;
                
                &::after {
                    color           : $BLACK;
                    border          : 2px solid $GREEN-BUTTON-BASKET;
                    content         : '✓';
                    font-size       : 30px;
                    position        : absolute;
                    top             : 28%;
                    left            : 3%;
                    height          : 45px;
                    width           : 45px;
                    line-height     : 40px;
                    text-align      : center;
                    border-radius   : 50%;
                    background      : white;
                }//after
            }//input + label
           
            .circle{
                left                : 4%;
                bottom              : 28%;
                position            : absolute;
                overflow            : hidden;

                img{
                    width           : 2.7em;
                    height          : 2.65em;
                    object-fit      : cover;
                    opacity         : 1;
                }
            }//circle
        }//section select
        .section-Response{
            display                 : flex;
            align-items             : center;
            flex-direction          : column;
            margin                  : 0 auto;
            width                   : 47%;
            text-align              : left;
            margin-bottom           : 3em;
            
            @include mini_laptop{
                width               : 67%;
            }
            @include mobile{
                width               : 60%;
            }
            @include mobile{
                width               : 70%;
            }
            .check{
                width               : 95%;
                @include laptop{
                    width           : 100%;
                }
                @include mini_laptop{
                    width           : 95%;
                }
                @include mobile{
                    width           : 100%;
                }
            }
            .container {
                display             : block;
                position            : relative;
                padding-left        : 2.5em;
                margin-bottom       : 2em;
                cursor              : pointer;
                user-select         : none;
                line-height         : 1.7;
                
                input {
                    position        : absolute;
                    opacity         : 0;
                    cursor          : pointer;
                    height          : 0;
                    width           : 0;
                }
            }//container

            .checkmark{
                position            : absolute;
                top                 : 0;
                left                : 0;
                height              : 25px;
                width               : 25px;
                background-color    : $WHITE;
                border              : 1px solid rgba($color: $BLACK, $alpha: 0.7);
                border-radius       : 6px;
  

                &:after {
                    content         : "";
                    position        : absolute;
                    display         : none;
                    left            : 9px;
                    top             : 5px;
                    width           : 5px;
                    height          : 10px;
                    border          : solid $WHITE;
                    border-width    : 0 3px 3px 0;
                    transform       : rotate(45deg);
                  }
            }//checkmark
            .container input:checked ~ .checkmark:after {
                display             : block;
            }
            .container:hover input ~ .checkmark {
                background-color    : rgba($color: $CONCRETE, $alpha: 0.2);
            }
              
              /* When the checkbox is checked, add a blue background */
            .container input:checked ~ .checkmark {
                background-color    : $mainColorWeprodev;
                box-shadow          : 0px 0px 5px 5px rgba($color: $mainColorWeprodev, $alpha: 0.5);
                border              : unset; 
            }
        }//section response
        .sec-textarea{
            margin                  : 0em auto;
            width                   : 100%;
            display                 : flex;
            flex-direction          : column;
            justify-content         : center;
            
           
            form{
                display             : flex;
                flex-direction      : row;
                width               : 100%;
                margin              : 0 auto;
                justify-content     : center;

                @include retinaMobile{
                    flex-direction  : column;
                }
                @include mobile{
                    flex-direction  : column;
                }
                .div-input{
                    margin          : 0em 1em;
                    width           : 30%;

                    @include retinaMobile{
                        width       : 100%;
                        margin      : 0.5em 0em;
                    }
                    @include mobile{
                        width       : 100%;
                        margin      : 0.5em 0em;
                    }
                    
                    label{
                        margin-bottom   : 0.5em;
                        display         : inline-block;
                        vertical-align  : middle;
                    }
                    .class-star{
                        line-height     : 1em;
                        display         : inline-block;
                        vertical-align  : middle;
                        color           : red;
                        margin-left     : -0.3em;
                    }
                }
                input{
                    padding-right       : 0em;
                    width: -webkit-fill-available;
                }
            }//form
            .textarea-btn{
                margin                  : 0 auto;
                display                 : grid;
                width                   : 100%;
                margin-top              : 1em;

                @include mini_laptop{
                    width               : 97%;
                }
                @include retinaMobile{
                    width               : 100%;
                }
                @include mobile{
                    width               : 100%;
                }

                textarea{
                    margin              : 0 auto;
                    width               : 94%;
                    height              : 8em;
                    border-radius       : 5px;
                    border              : 1px solid rgba($color: $BLACK, $alpha: 0.2);
                    margin-bottom       : 1em;
                    resize              : none;
    
                    @include laptop{
                        width: 99%;
                    }
                    @include mini_laptop{
                        width: 97%;
                    }
                }//textarea
                label{
                    margin-bottom       : 1em;
                    margin-left         : 1em;

                    @include mini_laptop{
                        margin-left     : 0.5em;
                    }
                }
                .btn{
                    width               : 7em;
                    height              : 2.5em;
                    border              : 1px solid rgba($color: $BLACK, $alpha: 0.5);
                    background          : $WHITE;
                    border-radius       : 5px;
                    float               : left;
                    margin-left         : 1em;
                    
                    @include mini_laptop{
                        margin-left     : 0.5em;
                    }
                   
                    &:hover{
                        background      : $mainColorWeprodev;
                        color           : $WHITE;
                        border          : none;
                    }
    
                }//BUTTON
                
            }//textarea-btn
        }//sec textarea
    }//sec-2
    .sub-sec-2{    
            left                : 0% !important;
    }
    .sec-3{
        width                   : 100%;
        height                  : 100%;
        background-color        : $WHITE;
        position                : absolute;
        top                     : 0%;
        bottom                  : 0%;
        right                   : 105%;
        z-index                 : 99;
        transition              : all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);

        // .content-basket{
        //     height              : 70vh;
        // }
        .section-Response{
           
            display                 : flex;
            align-items             : center;
            flex-direction          : column;
            margin                  : 0 auto;
            width                   : 47%;
            text-align              : left;
            margin-top              : 4em;
            
            @include mini_laptop{
                width               : 67%;
            }
            @include mobile{
                width               : 60%;
            }
            @include mobile{
                width               : 70%;
            }
            .check{
                width               : 95%;
                @include laptop{
                    width           : 100%;
                }
                @include mini_laptop{
                    width           : 95%;
                }
                @include mobile{
                    width           : 100%;
                }
            }
            .container {
                display             : block;
                position            : relative;
                padding-left        : 2.5em;
                margin-bottom       : 2em;
                cursor              : pointer;
                user-select         : none;
                line-height         : 1.7;
                
                input {
                    position        : absolute;
                    opacity         : 0;
                    cursor          : pointer;
                    height          : 0;
                    width           : 0;
                }
            }//container

            .checkmark{
                position            : absolute;
                top                 : 0;
                left                : 0;
                height              : 25px;
                width               : 25px;
                background-color    : $WHITE;
                border              : 1px solid rgba($color: $BLACK, $alpha: 0.7);
                border-radius       : 6px;
  

                &:after {
                    content         : "";
                    position        : absolute;
                    display         : none;
                    left            : 9px;
                    top             : 5px;
                    width           : 5px;
                    height          : 10px;
                    border          : solid $WHITE;
                    border-width    : 0 3px 3px 0;
                    transform       : rotate(45deg);
                  }
            }//checkmark
            .container input:checked ~ .checkmark:after {
                display             : block;
            }
            .container:hover input ~ .checkmark {
                background-color    : rgba($color: $CONCRETE, $alpha: 0.2);
            }
              
              /* When the checkbox is checked, add a blue background */
            .container input:checked ~ .checkmark {
                background-color    : $mainColorWeprodev;
                box-shadow          : 0px 0px 5px 5px rgba($color: $mainColorWeprodev, $alpha: 0.5);
                border              : unset; 
            }
        }//section response
        .sec-textarea{
            margin                  : 0em auto;
            width                   : 100%;
            display                 : flex;
            flex-direction          : column;
            justify-content         : center;
            
           
            form{
                display             : flex;
                flex-direction      : row;
                width               : 100%;
                margin              : 0 auto;
                justify-content     : center;

                @include retinaMobile{
                    flex-direction  : column;
                }
                @include mobile{
                    flex-direction  : column;
                }
                .div-input{
                    margin          : 0em 1em;
                    width           : 30%;

                    @include retinaMobile{
                        width       : 100%;
                        margin      : 0.5em 0em;
                    }
                    @include mobile{
                        width       : 100%;
                        margin      : 0.5em 0em;
                    }
                    
                    label{
                        margin-bottom   : 0.5em;
                        display         : inline-block;
                        vertical-align  : middle;
                    }
                    .class-star{
                        line-height     : 1em;
                        display         : inline-block;
                        vertical-align  : middle;
                        color           : red;
                        margin-left     : -0.3em;
                    }
                }
                input{
                    padding-right       : 0em;
                    width: -webkit-fill-available;
                }
            }//form
            .textarea-btn{
                margin                  : 0 auto;
                display                 : grid;
                width                   : 100%;
                margin-top              : 1em;

                @include mini_laptop{
                    width               : 97%;
                }
                @include retinaMobile{
                    width               : 100%;
                }
                @include mobile{
                    width               : 100%;
                }
                
                textarea{
                    margin              : 0 auto;
                    width               : 94%;
                    height              : 8em;
                    border-radius       : 5px;
                    border              : 1px solid rgba($color: $BLACK, $alpha: 0.2);
                    margin-bottom       : 1em;
                    resize              : none;
    
                    @include laptop{
                        width: 99%;
                    }
                    @include mini_laptop{
                        width: 97%;
                    }
                }//textarea
                label{
                    margin-bottom       : 1em;
                    margin-left         : 1em;

                    @include mini_laptop{
                        margin-left     : 0.5em;
                    }
                }
                .btn{
                    width               : 7em;
                    height              : 2.5em;
                    border              : 1px solid rgba($color: $BLACK, $alpha: 0.5);
                    background          : $WHITE;
                    border-radius       : 5px;
                    float               : left;
                    margin-left         : 1em;
                    
                    @include mini_laptop{
                        margin-left     : 0.5em;
                    }
                   
                    &:hover{
                        background      : $mainColorWeprodev;
                        color           : $WHITE;
                        border          : none;
                    }
    
                }//BUTTON
                
            }//textarea-btn
        }//sec textarea
       
    }
    .sub-sec-3{
        right               : 0% !important;
        // position            : fixed;     
    }
    .section-page-close{
        z-index             : 999;
        padding             : 2em;
        position            : absolute;
        width               : 37em;
        height              : 18em;
        transform           : translate(-50%, -50%);
        top                 : 50%;
        left                : 50%;
        background          : $WHITE;
        border-radius       : 5px;
        color               : $BLACK;
        flex-direction      : column;
        align-items         : center;
        justify-content     : center;
        background-color    : $WHITE;
        box-shadow          : 0px 0px 20px 6px rgba(0, 0, 0,0.38);
        display             : none;

        @include mobile{
            width           : 33em;
            height          : 15em;
        }
        @include mini_mobile{
            height          : 13em;
        }
        h2{
            text-align      : center;
            font-size       : 2.5em;
        }
       .section-but{
           display                      : flex;
           flex-direction               : row;
           margin                       : 2em;
           font-size                    : 1.5em;
           margin-bottom                : 0em;
          
            button{
                margin-left             : 1em;
                padding                 : 0.5em 1em;
                background-color        : rgba(90, 211, 90, 0.986);//#1dc973
                border                  : 1px solid transparent;
                font-size               : 1em;
                width                   : 4em;
                border-radius           : 5px;
                cursor                  : pointer;

                &:hover{
                    background-color    : rgba(90, 211, 90, 0.9);
                    transform           : scale(1.1);
                }
            }//button
            a{  
                display                 : inline-block;
                background-color        : white;
                width                   : 2em;
                text-align              : center;
                padding                 : 0.5em 1em;
                border                  : 1px solid rgba($color: #000000, $alpha: 0.3);
                border-radius           : 5px;
                &:hover{
                    background-color    : rgba(0, 0, 0,0.1);                                       color               : $WHITE;
                    transform           : scale(1.1);
                }
            }//a
       }//section-but
    }//section-page-close
            .show-display{
                display                 : flex;
            }
  
}//basket               