/*========================================================================================
*********    
*******      
*****       STYLE HEADER HOME PAGE
***         
*/

body{
    margin  : 0em !important;
    padding : 0;
    // .home-page--weprodev{
    //     width: 100%;
        
        header{
            background-color: $WHITE;
            width           : 100vw;
            height          : 5.5em;
            border-bottom   : 1px solid $CLOUDS;
            box-shadow      : 0px 4px 8px rgba($color: $BLACK, $alpha: 0.1);
            position        : fixed;
            z-index         : 5000;
            .logo{
                position: absolute;
                left    : 13%;
                top     : -0.5em;
                @include laptop {
                    left: 6%;
                }
                img{
                    max-width: 9em;
                }
            }
            
            &>ul{
                display     : flex;
                margin-left : auto;
                margin-right: auto;
                padding     : 0em;
                max-width   : 30em;
                height      : 88%;
                padding-top : 0.6em;
                @include mini_laptop{
                    display         : none;
                    background-color: $WHITE;
                    max-width       : 64em;
                    position        : absolute;
                    top             : 5.5em;
                    .last-li-menu{
                        box-shadow  : 0px 3px 6px #ecf0f1;
                    }

                }
                
                li{
                    list-style  : none;
                    position    : relative;
                    transition  : 0.5s;
                    box-sizing  : border-box;
                    display     : flex;
                    @include mini_laptop{
                        display         : block;
                        width           : 100vw;
                        background-color: $WHITE;
                    }   
                    .Circle{
                        opacity     : 0;
                        visibility  : hidden;
                        margin-right: 1em;
                        // transition  : 0.3s;
                    }
                    .icon-circle-down{
                        display: none;
                    }
                    @include mini_laptop {
                        .icon-circle-down , .icon-circle-up{
                            position        : absolute;
                            top             : 1.3em;
                            right           : 1.2em;
                            font-size       : 1.7em;
                            margin-top      : 0em;
                            display         : block;
                            color           : $secondColorWeprodev;
                            z-index         : 200;
                            border-radius   : 1em;
                        }
                        .icon-circle-up{
                            background-color: $mainColorWeprodev;
                            color           : $WHITE;
                        }
                    }
                    &:hover{
                        ul{
                            top     : 4.9em;
                            display : block;
                            @include mini_laptop{
                                display: none;
                            }

                        }
                        .l-one{
                            color           : $mainColorWeprodev;
                            background-color: transparent;
                            cursor          : pointer;
                            .Circle{
                                opacity     : 1;
                                visibility  : visible;
                            }
                        }
                    }
                    a{
                        text-decoration : none;
                        color           : $secondColorWeprodev;
                        font-size       : 1.1em;
                        font-weight     : 500;
                        width           : 100%;
                        height          : 100%;
                        display         : block;
                        line-height     : 5.5em;
                        padding         : 0em 1em 0em 0.5em;
                    }
                    ul{
                        background-color: $WHITE;
                        position        : absolute;
                        top             : 5em;
                        display         : none;
                        width           : 13em;
                        transition      : 0.6s;
                        margin-top      : 0em;
                        height          : auto;
                        padding         : 0em;
                        border-radius   : 0em 0em 0.5em 0.5em;
                        // box-shadow      : 0px 3px 18px $CLOUDS;
                        z-index         : 1500;
                        @include mini_laptop {
                            width       : 60em;                         
                            transition  : 0.2s;
                            box-shadow  : none;
                            position    : static;
                            padding-left: 5vw;
                        }
                        li{
                            height      : 3.5em;
                            width       : 13em;
                            margin-top  : 0;
                            @include mini_laptop{
                                 transition: 0.3s;
                            }
                            
                            &:hover{
                                .l-two{
                                    color           : $mainColorWeprodev;
                                    background-color: transparent;
                                    cursor          : pointer;
                                    .Circle{
                                        opacity     : 1;
                                        visibility  : visible;
                                    }
                                }
                            }
                            a{
                                line-height : 2em;
                                width       : 100vw;
                                padding-left: 0.5em;
                            }

                        }//li
                    }//ul
                }//li
            }//ul

            .search{
                position    : absolute;
                right       : 17%;
                top         : 3em;
                height      : 2.5em;
                transition  : all 0.5s;
                cursor      : pointer;
                display     : none;
                @include laptop{
                    right: 6%;
                }
                &:hover{
                    .icon-search{
                        color: $mainColorWeprodev;
                    }
                }

                .icon-search{
                    font-size   : 1.3em;
                    color       : $secondColorWeprodev;
                    transition  : all 0.2s;
                    display     : block; 
                }
                @include mini_laptop{
                    display: none;
                }
            }//search
            .search-active{
                width           : 100vw;
                height          : 100%;
                position        : absolute;
                top             : -9em;
                background-color: $WHITE;
                border-radius   : 0em 0em 0.5em 0.5em;
                display         : none;

                .search-active-content{
                    height      : 2em;
                    width       : 70%;
                    margin-left : auto;
                    margin-right: auto;
                    margin-top  : 2.5em;
                    display     : flex;
                    color       : $secondColorWeprodev;

                    .text-search{
                        width           : 90%;
                        margin-top      : 0.2em;
                        justify-content : center;
                        color           : $secondColorWeprodev;
                        font-size       : 1.2em;
                        font-weight     : 500;
                        border          : none;
                        transition      : all 0.4s;
                    }
                    .icon-search{
                        font-size       : 1.3em;
                        justify-content : start;
                        padding         : 0.25em;
                        padding-top     : 0.6em;
                        border-radius   : 0.1em;
                        transition      : all 0.4s;
                        cursor          : pointer;
                        &:hover{
                            color: $mainColorWeprodev;
                        }
                    }
                    .icon-searchh{
                        justify-content : end;
                        font-size       : 1.3em;
                        padding         : 0.25em;
                        padding-top     : 0.7em;
                        border-radius   : 0.1em;
                        transition      : all 0.4s;
                        cursor          : pointer;
                        &:hover{
                            color       : $mainColorWeprodev;
                        }
                    }
                }//search-active-content
            }//search-active
            .section-responsive{
                display     : none;
                position    : absolute;
                top         : 1.2em;
                right       : 2em;
                color       : $secondColorWeprodev;
                font-size   : 2em;
                transition  : all 0.5s;
                opacity     : 0;
                &:hover{
                    color: $mainColorWeprodev;
                }
                @include mini_laptop{
                    opacity : 1;
                    display : inline;
                }
            }
        }//header
        .sticky {
            position        : fixed;
            top             : 0;
            width           : 100%;
            transition      : top 1s;
          }
          
        //   .sticky + .content {
        //     padding-top     : 7em;
        //   }
        
        .content{
            // padding-top: 5.5em;
            .our-services-section{
                width       : 70%;
                height      : 22em;
                margin-left : auto;
                margin-right: auto;
                margin-top  : 3em;
                position    : relative;

                @include laptop {
                    width: 90%;
                }
                @include mini_laptop{
                    height: 50em;
                }
                .title-our-services{
                    width       : 100%;
                    color       : $mainColorWeprodev;
                    font-size   : 3.3em;
                    font-weight : 500;
                    text-align  : center;
                    display     : block;
                    
                    @include mobile {
                        font-size: 2.6em;
                    }
                    @include mini_mobile{
                        font-size: 1.8em;
                    }
                }
                .card-for-services{
                    width       : 100%;
                    position    : absolute;
                    bottom      : 1.3em;
                    left        : 0em;
                    .our-services-card{
                        width           : 30%;
                        height          : 14em;
                        float           : left;
                        border-radius   : 0.5em;
                        transition      : all 0.4s;
                        cursor          : pointer;
                        @include mini_laptop {
                            width   : 45%;
                            height  : 16em;
                        }
                        @include retinaMobile {
                            width   : 100%;
                            height  : 14em;
                        }
                        @include mobile{
                            width   : 100%;
                            height  : 14em;
                        }
                        &:hover{
                            .title-card-our-services{
                                color: $mainColorWeprodev;
                            }
                            box-shadow: 5px 6px 18px rgba($color: #ff5e57, $alpha: 0.3);   
                        }
                        .title-card-our-services{
                            margin      : 1em;
                            font-size   : 1.1em;
                            font-weight : 600;
                            color       : $secondColorWeprodev;
                            margin-top  : 1.5em;
                            transition  : all 0.4s;
                            @include mini_mobile{
                                font-size: 1em;
                            }

                            span {
                                display     : inline;
                                margin-right: 0.5em;
                                font-size   : 1.5em;
                                @include mini_mobile{
                                    margin-right: 0em;
                                    font-size   : 1.3em;;
                                }
                            }
                            h3{
                                display     : inline;
                                line-height: 1.6em;
                            }
                        }
                        .text-card-our-services{
                            margin      : 1em;
                            font-size   : 1em;
                            line-height : 1.7em;
                        }
                    }//our-services-card
                    .margin-left-right{
                        margin-left : 4.5%;
                        margin-right: 4.5%;
                        @include tablet {
                            margin-left: 0em;
                        }
                    }
                }//card-for-services
            }//our-services-section

            .our-portfolio-section{
                width           : 100%;
                height          : 48em;
                background-color: rgba($color: $SILVER, $alpha: 0.1);
                display         : block;
                margin-top      : 2em;
                // @media screen and (max-width : $epsilon) {
                //     height: 42em;
                // }
                // @media screen and (max-width : $lota) {
                //     height: 40em;
                // }
                @include retinaMobile{
                    height: 42em;
                }
                @include mobile{
                    height: 40em;
                }
                .title-our-portfolio{
                    width           : 100%;
                    margin-left     : auto;
                    margin-right    : auto;
                    padding-top     : 4.5em;
                    padding-bottom  : 4em;
                    text-align      : center;

                    h3{
                        color       : $mainColorWeprodev;
                        font-size   : 3.3em;
                        line-height : 2em;
                        font-weight : 500;
                        @include mobile {
                            font-size: 2.6em;
                        }
                        @include mini_mobile{
                            font-size: 1.8em;
                        }
                    }
                }//title-our-portfolio
                .tns-outer{
                    position        : relative;
                    .tns-nav{
                        position    : absolute;
                        bottom      : -3em;
                        left        : 47%;
                        
                        button{
                            height          : 1.5em;
                            width           : 1.5em;
                            background-color: transparent;
                            border          : 2px solid $mainColorWeprodev;
                            border-radius   : 1em;
                            margin-right    : 1em;
                        }
                    }
                    .tns-nav-active{
                        background-color: $mainColorWeprodev !important;
                    }
                }//tns-outer
                .card-section-portfolio{
                    height  : auto;
                    display : block;
                    
                    .card-portfolio{
                        height      : 27em;
                        cursor      : pointer;
                        margin-left : 0.5em;

                        img{
                            width   : 100%;
                            height  : 60%;
                        }
                        .title-card-portfolio{
                            font-size       : 1.5em;
                            font-weight     : 600;
                            line-height     : 1.4em;
                            margin-bottom   : 0.4em;
                            @include tablet {
                                font-size: 1.4em;
                            }
                            @include mobile{
                                font-size: 1.5em;
                            }
                        }
                        .description{
                            font-size   : 1.1em;
                            margin-top  : -1em;
                            color       : $ASBESTOS;
                            @include mini_mobile{
                                font-size: 1.1em;
                            }
                        }
                    }//card-portfolio
                }//card-section-portfolio
            }//our-portfolio-section
            

            .latest-posts-section{
                width           : 70%;
                height          : 60em;
                margin-bottom   : 2em;
                margin-left     : auto;
                margin-right    : auto;
                @include laptop{
                    width: 90%;
                }

                .title-latest-posts{
                    text-align  : center;
                    padding-top : 4em ;
                    padding-bottom: 4em ;
                    h3{
                        font-size       : 3.3em;
                        line-height     : 2em;
                        font-weight     : 500;
                        color           : $mainColorWeprodev;
                        @include mobile {
                            font-size: 2.6em;
                        }
                        @include mini_mobile{
                            font-size: 1.8em;
                        }
                    }
                }//title-latest-posts
                .card-for-latest{
                    height  : 40em;
                    width   : 100%;
                    @include led {
                        height: 44em;
                    }
                    @include lcd {
                        height: 40em;
                    }
                    .latest-posts-card{
                        float           : left;
                        display         : block;
                        border-radius   : 1em;
                        width           : 32%;
                        height          : 100%;
                        cursor          : pointer;
                        position        : relative;
                        transition      : all 0.3s;
                        @include mini_laptop{
                            width           : 48%;
                            margin-bottom   : 3em;
                        }
                        @include mobile{
                            width: 100%;
                        }
                        &:hover{
                            box-shadow: 2px 10px 18px rgba($color: #ff5e57, $alpha: 0.3);
                        }
                        .date{
                            width           : 3em;
                            height          : 4em;
                            background-color: $WHITE;
                            border-radius   : 0.5em;
                            box-shadow      : 0px 0px 40px rgba($color: $secondColorWeprodev , $alpha: 0.4);
                            position        : absolute;
                            top             : 1em;
                            left            : 1em;
                            z-index         : 50;
                            text-align      : center;
                            display         : block;
                            
                            .day{
                                display     : block;
                                font-size   : 1.5em;
                                margin-top  : 0.2em;
                                color       : $secondColorWeprodev;
                            }
                            .month{
                                display     : block;
                                font-size   : 1em;
                                color       : $secondColorWeprodev;
                                margin-top  : -0.5em;
                            }
                        }//date
                        .img-card-latest{
                            width           : 100%;
                            height          : 50%;
                            z-index         : 10;
                            display         : inline;
                            border-radius   : 1em 1em 0em 0em;
                        }
                        .text-card-latest{
                            height          : 50%;
                            border-radius   : 0em 0em 1em 1em;
                            padding         : 1.2em;
                            margin-top      : 2em;
                            @include laptop {
                                margin-top  : 1.5em;
                            }

                            .photography{
                                color       : $ASBESTOS;
                                font-size   : 0.9em;
                            }
                            h3{
                                font-size       : 1.3em;
                                line-height     : 1.5em;
                                color           : $secondColorWeprodev;
                                margin-top      : 0.4em;
                                @include laptop{
                                    font-size   : 1.2em;
                                    line-height: 1.7em;
                                }
                            }
                            p{
                                font-size       : 1.1em;
                                color           : $ASBESTOS;
                                line-height     : 1.5em;
                                margin-top: 0.5em;
                                @include laptop{
                                    font-size   : 1em;
                                }
                            }
                            .read-more{
                                font-size   : 1em;
                                line-height : 2.5em;
                                font-weight : 500;
                                color       : $secondColorWeprodev;
                                position    : relative;
                                span{
                                    font-size   : 1.2em;
                                    position    : absolute;
                                    top         : 0.05em;
                                    right       : -1.3em;
                                }
                                &:hover{
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                    .m-l-r{
                        margin-left     : 1em;
                        margin-right    : 1em;
                        @include laptop{
                            margin: 0em 0.5em 1em;
                        }
                        @include mobile{
                            margin-left : 0em;
                        }
                    }
                }//card-for-latest
            }//latest-posts-section
        }//content
    // }//home-page--weprodev
}//body

