/*========================================================================================
*********    
*******      
*****       DIV BLOG
***         
*/


    .gradient-bg-product-list{
        width               : 100%;
        height              : 18em;
        background-image    : var(--gradient);
        background-size     : 500%;
        padding             : 12vh 0%;
        transition          : animation 4s;
        animation           : gradient-background 5s infinite alternate;
        @keyframes gradient-background {
            0%{background-position  : right;}
            100%{background-position: left;}
        }
        @include tablet{
            padding         : 12vh 5%;
        }
        .text-header{
            margin-top      : 2em;
            font-size       : 2em;
            text-align      : center;
            color           : $WHITE;
            font-weight     : bold;
            p{
                font-size   : 0.5em;
                font-weight : 100;
                margin-top  : 1em;
            }
        }
        
    }//gradient bg
    .cards-item{
        display             : block;
        width               : 70%;
        margin              : 0 auto;
        position            : relative;

        @include mini_laptop{
            width           : 80%;
        }
        @include tablet{
            width           : 90%;
        }

        .cards{
            display             : flex;
            flex-direction      : row;
            width               : 100%;
            margin-bottom       : 1em;
            margin-top          : -8em;

            @include tablet{
                flex-direction  : column;
                align-items     : center;
            }
            .card{
                width           : 30%;
                background      : $WHITE;
                margin          : 1em;
                border-radius   : 1em;
                box-shadow      : 0px 0px 20px 0px rgba($color: $BLACK, $alpha: 0.5);
               
                @include tablet{
                    width       : 50%;
                }
                @include retinaMobile{
                    width       : 60%;
                }
                @include mobile{
                    width       : 85%;
                }

                .content-card{
                   width                        : 100%;

                    h2{
                        padding-top             : 3em;
                        text-transform          : uppercase;
                        letter-spacing          : 3px;
                        padding-bottom          : 4em;
                        text-align              : center;
                    }
                    .section-price{
                        display                 : block;
                        position                : relative;
                        .price{
                            display             : flex;
                            justify-content     : center;
                            align-items         : center;
                            flex-direction      : row wrap;

                            .value{
                                font-weight     : bold;
                                font-size       : 2.5em;
                            }
                            .dollar{
                                align-self      : flex-start;
                                margin-right    : 0.2em;
                            }
                            .year{
                                font-size       : 0.4em;
                                font-weight     : 100;
                            }
                            
                        }
                        .underprice{
                            color               : red;
                            font-size           : 1.3em;
                            margin-top          : 1.5em;
                            text-align          : center;
                            font-weight         : bold;
                        }
                    }//section price
                    .option{
                        display                 : flex;
                        justify-content         : center;
                        flex-direction          : column;
                        padding                 : 3em 0em;

                        @include led4k{
                            font-size: 1.3em;
                        }
                        .list{
                            margin-bottom       : 0.7em;
                            line-height         : 1.5em;
                            .div-in-li{
                                margin-left     : calc((100% - 60%)/2);
                                margin-right    : calc((100% - 60%)/2);
                                
                                @include mini_laptop{
                                    margin-left     : calc((100% - 70%)/2);
                                    margin-right    : calc((100% - 70%)/2);
                                }
                                span{
                                    padding-right   : 0.3em;
                                }
                            }
                            
                        }                        
                    }
                    .btn1{
                        padding                     : 2em 0em;
                        text-align                  : center;
                        a{
                            letter-spacing          : 3px;
                            display                 : inline-block;
                            text-align              : center;
                            border-radius           : 2em;
                            padding                 : 1em 2em;
                            background              : $GREEN-BUTTON-CARD-PRODUCTLIST;
                            text-transform          : uppercase;
                            color                   : $WHITE;
                            &:hover{
                                background          : $RED-BUTTON-CARD-PRODUCTLIST;
                            }
                        }
                    }
               }//content card
                .ribbon{
                    position                    : absolute;
                    top                         : -8em;
                    right                       : 0em;
                    transform                   : rotate(90deg);
                    width                       : 9em;
                    overflow                    : hidden;
                    height                      : 9em;

                        .ribbon-inner{
                            color               : #fff;
                            letter-spacing      : 1.1px;
                            background-color    : #db3157;
                            text-align          : center;
                            
                            transform           : translateY(-26%) translateX(-44%) translateX(35px) rotate(-45deg);                            margin-top: 35px;
                            font-size           : 0.7em;
                            line-height         : 2.3;
                            font-weight         : 800;
                            text-transform      : uppercase;
                            
                        }
                }
            }//card
        }//cards
        .credit-cards{
            width               : 70%;
            margin              : 1em auto;
            text-align          : center;
            line-height         : 3;
            color               : red;
            font-weight         : bold;
            img{
                max-width       : 45%;

                @include mobile{
                    max-width   : 80%;
                }
                @include mini_mobile{
                    max-width   : 100%;
                }
            }//imgcredit
        }//credit cards
    }//cards ite,
    .listcompare{
        width                           : 70%;
        margin                          : 2em auto;

        @include tablet{
            width                       : 80%;
        }
        .content-list{
            margin-top                  : 2em;
            width                       : 100%;
            display                     : block;
            text-align                  : center;
            span{
                text-align              : center;
                color                   : red;
            }
            h2{
                font-size               : 2em;
                margin-top              : 0.5em;
                margin-bottom           : 2em;
            }
            .row-list{
                width                   : 100%;
                margin-bottom           : 1em;
                padding-bottom          : 1em;
                display                 : flex;
                flex-direction          : row;

                @include mobile{
                    line-height         : 1.5;
                    font-size           : 0.8em;
                }
                .section-features{
                    width               : 70%;
                    text-align          : left;
                }
                .section-widget{
                    width               : 14.5%;
                    text-align          : center;
                    .icon-checkmark{
                        color           : #61ce70;
                    }
                    .icon-cross{
                        color           : rgba(92,103,113,.35);
                    }
                    
                }
            }
            .under-border{
                border-bottom           : 1px dotted rgba($color: $BLACK, $alpha: 0.3);
            }
        }
    }//listcompare

    .morefeatures{
        width                   : 70%;
        margin                  : 1em auto;
        margin-bottom           : 7em;

        @include tablet{
            width               : 80%;
        }
        h2{
            margin-bottom       : 2em;
        }
        .icon-checkmark{
            color               : #61ce70;
            margin-right        : 0.7em;
        }
        .list-pro-features{
            width               : 100%;
            display             : flex;
            flex-wrap           : row wrap;
            justify-content     : space-around;
            margin-bottom       : 2em;

            ul{
                line-height     : 2;
                padding         : 0em 1em;
                
                @include mini_laptop{
                    padding-right   : 1em;
                }
                @include mobile{
                    width           : 100%;
                }
                li{
                    font-size       : 1.2em;
                    color           : #5c6771;

                    @include mini_laptop{
                        font-size   : 0.8em;
                    }
                    @include tablet{
                        font-size   : 1em;
                    }
                }
            }//sectionlist
        }
        
    }//mostfeatures
    .btn{
        text-align                      : center;
        margin-top                      : 7em;
        margin-bottom                   : 3em;
        a{
            border-radius               : 3em;
            padding                     : 2em 3em;
            color                       : $WHITE;
            background                  : #65d49a;
            font-size                   : small;
            font-weight                 : bold;
            display                     : inline-block;

            .icon-shopping-cart{
                margin-right            : 0.5em;
            }

            &:hover{
                background              :#db3157;
            }
        }
    }//btn
    .questions{
        width                           : 60%;
        margin                          : 4em auto;

        @include tablet{
            width                       : 70%;
        }
       .head{
           text-align                   : center;
           margin-bottom                : 2em;
            h4{
                color                   : red; 
                text-transform          : uppercase;
                margin-bottom           : 2em;
            }
            h2{
                font-size               : 2.5em;
            }
            a{
                text-decoration         : underline;
                color                   : $TAG-A-COLOR-PRODUCTLIST;
            }
       }
       .section-questions{
           display                      : flex;
           justify-content              : space-between;

           @include mobile{
               flex-direction           : column;
           }
        .sec-que{
            margin                      : 3em 0em;
            padding-right               : 3em;

            @include mobile{
                width                   : 90%;
            }
            h2{
                font-weight             : bold;
                margin-bottom           : 1.5em;
                font-size               : 1.2em;
                margin-top              : 1em;
                line-height             : 1.4;
            }
            p{
                line-height             : 1.5;
                font-size               : 0.8em;

                a{
                    color               : $TAG-A-COLOR-PRODUCTLIST;
                    background-color    : transparent;
                    &:hover{
                     text-decoration    : underline dotted;
                     color              : $BLACK;
                    }
                }
                strong{
                    font-weight         : bolder;
                }
            }
            
        }
       }
    }
