.feature {
  display: flex;
  gap: nth($spaces, 16);
  @include mobile {
    gap: nth($spaces, 8);
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: nth($spaces, 8);
    flex-basis: 50%;
    justify-content: space-between;
    @include mobile {
      flex-basis: 100%;
    }
  }
  &__topic {
    color: $mainColorWeprodev;
    font-size: $fontSizeXl;
    letter-spacing: 0.2rem;
    font-weight: $fontWeightMedium;
  }

  &__image-container {
    overflow: hidden;
    flex-basis: 50%;
    @include mobile {
      display: none;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
