/*------------------------------------*\
  #ABSTRACTS
\*------------------------------------*/
/*========================================================================================
*********   GRIDS BASE SUSY
*******     MEDIA QUERY 
*****       
***         
*/
/*--------------------------------
***  GENERAL DIFINITIONS
**	 CSS3 , CLEARFIX
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.container {
  width: 90%;
}

/*========================================================================================*\
*----------------------------          MEDIA QUERY              ----------------------------        
\*========================================================================================*/
/*--------------------------------
*** 4K AND HIGH RESOULOTIONS 
**	MIN-WIDTH : 2560px OR 160em
*/
/*--------------------------------
*** LAPTOP OR DESKTOP 
**	MIN-WIDTH : 1400px OR 87.5em
*/
/*--------------------------------
*** FOR SOM OF THE DEVICES
**	MIN-WIDTH : 1201px OR 75.0625em
*/
/*--------------------------------
*** FOR ANY DEVICE MAX SIZE UNTIL
**	MAX-WIDTH : 1200px OR 75em
*/
/*--------------------------------
*** FOR ANY DEVICE MAX SIZE UNTIL
**	MAX-WIDTH : 1024px OR 64em
*/
/*--------------------------------
*** FOR ANY DEVICE MAX SIZE UNTIL
**	MAX-WIDTH : 992px OR 62em
*/
/*--------------------------------
*** FOR RETINA MOBILE AND LANSCAPE
**	MIN : 500px / 31.25em | MAX : 767PX / 47.9375em
*/
/*--------------------------------
*** FOR MOBILE
**	MAX : 640PX / 40em
*/
/*--------------------------------
*** FOR MINI MOBILE
**	MAX : 400PX / 25em
*/
/*------------------------------------*\
  #FONT
\*------------------------------------*/
/*------------------------------------*\
  #BREAKPOINTS
\*------------------------------------*/
/*------------------------------------*\
  #SPACES (padding & margin & gap) 
\*------------------------------------*/
/*------------------------------------*\
  #TRANSITION DURATION
\*------------------------------------*/
/*------------------------------------*\
  #BOX SHADOW
\*------------------------------------*/
/*------------------------------------*\
  #BORDER RADIUS
\*------------------------------------*/
/*------------------------------------*\
  #COLORS
\*------------------------------------*/
:root {
  --gradient: linear-gradient(
      310deg,
      #845ec2,
      #d65db1,
      #ff6f91,
      #ff9671,
      #ffc75f
  );
}

/*------------------------------------*\
  #SPACE
\*------------------------------------*/
/*------------------------------------*\
  #FONT
\*------------------------------------*/
/*------------------------------------*\
  #SHADOW
\*------------------------------------*/
/*------------------------------------*\
  #BORDER
\*------------------------------------*/
/*------------------------------------*\
  #BASE
\*------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

ol,
ul {
  list-style: none;
}

img,
picture,
svg,
video {
  display: block;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes background-movement {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
.container {
  width: 100%;
  padding: 0 15rem;
}
@media screen and (max-width: 75em) {
  .container {
    padding: 0 1.5rem;
  }
}

img {
  width: 100%;
}

a.link {
  color: rgb(0, 0, 0);
  transition: 150ms;
}
a.link:hover {
  color: rgb(255, 94, 87);
}

.background-gradient-animation {
  background-image: var(--gradient);
  background-size: 500%;
  transition: animation 4s;
  animation: background-movement 5s infinite alternate;
}

/*------------------------------------*\
  #TYPOGRAPGY
\*------------------------------------*/
/*========================================================================================
*********   
*******     EXPORT THIS FONT ICONS FROM ICOMOON.IO AND SELECTED THESE ICONS BASE PERSONAL INTRESTING 
*****       YOU CAN UPDATE THIS ICONS WITH IMPORT JSON FILE IN COMPONENT FOLDER TO MAIN SITE.
***         
*/
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icons/icomoon.eot?5sy53h");
  src: url("../fonts/icons/icomoon.eot?5sy53h#iefix") format("embedded-opentype"), url("../fonts/icons/icomoon.ttf?5sy53h") format("truetype"), url("../fonts/icons/icomoon.woff?5sy53h") format("woff"), url("../fonts/icons/icomoon.svg?5sy53h#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook1:before {
  content: "\e929";
}

.icon-social:before {
  content: "\e929";
}

.icon-food:before {
  content: "\e927";
}

.icon-lock:before {
  content: "\e922";
}

.icon-heart:before {
  content: "\e923";
}

.icon-love:before {
  content: "\e923";
}

.icon-like:before {
  content: "\e923";
}

.icon-favorite:before {
  content: "\e923";
}

.icon-file-jpg:before {
  content: "\e92b";
}

.icon-file-jpg1:before {
  content: "\e92d";
}

.icon-file-png:before {
  content: "\e92c";
}

.icon-file-png1:before {
  content: "\e92e";
}

.icon-globe:before {
  content: "\e932";
}

.icon-earth:before {
  content: "\e932";
}

.icon-globe-outline:before {
  content: "\e92f";
}

.icon-globe1:before {
  content: "\e931";
}

.icon-fastfood:before {
  content: "\e928";
}

.icon-chevron-down:before {
  content: "\e902";
}

.icon-chevron-left:before {
  content: "\e905";
}

.icon-chevron-right:before {
  content: "\e906";
}

.icon-chevron-up:before {
  content: "\e907";
}

.icon-chevrons-down:before {
  content: "\e908";
}

.icon-chevrons-left:before {
  content: "\e909";
}

.icon-chevrons-right:before {
  content: "\e90a";
}

.icon-chevrons-up:before {
  content: "\e90b";
}

.icon-menu5:before {
  content: "\e5d2";
}

.icon-more_horiz:before {
  content: "\e5d3";
}

.icon-more_vert:before {
  content: "\e5d4";
}

.icon-filter:before {
  content: "\e925";
}

.icon-add-outline:before {
  content: "\e90c";
}

.icon-add-solid:before {
  content: "\e90d";
}

.icon-cheveron-down:before {
  content: "\e90e";
}

.icon-cheveron-left:before {
  content: "\e90f";
}

.icon-cheveron-right:before {
  content: "\e910";
}

.icon-cheveron-up:before {
  content: "\e911";
}

.icon-close:before {
  content: "\e914";
}

.icon-compose:before {
  content: "\e915";
}

.icon-credit-card2:before {
  content: "\e916";
}

.icon-envelope:before {
  content: "\e917";
}

.icon-link2:before {
  content: "\e918";
}

.icon-list3:before {
  content: "\e919";
}

.icon-list-add:before {
  content: "\e91a";
}

.icon-list-bullet:before {
  content: "\e91b";
}

.icon-menu6:before {
  content: "\e91c";
}

.icon-network:before {
  content: "\e91d";
}

.icon-question2:before {
  content: "\e91e";
}

.icon-view-list:before {
  content: "\e921";
}

.icon-shopping-cart:before {
  content: "\e933";
}

.icon-loop-alt3:before {
  content: "\e924";
}

.icon-home:before {
  content: "\e900";
}

.icon-home2:before {
  content: "\e901";
}

.icon-office:before {
  content: "\e903";
}

.icon-newspaper:before {
  content: "\e904";
}

.icon-play:before {
  content: "\e912";
}

.icon-film:before {
  content: "\e913";
}

.icon-book:before {
  content: "\e91f";
}

.icon-books:before {
  content: "\e920";
}

.icon-folder-open:before {
  content: "\e930";
}

.icon-ticket:before {
  content: "\e939";
}

.icon-coin-dollar:before {
  content: "\e93b";
}

.icon-credit-card:before {
  content: "\e93f";
}

.icon-pushpin:before {
  content: "\e946";
}

.icon-location:before {
  content: "\e947";
}

.icon-history:before {
  content: "\e94d";
}

.icon-clock:before {
  content: "\e94e";
}

.icon-clock2:before {
  content: "\e94f";
}

.icon-alarm:before {
  content: "\e950";
}

.icon-bell:before {
  content: "\e951";
}

.icon-stopwatch:before {
  content: "\e952";
}

.icon-calendar:before {
  content: "\e953";
}

.icon-search:before {
  content: "\e986";
}

.icon-enlarge:before {
  content: "\e989";
}

.icon-shrink:before {
  content: "\e98a";
}

.icon-stats-bars:before {
  content: "\e99c";
}

.icon-gift:before {
  content: "\e99f";
}

.icon-mug:before {
  content: "\e9a2";
}

.icon-rocket:before {
  content: "\e9a5";
}

.icon-bin:before {
  content: "\e9ac";
}

.icon-bin2:before {
  content: "\e9ad";
}

.icon-briefcase:before {
  content: "\e9ae";
}

.icon-airplane:before {
  content: "\e9af";
}

.icon-truck:before {
  content: "\e9b0";
}

.icon-road:before {
  content: "\e9b1";
}

.icon-switch:before {
  content: "\e9b6";
}

.icon-clipboard:before {
  content: "\e9b8";
}

.icon-cloud-download:before {
  content: "\e9c2";
}

.icon-cloud-upload:before {
  content: "\e9c3";
}

.icon-cloud-check:before {
  content: "\e9c4";
}

.icon-download2:before {
  content: "\e9c5";
}

.icon-upload2:before {
  content: "\e9c6";
}

.icon-download3:before {
  content: "\e9c7";
}

.icon-upload3:before {
  content: "\e9c8";
}

.icon-sphere:before {
  content: "\e9c9";
}

.icon-earth1:before {
  content: "\e9ca";
}

.icon-link:before {
  content: "\e9cb";
}

.icon-flag:before {
  content: "\e9cc";
}

.icon-attachment:before {
  content: "\e9cd";
}

.icon-bookmark:before {
  content: "\e9d2";
}

.icon-bookmarks:before {
  content: "\e9d3";
}

.icon-notification:before {
  content: "\ea08";
}

.icon-question:before {
  content: "\ea09";
}

.icon-plus:before {
  content: "\ea0a";
}

.icon-minus:before {
  content: "\ea0b";
}

.icon-info:before {
  content: "\ea0c";
}

.icon-cancel-circle:before {
  content: "\ea0d";
}

.icon-blocked:before {
  content: "\ea0e";
}

.icon-cross:before {
  content: "\ea0f";
}

.icon-checkmark:before {
  content: "\ea10";
}

.icon-checkmark2:before {
  content: "\ea11";
}

.icon-exit:before {
  content: "\ea14";
}

.icon-clipboard2:before {
  content: "\e9b9";
}

.icon-list:before {
  content: "\e9ba";
}

.icon-list2:before {
  content: "\e9bb";
}

.icon-menu:before {
  content: "\e9bd";
}

.icon-menu2:before {
  content: "\e9be";
}

.icon-menu3:before {
  content: "\e9bf";
}

.icon-menu4:before {
  content: "\e9c0";
}

.icon-quotes-left:before {
  content: "\e977";
}

.icon-quotes-right:before {
  content: "\e978";
}

.icon-circle-up:before {
  content: "\ea41";
}

.icon-circle-right:before {
  content: "\ea42";
}

.icon-circle-down:before {
  content: "\ea43";
}

.icon-circle-left:before {
  content: "\ea44";
}

.icon-ctrl:before {
  content: "\ea50";
}

.icon-share2:before {
  content: "\ea82";
}

.icon-mail:before {
  content: "\ea83";
}

.icon-mail4:before {
  content: "\ea86";
}

.icon-google-plus:before {
  content: "\ea8b";
}

.icon-google-plus2:before {
  content: "\ea8c";
}

.icon-google-plus3:before {
  content: "\ea8d";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-facebook2:before {
  content: "\ea91";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-whatsapp:before {
  content: "\ea93";
}

.icon-telegram:before {
  content: "\ea95";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-rss:before {
  content: "\ea9b";
}

.icon-rss2:before {
  content: "\ea9c";
}

.icon-linkedin:before {
  content: "\eac9";
}

.icon-linkedin2:before {
  content: "\eaca";
}

.icon-heart1:before {
  content: "\e92a";
}

.icon-love1:before {
  content: "\e92a";
}

.icon-favorite1:before {
  content: "\e92a";
}

.icon-like1:before {
  content: "\e92a";
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

.icon-arrow-left2:before {
  content: "\ea40";
}

.icon-cart:before {
  content: "\e93a";
}

.icon-credit-card1:before {
  content: "\e940";
}

.icon-star-empty:before {
  content: "\e9d7";
}

.icon-star-half:before {
  content: "\e9d8";
}

.icon-star-full:before {
  content: "\e9d9";
}

.icon-arrow-right21:before {
  content: "\ea3d";
}

.icon-arrow-left21:before {
  content: "\ea45";
}

.icon-trophy:before {
  content: "\e926";
}

body {
  font-family: "Inter", sans-serif;
}

.heading-1 {
  font-size: 3.75em;
  font-weight: 500;
}
.heading-1--primary {
  color: rgb(255, 255, 255);
}

.paragraph {
  font-size: 1.25em;
}
.paragraph--primary {
  color: rgb(255, 255, 255);
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/
/*=========================================================
*********   Generic DropDown Component
*******     Whenever .dropdown is hovered .dropdown__content appears
*/
.dropdown {
  position: relative;
}
.dropdown:hover .dropdown__content {
  display: unset;
}
.dropdown .dropdown__content {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
}

/*=========================================================
*********   Generic Button Component
*******  
*/
.button {
  background: transparent;
  color: #fff;
  border-radius: 0.25em;
  border: 0.1rem solid rgb(255, 94, 87);
  padding: 1em 1.5em;
  font-size: 1em;
  font-weight: 600;
  transition: 150ms;
  text-align: center;
  cursor: pointer;
}
.button:hover {
  background-color: none;
}
.button--primary {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 94, 87);
}
.button--secondary {
  color: rgb(255, 94, 87);
  background-color: rgb(255, 255, 255);
}
.button:hover {
  opacity: 0.5;
}

.cta {
  background: transparent;
  color: #fff;
  border-radius: 9999px;
  border: none;
  padding: 0.75em 2.5em;
  font-size: 1.25em;
  font-weight: 400;
  transition: 300ms;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}
.cta:hover {
  background-color: none;
}
.cta--primary {
  background-color: #2fdc81;
  color: rgb(255, 255, 255);
}
.cta--primary:hover {
  background-color: rgb(31.1111111111, 184.8888888889, 104);
}

/*------------------------------------*\
  #LAYOUT
\*------------------------------------*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1em;
  gap: 1em;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgb(236, 240, 241);
}
@media screen and (max-width: 40em) {
  .header {
    flex-wrap: wrap;
  }
}
.header__logo {
  width: 8rem;
}
.header__select-lang .icon-globe1:before {
  font-size: 2.25em;
}
.header__select-lang .icon-chevron-down {
  transition: 150ms;
}
.header__select-lang:hover .icon-chevron-down {
  transform: rotate(180deg);
}
@media screen and (max-width: 40em) {
  .header__select-lang {
    display: none;
  }
}
.header__select-lang-title {
  display: flex;
  align-items: center;
  gap: 0.5em;
  cursor: default;
  padding: 0.5em 0;
}
.header__select-lang-list {
  width: 100%;
  top: 100%;
  left: 0;
  border-radius: 0.25em;
  flex-direction: column;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
}
.header__select-lang-item {
  padding: 0.75em;
}
.header__select-lang-item:hover {
  color: rgb(255, 94, 87);
}
.header__search-box {
  display: flex;
  margin-left: auto;
  background-color: rgb(255, 94, 87);
  padding: 0.25em;
  border-radius: 9999px;
}
@media screen and (max-width: 40em) {
  .header__search-box {
    order: 2;
    margin: 0 auto;
    width: 100%;
  }
}
.header__search-box-input {
  transition: 300ms;
  width: 0;
  color: rgb(255, 255, 255);
  border: none;
  background-color: transparent;
  outline: none;
}
.header__search-box-input::placeholder {
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 40em) {
  .header__search-box-input {
    width: 100%;
    margin-left: 0.5em;
  }
}
.header__search-box-button {
  transition: 300ms;
  cursor: pointer;
  transition: 150ms;
  padding: 0.75em;
  border-radius: 9999px;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 94, 87);
}
@media screen and (max-width: 40em) {
  .header__search-box-button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
}
.header__search-box.active .header__search-box-input {
  width: 10rem;
  margin-left: 0.5em;
}
@media screen and (max-width: 40em) {
  .header__search-box.active .header__search-box-input {
    width: 100%;
  }
}
.header__search-box.active .header__search-box-button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
@media screen and (max-width: 40em) {
  .header__buttons-container {
    margin-left: auto;
  }
}
@media screen and (max-width: 75em) {
  .header__free-template-btn {
    display: none;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  padding-block: 1.5em;
  background-color: rgb(255, 255, 255);
}
.navbar__menu {
  font-size: 1.25em;
  display: flex;
  gap: 1em;
}
@media screen and (max-width: 40em) {
  .navbar__menu {
    font-size: 1.125em;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 4em;
  padding-block: 4em;
  text-align: center;
}
.hero__text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5em;
}
.hero__image {
  border-radius: 0.5em;
}
.hero__features-container {
  display: flex;
  gap: 4em;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 64em) {
  .hero__features-container {
    flex-direction: column;
  }
}
.hero__feature {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}
.hero__feature-title {
  font-size: 1.5em;
}
.hero__feature-text {
  font-size: 1.125em;
}

/*# sourceMappingURL=style.css.map */
