@use "sass:list";

.about-section {
  display: flex;
  flex-direction: column;
  background-color: $primaryColorLighter;
  padding: $containerSidePadding;
  gap: list.nth($spaces, 12);

  &__top {
    display: flex;
    align-items: flex-start;
    gap: list.nth($spaces, 8);
    justify-content: space-between;
    @include mini_laptop {
      flex-direction: column;
    }
  }
  &__mid-title {
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    gap: list.nth($spaces, 6);
  }

  &__bottom {
    display: flex;
    gap: list.nth($spaces, 8);
    @include mini_laptop() {
      flex-direction: column;
    }
  }
  &__feature {
    display: flex;
    flex-direction: column;
    gap: list.nth($spaces, 8);
    padding: list.nth($spaces, 8);
    border-radius: $rounded3Xl;
    @include mini_laptop() {
      gap: list.nth($spaces, 6);
      padding: list.nth($spaces, 6);
    }

    &--polling-vote {
      flex-basis: 30%;
      background-color: $secondaryColorDarker;
    }
    &--virtual-events {
      flex-basis: 70%;
      background-color: $tertiaryColor;
      background: linear-gradient(
        16deg,
        $tertiaryColor 80%,
        $primaryColor 120%
      );

      p {
        width: 75%;
        @include mini_laptop {
          width: auto;
        }
      }
    }
    img {
      border-radius: $rounded3Xl $rounded3Xl 0 0;
      margin: auto 0 (-(list.nth($spaces, 8))) 0;
      height: 40rem;
      object-fit: cover;
      @include mini_laptop() {
        height: 20rem;
        margin: auto 0 (-(list.nth($spaces, 6))) 0;
      }
    }
  }
}
