@use "sass:list";

.advantage-section {
  display: flex;
  flex-direction: column;
  background-color: $tertiaryColor;
  padding: $containerSidePadding;
  gap: list.nth($spaces, 12);
  @include mobile {
    padding: list.nth($spaces, 15) $containerSidePaddingMobile;
  }

  &__top {
    display: flex;
    align-items: flex-start;
    gap: list.nth($spaces, 8);
    justify-content: space-between;
    @include mini_laptop {
      flex-direction: column;
    }
  }
  &__mid-title {
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    gap: list.nth($spaces, 6);
  }

  &__bottom {
    display: flex;
    gap: list.nth($spaces, 8);
    @include mini_laptop() {
      flex-direction: column;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    gap: list.nth($spaces, 4);
    flex-basis: 33%;
    img {
      height: 45rem;
      border-radius: $rounded3Xl;
      object-fit: cover;
      @include mini_laptop() {
        height: 35rem;
      }
      @include mobile() {
        height: 25rem;
      }
    }
  }
}
