.hero-header {
  background-color: $secondaryColor;
  padding: $space15 $containerSidePadding;
  display: flex;
  gap: $space12;
  @include mobile {
    font-size: $fontSizeBase;
    padding: $space15 $containerSidePaddingMobile;
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $space8;
    flex-basis: 50%;
    @include tablet {
      flex-basis: 100%;
    }
  }
  &__btns-container {
    display: flex;
    gap: $space6;
  }
  &__reviews {
    align-self: stretch;
    border-radius: $rounded3Xl;
    border: 2px solid $secondaryColorDarker;
    padding: $space8;
    margin-top: $space15;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $space12;
    @include mobile {
      gap: $space6;
      flex-direction: column;
      margin-top: 0;
      align-items: flex-start;
    }
    @include led{
      margin-top: auto;
    }
  }
  &__reviews-stars {
    display: flex;
    flex-direction: column;
    gap: $space2;
  }
  &__stars {
    font-size: $fontSizeLg;
    color: $starColor;
  }
  &__stars-number {
    font-weight: $fontWeightBold;
  }
  &__reviews-logo {
    height: 3em;
    width: 12em;
    @include laptop {
      height: 2em;
      width: 8em;
    }
  }

  &__right {
    flex-basis: 50%;
    @include tablet {
      display: none;
    }
  }
  &__image {
    height: 100%;
    object-fit: cover;
    border-radius: $rounded2Xl;
  }
}
