@use "sass:list";

.main-navigation {
  display: flex;
  align-items: center;
  gap: list.nth($spaces, 12);
  padding: list.nth($spaces, 4) $containerSidePadding;
  border-bottom: $primaryBorder;
  font-weight: $fontWeightSemibold;
  color: $tertiaryColor;
  @include mini_laptop {
    padding: list.nth($spaces, 4);
    justify-content: space-between;
    font-size: $fontSizeXl;
  }

  &__logo {
    width: 8rem;
  }

  &__menu-button-divider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    @include mini_laptop {
      display: none;
      justify-content: flex-start;
      position: absolute;
      top: 0;
      z-index: 2;
      left: 0;
      background-color: $secondaryColor;
      width: 100%;
      flex-direction: column;
      align-items: start;
      padding: list.nth($spaces, 4);
      min-height: 100vh;
      gap: list.nth($spaces, 12);

      &.open {
        display: flex;
      }
      &.close {
        display: none;
      }
    }
  }

  &__close-menu-button {
    align-self: flex-end;
  }

  &__menu {
    display: flex;
    gap: list.nth($spaces, 8);
    @include mini_laptop {
      flex-direction: column;
    }

    & > li {
      & > a {
        transition: all map-get($durations, 150);
        &:hover {
          opacity: 70%;
        }
      }
    }
  }

  &__close-menu-button,
  &__open-menu-button {
    display: none;
    background-color: transparent;
    border: none;
    font-size: $fontSize4Xl;
    @include mini_laptop {
      display: flex;
    }
  }
}
