// Variabels (only used in this file)
$_itemsPadding: $space3;

.top-bar {
  padding: 0 $containerSidePadding;
  color: $secondaryColor;
  background-color: $tertiaryColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  gap: $space8;
  font-size: $fontSizeSm;
  font-weight: $fontWeightSemibold;
  @include mobile() {
    display: none;
  }
  @include tablet {
    justify-content: center;
  }

  &__business {
    display: flex;
    // To make a thin space between the two span elements
    gap: 1px;
    // To give that thin space a color and make it look like a line
    background-color: $secondaryColorDarker;

    @include tablet {
      display: none;
    }

    span {
      // To cover the background color of parentof
      background-color: $tertiaryColor;
      padding: $_itemsPadding;
    }
    span:first-child {
      padding-left: 0;
    }
  }

  &__actions {
    display: flex;
    gap: $space8;
    & > li {
      padding: $_itemsPadding 0;
      & > a {
        color: inherit;
        text-decoration: none;
        transition: all $duration150;
        &:hover {
          opacity: 70%;
        }
      }
    }
  }
}
