.topics {
  justify-content: center;
  display: flex;
  padding-top: nth($spaces, 12);

  .container {
    h2 {
      margin: 0 auto;
      text-align: center;
      padding: 36px 10px 0 0;
      font-size: 28px;
      font-weight: bold;
    }

    p {
      margin: 0 auto;
      font-size: 17px;
      text-align: center;
      padding: 23px 8rem 2.7rem 7.8rem;
    }

    .more-topics {
      justify-content: center;

      .topic {
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        align-items: center;
        gap: 0px 23px;
        padding-left: 8px;

        a {
          padding: nth($spaces, 6) nth($spaces, 4);
          width: 27%;
          min-width: 16rem;
          height: 1em;
          margin: nth($spaces, 2) nth($spaces, 2);
          background-color: $paleSky;
          float: left;
          text-align: left;
          border: 0.0625rem solid;
          border-left: 0.3125rem solid;
          border-radius: 0.4375rem;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: space-between;

          $colors: $red, $green, $yellow, $orange, $blue, $red, $green, $yellow,
            $orange, $blue;

          & {
            @for $i from 1 through length($colors) {
              &:nth-child(#{$i}) {
                border-color: nth($colors, $i);
              }
            }
          }

          .cart {
            width: 0;
            height: 0;
            border-left: $roundedMd solid transparent;
            border-right: $roundedMd solid transparent;
            border-top: $roundedMd solid $black;
            transition: 0.3s;
          }
        }
      }
    }
  }

  /*========================================================================================*\
  *----------------------------          MEDIA QUERY              ----------------------------        
  \*========================================================================================*/

  /*--------------------------------
	*** FOR MOBILE
	**	MAX : 640PX / 40em
	*/

  @include mobile {
    .container {
      .more-topics {
        .topic {
          justify-content: center;
        }
      }
    }
  }
}
