.Featured-Articles-Subscription {
  padding-top: 1rem;
  align-items: center;
  display: flex;
  justify-content: center;

  .container {
    width: 62%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .box1,
    .box2,
    .box3 {
      display: grid;
      justify-content: space-between;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 0 1rem;

      .Blog__Highlights {
        height: 32.1rem;
        background-color: $softSky;
        padding: 0.5rem;
        cursor: pointer;
        position: relative;
        border-radius: 5px;

        &-img {
          display: flex;
          justify-content: center;
          height: 11.5rem;
          width: 14.5rem;
          padding: 0.2rem 0 0 1.2rem;

          img {
            width: 95%;
            object-fit: cover;
            border-radius: 5px 5px 0 0;
          }
        }

        .info-card {
          padding-top: 1rem;
          display: flex;
          flex-direction: column;

          p {
            padding: 0.6rem 1rem 2rem 1rem;
            font-size: 0.7em;
            padding-left: 12px;
          }

          h2 {
            padding: 0 14px 10rem 14px;
            margin: 0;
            line-height: 0.9;

            a {
              font-size: 16px;
              font-weight: unset;
            }
          }

          .blog-meta {
            font-size: 9px;
            padding-left: 8px;
          }
        }
      }

      .marke__tingHub {
        height: 32.1rem;
        background-color: $coralRed;
        padding: 0.5rem;
        cursor: pointer;
        color: $white;
        justify-content: center;
        display: flex;
        border-radius: 5px;

        .info-card {
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center;
          width: 90%;

          h3 {
            font-size: 1.5em;
            font-weight: bold;
            padding: 5em 0 1rem 0;
            width: 80%;
            margin: 0 auto;
            top: -5rem;
            position: relative;
          }

          p {
            font-size: 0.9em;
            margin: 0 auto;
            padding: 0 0.5em;
            top: -1rem;
            position: relative;
          }

          .btn-box {
            padding: 2em 0 0 1em;

            button {
              width: 100%;
              font-size: 0.8em;
              height: 3.5em;
              background: transparent;
              border-color: rgb(255, 255, 255);
              color: rgb(255, 255, 255);
              font-weight: bold;
              margin-bottom: 1em;
              cursor: pointer;

              &:hover {
                background-color: rgba(255, 94, 87, 0.5);
              }
            }
          }
        }
      }
    }

    .box2,
    .box3 {
      padding-top: 1rem;
      grid-template-columns: 2fr 4fr;

      .marke__tingHub {
        .info-card {
          h1 {
            width: 70%;
            margin: 0 auto;
            line-height: 1.9;
          }

          button {
            top: 4rem;
            position: relative;
          }
        }
      }

      .content__card {
        background-color: $softSky;
        height: 33.8rem;
        padding: 0.5rem;
        cursor: pointer;

        &-img {
          display: flex;
          justify-content: center;
          height: 58%;

          img {
            width: 94%;
            object-fit: cover;
            object-position: top;
            border-radius: 5px 5px 0 0;
          }
        }

        .info-card {
          text-align: start;
          display: flex;
          flex-direction: column;
          height: 40%;
          width: 100%;

          p {
            padding: 2.2em 0 22px 0;
            font-size: 0.7rem;
          }

          h2 {
            padding: 9px 0 5.4em 3px;
            margin: 0;
            font-size: 17px;
            font-weight: bold;
            word-spacing: 3px;
            line-height: 1.3;
          }

          .blog-meta {
            font-size: 9.5px;
            left: -3px;
            position: relative;
          }
        }
      }
    }

    .box2 {
      .marke__tingHub {
        height: 33.8rem;

        .info-card {
          h1 {
            width: 90%;
            margin: 0 auto;
            line-height: 1.8;
            font-size: 2rem;
            padding: 3rem 0;
            font-weight: 100;
          }

          .btn-box {
            padding: 0;
            button {
              width: 100%;
              font-size: 0.8em;
              height: 4.5em;
              background: transparent;
              border-color: rgb(255, 255, 255);
              color: rgb(255, 255, 255);
              font-weight: bold;
              cursor: pointer;
              margin: 0 auto;
              top: 2rem;
            }
          }
        }
      }

      .content__card {
        .info-card {
          h2 {
            padding-bottom: 5.5rem;
          }
        }
      }
    }

    .box3 {
      grid-template-columns: 4fr 2fr;

      .content__card {
        height: 32rem;
      }

      .Blog__Highlights {
        height: 32rem;

        .info-card h2 {
          padding: 0 14px 11.1rem 14px;
        }
      }
    }
  }

  /*========================================================================================*\
  *----------------------------          MEDIA QUERY              ----------------------------        
  \*========================================================================================*/

  /*--------------------------------
	*** FOR ANY DEVICE MAX SIZE UNTIL
	**	MAX-WIDTH : 992px OR 62em
	*/

  @include tablet {
    .container {
      align-items: center;

      .box1,
      .box2,
      .box3 {
        grid-template-columns: 1fr;
        grid-gap: 1rem;

        .Blog__Highlights {
          height: 26.1rem;

          .Blog__Highlights-img {
            display: flex;
            justify-content: center;
            height: 11.5rem;
            width: 100%;
            padding: 0;

            & img {
              width: 90%;
            }
          }

          .info-card {
            padding: 0rem 1rem 1rem 0rem;

            h2 {
              padding: 0 14px 6.5rem 14px;
            }
          }
        }

        .marke__tingHub {
          width: 35.1rem;
          margin: 0 auto;
        }

        .content__card {
          height: 26.1rem;
          width: 35.1rem;

          .content__card-img {
            display: flex;
            justify-content: center;
            height: 11.5rem;
            width: 100%;
            padding: 0;

            & img {
              width: 90%;
            }
          }

          .info-card {
            h2 {
              padding: 0 14px 6.5rem 14px;
            }
          }
        }
      }
    }
  }

  /*--------------------------------
	*** FOR RETINA MOBILE AND LANSCAPE
	**	MIN : 500px / 31.25em | MAX : 767PX / 47.9375em
	*/

  @include retinaMobile {
    .container {
      .box1,
      .box2,
      .box3 {
        grid-template-columns: 1fr;
      }
    }
  }

  /*--------------------------------
	*** FOR MOBILE
	**	MAX : 640PX / 40em
	*/

  @include mobile {
    .container {
      .box1,
      .box2,
      .box3 {
        grid-template-columns: 1fr;
      }
    }
  }

  /*--------------------------------
	*** FOR MINI MOBILE
	**	MAX : 375PX / 23.4375em
	*/

  @include miniMobile {
    .container {
      .box1,
      .box2,
      .box3 {
        grid-template-columns: 1fr;
      }
    }
  }
}
