/*------------------------------------*\
  #ABSTRACTS
\*------------------------------------*/
/*------------------------------------*\
  #FONT
\*------------------------------------*/
/*------------------------------------*\
  #BREAKPOINTS
\*------------------------------------*/
/*------------------------------------*\
  #SPACES (padding & margin & gap) 
\*------------------------------------*/
/*------------------------------------*\
  #TRANSITION DURATION
\*------------------------------------*/
/*------------------------------------*\
  #BOX SHADOW
\*------------------------------------*/
/*------------------------------------*\
  #BORDER RADIUS
\*------------------------------------*/
/*========================================================================================
*********   GRIDS BASE SUSY
*******     MEDIA QUERY 
*****       
***         
*/
/*--------------------------------
***  GENERAL DIFINITIONS
**	 CSS3 , CLEARFIX
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.container {
  width: 90%;
}

/*========================================================================================*\
*----------------------------          MEDIA QUERY              ----------------------------        
\*========================================================================================*/
/*--------------------------------
*** 4K AND HIGH RESOULOTIONS 
**	MIN-WIDTH : 2560px OR 160em
*/
/*--------------------------------
*** LAPTOP OR DESKTOP 
**	MIN-WIDTH : 1400px OR 87.5em
*/
/*--------------------------------
*** FOR SOM OF THE DEVICES
**	MIN-WIDTH : 1201px OR 75.0625em
*/
/*--------------------------------
*** FOR ANY DEVICE MAX SIZE UNTIL
**	MAX-WIDTH : 1200px OR 75em
*/
/*--------------------------------
*** FOR ANY DEVICE MAX SIZE UNTIL
**	MAX-WIDTH : 1024px OR 64em
*/
/*--------------------------------
*** FOR ANY DEVICE MAX SIZE UNTIL
**	MAX-WIDTH : 992px OR 62em
*/
/*--------------------------------
*** FOR RETINA MOBILE AND LANSCAPE
**	MIN : 500px / 31.25em | MAX : 767PX / 47.9375em
*/
/*--------------------------------
*** FOR MOBILE
**	MAX : 640PX / 40em
*/
/*--------------------------------
*** FOR MINI MOBILE
**	MAX : 400PX / 25em
*/
/*------------------------------------*\
  #COLORS
\*------------------------------------*/
/*------------------------------------*\
  #FONT
\*------------------------------------*/
/*------------------------------------*\
  #SPACE
\*------------------------------------*/
/*------------------------------------*\
  #BORDER
\*------------------------------------*/
/*------------------------------------*\
  #FORNT
\*------------------------------------*/
body {
  font-family: "Inter", sans-serif;
}

.paragraph {
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.8;
}
.paragraph--primary {
  color: #24222c;
}
.paragraph--secondary {
  color: rgb(113.5, 113.5, 113.5);
}
.paragraph--tertiary {
  color: #bebebe;
}

.tag {
  padding: 0.5em 1.25em;
  border-radius: 9999px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.tag--primary {
  color: #50cb8b;
  background-color: #effff7;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1.5em;
  font-weight: 600;
}
.title__arrow {
  transform: rotate(-45deg);
}
.title--primary {
  color: #24222c;
}
.title--secondary {
  color: #ffffff;
}

/*------------------------------------*\
  #HEADINGS
\*------------------------------------*/
.heading-1,
.heading-2,
.heading-3 {
  font-weight: 700;
  text-transform: uppercase;
}
.heading-1--primary,
.heading-2--primary,
.heading-3--primary {
  color: #24222c;
}
.heading-1--secondary,
.heading-2--secondary,
.heading-3--secondary {
  color: #ffffff;
}

.heading-1 {
  font-size: 4.5em;
}

.heading-2 {
  font-size: 3em;
}

.heading-3 {
  font-size: 2.25em;
}

/*------------------------------------*\
  #MEDIA QUERIES
\*------------------------------------*/
@media screen and (max-width: 75em) {
  .heading-1 {
    font-size: 3em;
  }
  .heading-2 {
    font-size: 2.25em;
  }
  .heading-3 {
    font-size: 1.875em;
  }
}
@media screen and (max-width: 40em) {
  .heading-1 {
    font-size: 2.25em;
  }
  .heading-2 {
    font-size: 1.875em;
  }
  .heading-3 {
    font-size: 1.5em;
  }
}
img,
picture,
svg,
video {
  width: 100%;
}

/*------------------------------------*\
  #BASE
\*------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

ol,
ul {
  list-style: none;
}

img,
picture,
svg,
video {
  display: block;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/
/*=========================================================
*********   Generic DropDown Component
*******     Whenever .dropdown is hovered .dropdown__content appears
*/
.dropdown {
  position: relative;
}
.dropdown:hover .dropdown__content {
  display: unset;
}
.dropdown .dropdown__content {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
}

/*=========================================================
*********   Generic Button Component
*******  
*/
/*=========================================================
*********  This customizes the generic dropdown for this project
*******  
*/
.dropdown {
  display: flex;
  align-items: center;
  gap: 0.75em;
}
.dropdown__content {
  background-color: #ffffff;
  color: #24222c;
  border-radius: 0.375em;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  padding: 1em;
  gap: 0.5em;
  flex-direction: column;
  text-wrap: nowrap;
}
.dropdown__icon {
  transition: transform 150ms;
}
.dropdown:hover .dropdown__content {
  display: flex;
}
.dropdown:hover .dropdown__icon {
  transform: rotate(180deg);
}

/*=========================================================
*********  This customizes the generic button for this project
*******  
*/
.button {
  background: transparent;
  color: #fff;
  border-radius: 9999px;
  border: none;
  padding: 1em 1.5em;
  font-size: 0.875em;
  font-weight: 600;
  transition: 150ms;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
}
.button:hover {
  background-color: none;
}
.button--primary {
  background-color: #50cb8b;
  color: #ffffff;
}
.button--secondary {
  background-color: #ffffff;
  color: #24222c;
  border: 2px solid #24222c;
  gap: 0.75em;
}
.button--secondary .button__icon {
  transform: rotate(-45deg);
  font-size: 1.875em;
}
@media screen and (max-width: 40em) {
  .button--secondary .button__icon {
    font-size: 1.25em;
  }
}
.button:hover {
  opacity: 70%;
}

.input-group {
  display: flex;
  border-radius: 9999px;
  padding: 0.75em;
  gap: 0.75em;
  justify-content: space-between;
}
.input-group__input {
  border: none;
  outline: none;
  flex-grow: 1;
}
.input-group__button {
  display: flex;
  gap: 0.5em;
}
.input-group--primary {
  background-color: #ffffff;
}

/*------------------------------------*\
  #LAYOUTS
\*------------------------------------*/
.top-bar {
  padding: 0 7rem;
  color: rgb(228.25, 228.25, 228.25);
  background-color: #24222c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  gap: 2em;
  font-size: 0.875em;
  font-weight: 600;
  text-wrap: nowrap;
}
@media screen and (max-width: 40em) {
  .top-bar {
    display: none;
  }
}
@media screen and (max-width: 62em) {
  .top-bar {
    justify-content: center;
  }
}
.top-bar__business {
  display: flex;
  gap: 1px;
  background-color: rgb(113.5, 113.5, 113.5);
}
@media screen and (max-width: 62em) {
  .top-bar__business {
    display: none;
  }
}
.top-bar__business span {
  background-color: #24222c;
  padding: 1.25em;
}
.top-bar__business span:first-child {
  padding-left: 0;
}
.top-bar__actions {
  display: flex;
  gap: 2em;
}
.top-bar__actions > li {
  padding: 1.25em 0;
}
.top-bar__actions > li > a {
  color: inherit;
  text-decoration: none;
  transition: all 150ms;
}
.top-bar__actions > li > a:hover {
  opacity: 70%;
}

.main-navigation {
  display: flex;
  align-items: center;
  gap: 3em;
  padding: 1em 7rem;
  border-bottom: 2px solid #f1f1f1;
  font-weight: 600;
  color: #24222c;
}
@media screen and (max-width: 75em) {
  .main-navigation {
    padding: 1em;
    justify-content: space-between;
    font-size: 1.25em;
  }
}
.main-navigation__logo {
  width: 8rem;
}
.main-navigation__menu-button-divider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
@media screen and (max-width: 75em) {
  .main-navigation__menu-button-divider {
    display: none;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    z-index: 2;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    flex-direction: column;
    align-items: start;
    padding: 1em;
    min-height: 100dvh;
    gap: 3em;
  }
  .main-navigation__menu-button-divider.open {
    display: flex;
  }
  .main-navigation__menu-button-divider.close {
    display: none;
  }
}
.main-navigation__close-menu-button {
  align-self: flex-end;
}
.main-navigation__menu {
  display: flex;
  gap: 2em;
}
@media screen and (max-width: 75em) {
  .main-navigation__menu {
    flex-direction: column;
  }
}
.main-navigation__menu > li > a {
  transition: all 150ms;
}
.main-navigation__menu > li > a:hover {
  opacity: 70%;
}
.main-navigation__close-menu-button, .main-navigation__open-menu-button {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 2.25em;
}
@media screen and (max-width: 75em) {
  .main-navigation__close-menu-button, .main-navigation__open-menu-button {
    display: flex;
  }
}

.hero-header {
  background-color: #ffffff;
  padding: 3.75em 7rem;
  display: flex;
  gap: 3em;
}
@media screen and (max-width: 40em) {
  .hero-header {
    font-size: 1em;
    padding: 3.75em 1.5rem;
  }
}
.hero-header__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
  flex-basis: 50%;
}
@media screen and (max-width: 62em) {
  .hero-header__left {
    flex-basis: 100%;
  }
}
.hero-header__btns-container {
  display: flex;
  gap: 1.5em;
}
.hero-header__reviews {
  align-self: stretch;
  border-radius: 1.5em;
  border: 2px solid #f1f1f1;
  padding: 2em;
  margin-top: 3.75em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
}
@media screen and (max-width: 40em) {
  .hero-header__reviews {
    gap: 1.5em;
    flex-direction: column;
    margin-top: 0;
    align-items: flex-start;
  }
}
@media screen and (min-width: 87.5em) {
  .hero-header__reviews {
    margin-top: auto;
  }
}
.hero-header__reviews-stars {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.hero-header__stars {
  font-size: 1.125em;
  color: #ffa534;
}
.hero-header__stars-number {
  font-weight: 700;
}
.hero-header__reviews-logo {
  height: 3em;
  width: 12em;
}
@media screen and (max-width: 75em) {
  .hero-header__reviews-logo {
    height: 2em;
    width: 8em;
  }
}
.hero-header__right {
  flex-basis: 50%;
}
@media screen and (max-width: 62em) {
  .hero-header__right {
    display: none;
  }
}
.hero-header__image {
  height: 100%;
  object-fit: cover;
  border-radius: 1em;
}

.about-section {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  padding: 7rem;
  gap: 3em;
}
@media screen and (max-width: 40em) {
  .about-section {
    padding: 3.75em 1.5rem;
  }
}
.about-section__top {
  display: flex;
  align-items: flex-start;
  gap: 2em;
  justify-content: space-between;
}
@media screen and (max-width: 64em) {
  .about-section__top {
    flex-direction: column;
  }
}
.about-section__mid-title {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.about-section__bottom {
  display: flex;
  gap: 2em;
}
@media screen and (max-width: 64em) {
  .about-section__bottom {
    flex-direction: column;
  }
}
.about-section__feature {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
  border-radius: 1.5em;
}
@media screen and (max-width: 64em) {
  .about-section__feature {
    gap: 1.5em;
    padding: 1.5em;
  }
}
.about-section__feature--polling-vote {
  flex-basis: 30%;
  background-color: rgb(228.25, 228.25, 228.25);
}
.about-section__feature--virtual-events {
  flex-basis: 70%;
  background-color: #24222c;
  background: linear-gradient(16deg, #24222c 80%, #50cb8b 120%);
}
.about-section__feature--virtual-events p {
  width: 75%;
}
@media screen and (max-width: 64em) {
  .about-section__feature--virtual-events p {
    width: auto;
  }
}
.about-section__feature img {
  border-radius: 1.5em 1.5em 0 0;
  margin: auto 0 -2em 0;
  height: 40rem;
  object-fit: cover;
}
@media screen and (max-width: 64em) {
  .about-section__feature img {
    height: 20rem;
    margin: auto 0 -1.5em 0;
  }
}

.features-section {
  background-color: #24222c;
  background-image: radial-gradient(at left top, #50cb8b -6%, #24222c 20%);
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 3.75em 7rem;
}
@media screen and (max-width: 40em) {
  .features-section {
    padding: 3.75em 1.5rem;
  }
}
.features-section__top, .features-section__bottom {
  display: flex;
  gap: 4em;
}
.features-section__top > *:first-child, .features-section__bottom > *:first-child {
  flex-basis: 45%;
}
.features-section__top > *:last-child, .features-section__bottom > *:last-child {
  flex-basis: 55%;
}
@media screen and (max-width: 75em) {
  .features-section__top, .features-section__bottom {
    flex-direction: column;
    gap: 2em;
  }
}
.features-section__image {
  border-radius: 1.5em;
  height: 100%;
  object-fit: cover;
}
.features-section__features-list {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  justify-content: space-between;
}
.features-section__feature-item {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid rgb(113.5, 113.5, 113.5);
}
.features-section__feature-link-divider {
  display: flex;
  justify-content: space-between;
}
.features-section__feature-link {
  color: #ffffff;
  font-size: 1.5em;
}
.features-section__feature-link .features-section__feature-arrow {
  transform: rotate(-45deg);
  padding: 0.25em;
}
.features-section__feature-link--active .features-section__feature-arrow {
  transform: rotate(45deg);
  background-color: #50cb8b;
  border-radius: 9999px;
}

.advantage-section {
  display: flex;
  flex-direction: column;
  background-color: #24222c;
  padding: 7rem;
  gap: 3em;
}
@media screen and (max-width: 40em) {
  .advantage-section {
    padding: 3.75em 1.5rem;
  }
}
.advantage-section__top {
  display: flex;
  align-items: flex-start;
  gap: 2em;
  justify-content: space-between;
}
@media screen and (max-width: 64em) {
  .advantage-section__top {
    flex-direction: column;
  }
}
.advantage-section__mid-title {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.advantage-section__bottom {
  display: flex;
  gap: 2em;
}
@media screen and (max-width: 64em) {
  .advantage-section__bottom {
    flex-direction: column;
  }
}
.advantage-section__card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-basis: 33%;
}
.advantage-section__card img {
  height: 45rem;
  border-radius: 1.5em;
  object-fit: cover;
}
@media screen and (max-width: 64em) {
  .advantage-section__card img {
    height: 35rem;
  }
}
@media screen and (max-width: 40em) {
  .advantage-section__card img {
    height: 25rem;
  }
}

.testimonial-section {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  background-image: radial-gradient(circle at 0 35%, #50cb8b -19%, transparent 10%), radial-gradient(circle at 100% 0%, #50cb8b -19%, transparent 10%);
  padding: 7rem;
  gap: 4em;
}
@media screen and (max-width: 40em) {
  .testimonial-section {
    padding: 3.75em 1.5rem;
  }
}
.testimonial-section__top {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.testimonial-section__heading {
  width: 38%;
}
@media screen and (max-width: 75em) {
  .testimonial-section__heading {
    width: 80%;
  }
}
.testimonial-section__bottom {
  display: flex;
  gap: 3em;
}
@media screen and (max-width: 64em) {
  .testimonial-section__bottom {
    flex-direction: column;
  }
}
.testimonial-section__review {
  display: flex;
  gap: 3em;
}
@media screen and (max-width: 40em) {
  .testimonial-section__review {
    gap: 1.5em;
    flex-direction: column;
  }
}
.testimonial-section__review-profile {
  border-radius: 9999px;
  width: 7rem;
  height: 7rem;
}
@media screen and (max-width: 75em) {
  .testimonial-section__review-profile {
    width: 5rem;
    height: 5rem;
  }
}
.testimonial-section__review-info {
  font-size: 1.5em;
}
@media screen and (max-width: 75em) {
  .testimonial-section__review-info {
    font-size: 1em;
  }
}
.testimonial-section__review-text {
  line-height: 1.7;
  margin-bottom: 1em;
}
.testimonial-section__review-person-info {
  font-weight: 700;
}
.testimonial-section__move-btns-container {
  display: flex;
  gap: 1.25em;
  align-self: flex-start;
}
@media screen and (max-width: 64em) {
  .testimonial-section__move-btns-container {
    align-self: center;
  }
}
.testimonial-section__move-btn {
  padding: 0.5em;
  font-size: 1.5em;
}

.cta-section {
  background-color: #ffffff;
  padding: 7rem;
  display: flex;
  gap: 4em;
  min-height: 35rem;
  align-items: center;
}
@media screen and (max-width: 40em) {
  .cta-section {
    padding: 3.75em 1.5rem;
  }
}
@media screen and (max-width: 75em) {
  .cta-section {
    flex-direction: column;
    align-items: stretch;
  }
}
.cta-section__left, .cta-section__right {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
.cta-section__btns-container {
  display: flex;
  gap: 0.5em;
}
.cta-section__left {
  gap: 2em;
}
.cta-section__right {
  gap: 4em;
}
.cta-section__message {
  position: relative;
}
.cta-section__message--left {
  align-self: flex-start;
}
.cta-section__message--right {
  align-self: flex-end;
}
@media screen and (max-width: 40em) {
  .cta-section__message--left {
    align-self: stretch;
  }
  .cta-section__message--right {
    align-self: stretch;
  }
}
.cta-section__message-profile {
  object-fit: cover;
  border-radius: 9999px;
}
.cta-section__message-profile--big {
  height: 6.5rem;
  width: 6.5rem;
}
@media screen and (max-width: 40em) {
  .cta-section__message-profile--big {
    display: none;
  }
}
.cta-section__message-profile--small {
  height: 3.5rem;
  width: 3.5rem;
}
.cta-section__message-box {
  display: flex;
  position: absolute;
  top: 50%;
  color: #ffffff;
  background-color: #24222c;
  gap: 1em;
  padding: 1em;
  width: 25rem;
}
@media screen and (max-width: 40em) {
  .cta-section__message-box {
    width: 10rem;
    position: static;
    width: 100%;
  }
}
.cta-section__message-box--left {
  left: 50%;
  border-radius: 0 1.5em 1.5em 1.5em;
}
.cta-section__message-box--right {
  right: 50%;
  border-radius: 1.5em 0 1.5em 1.5em;
}
.cta-section__message-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  max-width: 20rem;
}
@media screen and (max-width: 75em) {
  .cta-section__message-info {
    font-size: 0.75em;
    max-width: 100%;
  }
}
.cta-section__message-text {
  font-weight: 600;
}
.cta-section__message-profile-name {
  font-weight: 400;
}

.footer {
  background-color: #24222c;
  color: #bebebe;
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 3.75em 7rem;
  font-size: 1.125em;
}
@media screen and (max-width: 40em) {
  .footer {
    font-size: 0.875em;
    padding: 3.75em 1.5rem;
  }
}
.footer a {
  transition: all 150ms;
  text-transform: capitalize;
}
.footer a:hover {
  opacity: 70%;
}
.footer__logo {
  width: 15rem;
}
.footer__columns {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(113.5, 113.5, 113.5);
  padding-bottom: 4em;
  gap: 2em;
}
@media screen and (max-width: 75em) {
  .footer__columns {
    gap: 4em;
    align-items: flex-start;
    flex-direction: column;
  }
}
.footer__column {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.footer__column-heading {
  font-size: 1.25em;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__column-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.footer__contact {
  display: flex;
  gap: 2em;
}
@media screen and (max-width: 25em) {
  .footer__input-group input {
    max-width: 10rem;
  }
}
.footer__bottom {
  display: flex;
  gap: 1.5em;
  line-height: 1.8;
}
@media screen and (max-width: 40em) {
  .footer__bottom {
    flex-direction: column;
  }
}
.footer__copyright {
  margin-right: auto;
}
@media screen and (max-width: 40em) {
  .footer__copyright {
    margin-bottom: 1.5em;
  }
}

/*# sourceMappingURL=style.css.map */
