@use "sass:list";
@import "../../../shared/scss/components/button";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: list.nth($spaces, 4) list.nth($spaces, 8); 
  background-color: #fff;

  .logo {
    img {
      height: 2.5rem;
      width: auto;
    }
  }

  .navigation {
    ul {
      display: flex;
      list-style: none;
      gap: list.nth($spaces, 8);

      li {
        a {
          text-decoration: none;
          color: $darkColor;
          font-weight: $fontWeightRegular;
          transition: color 0.3s ease;

          &:hover {
            color: $primaryColor;
          }
        }
      }
    }
  }

  .action-buttons {
    display: flex;
    gap: 1rem;

    .login {
      @include button(
        $bg: none,
        $color: $darkColor,
        $border: 1px solid $lightColor,
        $radius: $roundedFull,
        $fontWeight: $fontWeightRegular,
        $hoverBgColor: $lightColor,
        $padding: list.nth($spaces, 2) list.nth($spaces, 4)
      );
    }

    .get-in-touch {
      @include button(
        $bg: $primaryColor,
        $color: #fff,
        $radius: $roundedFull,
        $hoverBgColor: $primaryColor,
        $padding: list.nth($spaces, 2) list.nth($spaces, 4)
      );
    }
  }
}
