@use "sass:list";
@use 'sass:color';
@import "../../../shared/scss/components/button";

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60vh;
  background: url('../images/main-hero.jpg') center/cover no-repeat;
  color: $lightColor;
  text-align: left;
  padding: list.nth($spaces, 4) list.nth($spaces, 8);
  margin: 0 auto;
  border-radius: $rounded4Xl;

  .hero-content {
    z-index: 1;
    max-width: 80%;

    .tagline {
      font-size: $fontSizeLg;
      font-weight: $fontWeightMedium;
      margin-bottom: list.nth($spaces, 2);
      color: rgba(255, 255, 255, 0.7);
    }

    .title {
      font-size: $fontSize6Xl;
      font-weight: $fontWeightBold;
      margin-bottom: list.nth($spaces, 4);
    }

    .actions {
      display: flex;
      gap: list.nth($spaces, 4);
      justify-content: flex-start;
      margin-top: list.nth($spaces, 4);

      .get-in-touch {
        @include button(
          $bg: none,
          $color: $lightColor,
          $hoverBgColor: rgba(255, 255, 255, 0.1),
          $padding: list.nth($spaces, 2) list.nth($spaces, 4)
        );
        border-bottom: 1px solid $lightColor
      }

      .our-services {
        @include button(
          $bg: none,
          $color: $lightColor,
          $border: none,
          $hoverBgColor: rgba(255, 255, 255, 0.1),
          $padding: list.nth($spaces, 2) list.nth($spaces, 4)
        );
        border-bottom: 1px solid $lightColor
      }
    }
  }

  .carousel {
    position: absolute;
    top: 50%;
    right: list.nth($spaces, 8);
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: list.nth($spaces, 4);
    width: 300px;
    height: 300px;

    .carousel-item {
      background-color: rgba(255, 255, 255, 0.18);
      padding: list.nth($spaces, 2);
      border-radius: $rounded2Xl;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }

      img {
        width: 60%;
        height: auto;
        border-radius: $roundedLg;
        aspect-ratio: 1 / 1;
        object-fit: cover;
      }

      .carousel-content {
        display: flex;
        justify-content: space-between;
      }
      
      .carousel-button {
        @include button(
          $bg: none,
          $color: $lightColor,
          $hoverBgColor: rgba(255, 255, 255, 0.1),
          $padding: list.nth($spaces, 2),
          $radius : $roundedFull,
          $border: 1px solid $lightColor
        );

        .arrow-icon {
          padding: 0;
        }
      }
      .caption {
        color: #fff;
        font-size: $fontSizeSm;
        text-align: center;
        margin-top: list.nth($spaces, 2);
      }
    }
  }

  .arrow-icon{
    width: 0.875em;
    height: 0.875em;
    padding-left: list.nth($spaces, 2);
  }

  .statistics {
    background-color: #FFF;
    color: $darkColor;
    position: absolute;
    display: flex;
    gap:  list.nth($spaces, 4);
    bottom: 0;
    right: 0;
    padding: list.nth($spaces, 5);
    border-radius: $rounded4Xl 0 0 0;
    max-width: 50%;

    .stat-item {
      padding: list.nth($spaces, 2);

      .stat-value{
        font-size: $fontSize4Xl;
        font-weight: $fontWeightBold;
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
    border-radius: $rounded4Xl;
  }
}
