/*------------------------------------*\
  #ABSTRACTS
\*------------------------------------*/
/*------------------------------------*\
  #FONT
\*------------------------------------*/
/*------------------------------------*\
  #BREAKPOINTS
\*------------------------------------*/
/*------------------------------------*\
  #SPACES (padding & margin & gap) 
\*------------------------------------*/
/*------------------------------------*\
  #TRANSITION DURATION
\*------------------------------------*/
/*------------------------------------*\
  #BOX SHADOW
\*------------------------------------*/
/*------------------------------------*\
  #BORDER RADIUS
\*------------------------------------*/
/*========================================================================================
*********   GRIDS BASE SUSY
*******     MEDIA QUERY 
*****       
***         
*/
/*--------------------------------
***  GENERAL DIFINITIONS
**	 COMPASS , SUSY , CSS3 , CLEARFIX
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.container {
  width: 90%;
}

/*========================================================================================*\
*----------------------------          MEDIA QUERY              ----------------------------        
\*========================================================================================*/
/*--------------------------------
*** 4K AND HIGH RESOULOTIONS 
**	MIN-WIDTH : 2560px OR 160em
*/
/*--------------------------------
*** LAPTOP OR DESKTOP 
**	MIN-WIDTH : 1400px OR 87.5em
*/
/*--------------------------------
*** FOR SOM OF THE DEVICES
**	MIN-WIDTH : 1201px OR 75.0625em
*/
/*--------------------------------
*** FOR ANY DEVICE MAX SIZE UNTIL
**	MAX-WIDTH : 1200px OR 75em
*/
/*--------------------------------
*** FOR ANY DEVICE MAX SIZE UNTIL
**	MAX-WIDTH : 1024px OR 64em
*/
/*--------------------------------
*** FOR ANY DEVICE MAX SIZE UNTIL
**	MAX-WIDTH : 992px OR 62em
*/
/*--------------------------------
*** FOR RETINA MOBILE AND LANSCAPE
**	MIN : 500px / 31.25em | MAX : 767PX / 47.9375em
*/
/*--------------------------------
*** FOR MOBILE
**	MAX : 640PX / 40em
*/
/*--------------------------------
*** FOR MINI MOBILE
**	MAX : 400PX / 25em
*/
/*------------------------------------*\
  #COLORS
\*------------------------------------*/
/*------------------------------------*\
  #FONT
\*------------------------------------*/
/*------------------------------------*\
  #SPACE
\*------------------------------------*/
/*------------------------------------*\
  #BORDER
\*------------------------------------*/
/*------------------------------------*\
  #FORNT
\*------------------------------------*/
body {
  font-family: "Inter", sans-serif;
}

/*------------------------------------*\
  #BASE
\*------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

ol,
ul {
  list-style: none;
}

img,
picture,
svg,
video {
  display: block;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

/*------------------------------------*\
  #LAYOUTS
\*------------------------------------*/
.top-bar {
  padding: 0 3em;
  color: #ffffff;
  background-color: #24222c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  gap: 2em;
  font-size: 0.875em;
  font-weight: 600;
}
@media screen and (max-width: 40em) {
  .top-bar {
    display: none;
  }
}
@media screen and (max-width: 62em) {
  .top-bar {
    justify-content: center;
  }
}
.top-bar__business {
  display: flex;
  gap: 1px;
  background-color: #f1f1f1;
}
@media screen and (max-width: 62em) {
  .top-bar__business {
    display: none;
  }
}
.top-bar__business span {
  background-color: #24222c;
  padding: 0.75em;
}
.top-bar__business span:first-child {
  padding-left: 0;
}
.top-bar__actions {
  display: flex;
  gap: 2em;
}
.top-bar__actions > li {
  padding: 0.75em 0;
}
.top-bar__actions > li > a {
  color: inherit;
  text-decoration: none;
  transition: all 150ms;
}
.top-bar__actions > li > a:hover {
  opacity: 70%;
}

.main-navigation {
  display: flex;
  align-items: center;
  gap: 3em;
  padding: 1em 3em;
  border-bottom: 2px solid #f1f1f1;
  font-weight: 600;
  color: #24222c;
}
@media screen and (max-width: 64em) {
  .main-navigation {
    padding: 1em;
    justify-content: space-between;
    font-size: 1.25em;
  }
}
.main-navigation__logo {
  width: 8rem;
}
.main-navigation__menu-button-divider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
@media screen and (max-width: 64em) {
  .main-navigation__menu-button-divider {
    display: none;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    z-index: 2;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    flex-direction: column;
    align-items: start;
    padding: 1em;
    min-height: 100vh;
    gap: 3em;
  }
  .main-navigation__menu-button-divider.open {
    display: flex;
  }
  .main-navigation__menu-button-divider.close {
    display: none;
  }
}
.main-navigation__close-menu-button {
  align-self: flex-end;
}
.main-navigation__menu {
  display: flex;
  gap: 2em;
}
@media screen and (max-width: 64em) {
  .main-navigation__menu {
    flex-direction: column;
  }
}
.main-navigation__menu > li > a {
  transition: all 150ms;
}
.main-navigation__menu > li > a:hover {
  opacity: 70%;
}
.main-navigation__close-menu-button, .main-navigation__open-menu-button {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 2.25em;
}
@media screen and (max-width: 64em) {
  .main-navigation__close-menu-button, .main-navigation__open-menu-button {
    display: flex;
  }
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/
/*=========================================================
*********   Generic DropDown Component
*******     Whenever .dropdown is hovered .dropdown__content appears
*/
.dropdown {
  position: relative;
}
.dropdown:hover .dropdown__content {
  display: unset;
}
.dropdown .dropdown__content {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
}

/*=========================================================
*********   Generic Button Component
*******  
*/
.button {
  text-align: center;
  cursor: pointer;
  border: none;
}

/*=========================================================
*********  This customizes the generic dropdown for this project
*******  
*/
.dropdown {
  display: flex;
  align-items: center;
  gap: 0.75em;
}
.dropdown__content {
  background-color: #ffffff;
  color: #24222c;
  border-radius: 0.375em;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  padding: 1em;
  gap: 0.5em;
  flex-direction: column;
  text-wrap: nowrap;
}
.dropdown__icon {
  transition: transform 150ms;
}
.dropdown:hover .dropdown__content {
  display: flex;
}
.dropdown:hover .dropdown__icon {
  transform: rotate(180deg);
}

/*=========================================================
*********  This customizes the generic button for this project
*******  
*/
.button {
  border-radius: 9999px;
  padding: 1em 1.5em;
  font-size: 0.875em;
  transition: all 150ms;
}
.button--primary {
  background-color: #50cb8b;
  color: #ffffff;
}
.button:hover {
  opacity: 70%;
}

/*# sourceMappingURL=style.css.map */
