/* ===================================
   游깷 MAIN IMPORT FILE  
   Collects and imports all SASS modules
====================================== */

/* ~~~~~~~~~~~~~~游댳 ABSTRACTS 游댳~~~~~~~~~~~~~~ */
/* Variables, Mixins, Media Queries, and Functions */
@import './abstracts/functions';
@import './abstracts/media-query';
@import './abstracts/mixins';
@import './abstracts/variables';

/* ~~~~~~~~~~~~~~游댲 BASE 游댲~~~~~~~~~~~~~~ */
/* Global styles, Resets, and Utilities */
@import './base/animation';
@import './base/reset';
@import './base/utilities';

/* ~~~~~~~~~~~~~~游릭 TYPOGRAPHY 游릭~~~~~~~~~~~~~~ */
/* Use global icons */
@import './typography/icomoon';

/* ~~~~~~~~~~~~~~游릭 COMPONENTS 游릭~~~~~~~~~~~~~~ */
/* Reusable components and UI elements */
@import './components/button';

/* ~~~~~~~~~~~~~~丘뙖잺 LAYOUT 丘뙖잺~~~~~~~~~~~~~~ */
/* Grid systems, structure, and layout styles */
@import './layout/grid';
