.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: nth($spaces, 4) nth($spaces, 10);
    display: inline-block;
    border-radius: $rounded2Xl;
    transition: all 0.2s;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($colorBlack, 0.2);
  }
  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($colorBlack, 0.2);
  }

  &-button {
    background-image: linear-gradient(to right, $colorSecondary, $colorPrimary);
    color: $colorwhite;
    box-shadow: 0 1rem 2rem rgba($colorBlack, 0.1);
  }
  &-cta {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
