/*------------------------------------*\
  #FONT
\*------------------------------------*/

$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemibold: 600;
$fontWeightBold: 700;

$fontSizeXs: 0.75em;
$fontSizeSm: 0.875em;
$fontSizeBase: 1em;
$fontSizeLg: 1.125em;
$fontSizeXl: 1.25em;
$fontSize2Xl: 1.5em;
$fontSize3Xl: 1.875em;
$fontSize4Xl: 2.25em;
$fontSize5Xl: 3em;
$fontSize6Xl: 3.75em;
$fontSize7Xl: 4.5em;
// To be continued...

/*------------------------------------*\
  #BREAKPOINTS
\*------------------------------------*/

$led4k: 160em;
$alpha: 87.5em;
$preAlpha: 75.0625em;
$beta: 75em;
$preBeta: 64em;
$gamma: 62em;
$lota: 31.25em;
$preZeta: 47.9375em;
$eta: 40em;
$kappa: 25em;

/*------------------------------------*\
  #SPACES (padding & margin & gap) 
\*------------------------------------*/

$spaces: [];
@for $i from 1 through 16 {
  $spaces: append($spaces, #{0.25 * $i}em);
}

/*------------------------------------*\
  #TRANSITION DURATION
\*------------------------------------*/

$durations: (
  75: 75ms,
  100: 100ms,
  150: 150ms,
  200: 200ms,
  300: 300ms,
  500: 500ms,
  700: 700ms,
  1000: 1000ms,
);

/*------------------------------------*\
  #BOX SHADOW
\*------------------------------------*/

$shadowSm: 0 1px 2px 0 rgb(0 0 0 / 0.05);

/*------------------------------------*\
  #BORDER RADIUS
\*------------------------------------*/

$roundedSm: 0.125em;
$rounded: 0.25em;
$roundedMd: 0.375em;
$roundedLg: 0.5em;
$roundedXl: 0.75em;
$rounded2Xl: 1em;
$rounded3Xl: 1.5em;
$roundedFull: 9999px;

