/*------------------------------------*\
  #FONT
\*------------------------------------*/

$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemibold: 600;
$fontWeightBold: 700;

$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-base: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-2xl: 1.5rem;
$font-size-3xl: 1.875rem;
$font-size-4xl: 2.25rem;
// To be continued...

/*------------------------------------*\
  #BREAKPOINTS
\*------------------------------------*/

$led4k: 160em;
$alpha: 87.5em;
$pre-alpha: 75.0625em;
$beta: 75em;
$pre-beta: 64em;
$gamma: 62em;
$lota: 31.25em;
$pre-zeta: 47.9375em;
$eta: 40em;
$kappa: 25em;

/*------------------------------------*\
  #SPACES (padding & margin & gap) 
\*------------------------------------*/
$space-1: calc(0.25em * 1);
$space-2: calc(0.25em * 2);
$space-3: calc(0.25em * 3);
$space-4: calc(0.25em * 4);
$space-5: calc(0.25em * 5);
$space-6: calc(0.25em * 6);
$space-7: calc(0.25em * 7);
$space-8: calc(0.25em * 8);
$space-9: calc(0.25em * 9);
$space-10: calc(0.25em * 10);
$space-11: calc(0.25em * 11);
$space-12: calc(0.25em * 12);
// To be continued...

/*------------------------------------*\
  #TRANSITION DURATION
\*------------------------------------*/

$duration-75: 75ms;
$duration-100: 100ms;
$duration-150: 150ms;
$duration-200: 200ms;
$duration-300: 300ms;
$duration-500: 500ms;
$duration-700: 700ms;
$duration-1000: 1000ms;

/*------------------------------------*\
  #BOX SHADOW
\*------------------------------------*/

$shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);

/*------------------------------------*\
  #BORDER RADIUS
\*------------------------------------*/

$rounded-sm: 0.125em;
$rounded: 0.25em;
$rounded-md: 0.375em;

