@charset "UTF-8";
/*========================================================================================
*********   
*******     IMPORT ALL OF THE STYLES HERE
*****       
***         
*/
/*--------------------------------
***  shared files 
**  
*/
/* ===================================
   🌐 MAIN IMPORT FILE  
   Collects and imports all SASS modules
====================================== */
/* ~~~~~~~~~~~~~~🔹 ABSTRACTS 🔹~~~~~~~~~~~~~~ */
/* Variables, Mixins, Media Queries, and Functions */
/*========================================================================================
*********   GRIDS BASE SUSY
*******     MEDIA QUERY 
*****       
***         
*/
/*--------------------------------
***  GENERAL DIFINITIONS
**	 CSS3 , CLEARFIX
*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.container {
  width: 90%;
}

/*========================================================================================*\
*----------------------------          MEDIA QUERY              ----------------------------        
\*========================================================================================*/
/*--------------------------------
*** 4K AND HIGH RESOULOTIONS 
**	MIN-WIDTH : 2560px OR 160em
*/
/*--------------------------------
*** LAPTOP OR DESKTOP 
**	MIN-WIDTH : 1400px OR 87.5em
*/
/*--------------------------------
*** FOR SOM OF THE DEVICES
**	MIN-WIDTH : 1201px OR 75.0625em
*/
/*--------------------------------
*** FOR ANY DEVICE MAX SIZE UNTIL
**	MAX-WIDTH : 1200px OR 75em
*/
/*--------------------------------
*** FOR ANY DEVICE MAX SIZE UNTIL
**	MAX-WIDTH : 1024px OR 64em
*/
/*--------------------------------
*** FOR ANY DEVICE MAX SIZE UNTIL
**	MAX-WIDTH : 992px OR 62em
*/
/*--------------------------------
*** FOR RETINA MOBILE AND LANSCAPE
**	MIN : 500px / 31.25em | MAX : 767PX / 47.9375em
*/
/*--------------------------------
*** FOR MOBILE
**	MAX : 640PX / 40em
*/
/*--------------------------------
*** FOR MINI MOBILE
**	MAX : 400PX / 25em
*/
/*------------------------------------*\
  #FONT
\*------------------------------------*/
/*------------------------------------*\
  #BREAKPOINTS
\*------------------------------------*/
/*------------------------------------*\
  #SPACES (padding & margin & gap) 
\*------------------------------------*/
/*------------------------------------*\
  #TRANSITION DURATION
\*------------------------------------*/
/*------------------------------------*\
  #BOX SHADOW
\*------------------------------------*/
/*------------------------------------*\
  #BORDER RADIUS
\*------------------------------------*/
/* ~~~~~~~~~~~~~~🔸 BASE 🔸~~~~~~~~~~~~~~ */
/* Global styles, Resets, and Utilities */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

ol,
ul {
  list-style: none;
}

img,
picture,
svg,
video {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ~~~~~~~~~~~~~~🟢 COMPONENTS 🟢~~~~~~~~~~~~~~ */
/* Reusable components and UI elements */
/*=========================================================
*********   Generic Button Component
*******  
*/
/* ~~~~~~~~~~~~~~⚙️ LAYOUT ⚙️~~~~~~~~~~~~~~ */
/* Grid systems, structure, and layout styles */
/*=======================
*********   GRIDS COL
*******     MEDIA QUERY 
*****       
***         
*/
.row {
  width: 100%;
  display: block;
  clear: both;
}

@media screen and (min-width: 75.0625em) {
  .col-xl-1 {
    width: 8.3333333333%;
    float: left;
  }
  .col-xl-2 {
    width: 16.6666666667%;
    float: left;
  }
  .col-xl-3 {
    width: 25%;
    float: left;
  }
  .col-xl-4 {
    width: 33.3333333333%;
    float: left;
  }
  .col-xl-5 {
    width: 41.6666666667%;
    float: left;
  }
  .col-xl-6 {
    width: 50%;
    float: left;
  }
  .col-xl-7 {
    width: 58.3333333333%;
    float: left;
  }
  .col-xl-8 {
    width: 66.6666666667%;
    float: left;
  }
  .col-xl-9 {
    width: 75%;
    float: left;
  }
  .col-xl-10 {
    width: 83.3333333333%;
    float: left;
  }
  .col-xl-11 {
    width: 91.6666666667%;
    float: left;
  }
  .col-xl-12 {
    width: 100%;
    float: left;
  }
}
@media screen and (max-width: 75em) {
  .col-lg-1 {
    width: 8.3333333333%;
    float: left;
  }
  .col-lg-2 {
    width: 16.6666666667%;
    float: left;
  }
  .col-lg-3 {
    width: 25%;
    float: left;
  }
  .col-lg-4 {
    width: 33.3333333333%;
    float: left;
  }
  .col-lg-5 {
    width: 41.6666666667%;
    float: left;
  }
  .col-lg-6 {
    width: 50%;
    float: left;
  }
  .col-lg-7 {
    width: 58.3333333333%;
    float: left;
  }
  .col-lg-8 {
    width: 66.6666666667%;
    float: left;
  }
  .col-lg-9 {
    width: 75%;
    float: left;
  }
  .col-lg-10 {
    width: 83.3333333333%;
    float: left;
  }
  .col-lg-11 {
    width: 91.6666666667%;
    float: left;
  }
  .col-lg-12 {
    width: 100%;
    float: left;
  }
}
@media screen and (max-width: 62em) {
  .col-md-1 {
    width: 8.3333333333%;
    float: left;
  }
  .col-md-2 {
    width: 16.6666666667%;
    float: left;
  }
  .col-md-3 {
    width: 25%;
    float: left;
  }
  .col-md-4 {
    width: 33.3333333333%;
    float: left;
  }
  .col-md-5 {
    width: 41.6666666667%;
    float: left;
  }
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-md-7 {
    width: 58.3333333333%;
    float: left;
  }
  .col-md-8 {
    width: 66.6666666667%;
    float: left;
  }
  .col-md-9 {
    width: 75%;
    float: left;
  }
  .col-md-10 {
    width: 83.3333333333%;
    float: left;
  }
  .col-md-11 {
    width: 91.6666666667%;
    float: left;
  }
  .col-md-12 {
    width: 100%;
    float: left;
  }
}
@media screen and (max-width: 47.9375em) {
  .col-sm-1 {
    width: 8.3333333333%;
    float: left;
  }
  .col-sm-2 {
    width: 16.6666666667%;
    float: left;
  }
  .col-sm-3 {
    width: 25%;
    float: left;
  }
  .col-sm-4 {
    width: 33.3333333333%;
    float: left;
  }
  .col-sm-5 {
    width: 41.6666666667%;
    float: left;
  }
  .col-sm-6 {
    width: 50%;
    float: left;
  }
  .col-sm-7 {
    width: 58.3333333333%;
    float: left;
  }
  .col-sm-8 {
    width: 66.6666666667%;
    float: left;
  }
  .col-sm-9 {
    width: 75%;
    float: left;
  }
  .col-sm-10 {
    width: 83.3333333333%;
    float: left;
  }
  .col-sm-11 {
    width: 91.6666666667%;
    float: left;
  }
  .col-sm-12 {
    width: 100%;
    float: left;
  }
}
/*--------------------------------
***  IMPORT GENERAL AND IMPORTANT
**   VARIABLES
*/
/*========================================================================================
*********   ALL OF THE VARIABLES TYPE 
*******     COLORS 
*****       GRIDS
***         
*/
/*========================================================================================*\
*----------------------------               COLORS              ----------------------------        
\*========================================================================================*/
/*--------------------------------
*** FLAT UI COLORS 
**  flatuicolors.com/palette/defo
*/
/*========================================================================================*\
*----------------------------               SHADOW              ----------------------------        
\*========================================================================================*/
/*========================================================================================*\
*----------------------------               FONTS              ----------------------------        
\*========================================================================================*/
/*--------------------------------
***  SET DIRECTION BEFORE ANYTHING
**   
*/
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
body * {
  padding: 0;
  margin: 0;
  font: revert;
}
body a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
body a:hover {
  transition: 0.5s;
  color: rgb(170, 170, 170);
}
body li {
  list-style-type: none;
}

/*--------------------------------
***  SET DIRECTION BEFORE ANYTHING
**   
*/
.cta__button--button {
  width: 7rem;
  height: 3rem;
  background: rgb(84, 234, 84);
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}
.cta__button--button:hover {
  transition: 0.3s ease-in-out;
  background: rgb(71, 198, 71);
}

/*--------------------------------
***  IMPORT GENERAL AND IMPORTANT
**   MIXINS
*/
/*--------------------------------
***  LAYOUT
**   HEADER, HERO SECTION, EXPLORE HUB, SMART SOLUTIONS, CUSTOMER REVIEWS, PLAN SELECTOR HUB
*/
.header .hide-on-laptop {
  display: none;
}
.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25em;
  font-size: 1.125em;
}
.header__main nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}
.header__main nav ul li {
  margin: 0 0.75em;
}
.header__hidden {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 13;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: -10px 0 0.75em rgba(0, 0, 0, 0.1);
  text-align: center;
  display: none;
}
.header__hidden .logo {
  height: 2rem;
  width: 100%;
}
.header__hidden--nav {
  top: 2rem;
  position: relative;
}
.header__hidden--nav ul li {
  height: 3rem;
  width: 100%;
}
.header .cta__button--button {
  background-color: rgb(84, 234, 84);
}
.header .cta__button--button:hover {
  background-color: rgb(71, 198, 71);
}
@media screen and (max-width: 40em) {
  .header .hide-on-laptop {
    display: block;
  }
  .header .hide-on-mobile {
    display: none;
  }
}
@media screen and (min-width: 31.25em) and (max-width: 47.9375em) {
  .header .hide-on-laptop {
    display: block;
  }
  .header .hide-on-mobile {
    display: none;
  }
}

.hero__section {
  border-radius: 1.5em;
  position: relative;
  margin: 0 auto;
  width: 97%;
  height: 37rem;
  /*--------------------------------
  *** FOR RETINA MOBILE AND LANSCAPE
  **	MIN : 500px / 31.25em | MAX : 767PX / 47.9375em
  */
  /*--------------------------------

  *** FOR MINI MOBILE
  ** MAX : 400PX / 25em
  */
}
.hero__section--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2em;
}
.hero__section--text-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2em;
  position: absolute;
  color: rgb(255, 255, 255);
  width: 35rem;
  left: 0rem;
  height: 100%;
  top: 0;
}
.hero__section--text-overlay .container {
  width: 76%;
  padding-top: 3em;
  position: relative;
  height: 100%;
  margin: 0 auto;
}
.hero__section--text-overlay .container h1 {
  text-align: center;
  padding-top: 0.5em;
  font-size: 2.5rem;
  font-weight: 700;
}
.hero__section--text-overlay .container p {
  padding-top: 1em;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.6;
}
.hero__section--text-overlay .container .cta__button {
  position: relative;
  text-align: center;
  display: flex;
  gap: 2em;
  left: 0rem;
  padding-top: 1em;
  text-align: center;
  place-content: center;
}
.hero__section--text-overlay .container .cta__button--button {
  width: 9rem;
  border: none;
  border-radius: 0.5em;
  height: 3rem;
  font-size: 1em;
}
.hero__section--text-overlay .container .cta__button--button-more {
  background-color: rgb(170, 170, 170);
  width: 9rem;
  border: none;
  border-radius: 0.5em;
  height: 3rem;
  cursor: pointer;
  font-size: 1em;
}
.hero__section--text-overlay .container .cta__button--button-more:hover {
  transition: 0.3s ease-in-out;
  background-color: rgb(139, 135, 135);
}
.hero__section--text-overlay .container .stats-container {
  position: relative;
  padding-top: 1em;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  gap: 2em;
}
@media screen and (min-width: 31.25em) and (max-width: 47.9375em) {
  .hero__section--text-overlay {
    width: 100%;
  }
  .hero__section--text-overlay .container h1,
  .hero__section--text-overlay .container p {
    text-align: start;
  }
}
@media screen and (max-width: 40em) {
  .hero__section--text-overlay {
    width: 100%;
  }
  .hero__section .container h1,
  .hero__section .container p {
    text-align: start;
  }
}

.explore__hub {
  position: relative;
  padding-top: 5rem;
  width: 97%;
  left: 1rem;
  /*--------------------------------
  *** FOR ANY DEVICE MAX SIZE UNTIL
  **	MAX-WIDTH : 1200px OR 75em
  */
  /*--------------------------------
  *** FOR ANY DEVICE MAX SIZE UNTIL
  **	MAX-WIDTH : 992px OR 62em
  */
  /*--------------------------------
  *** FOR MINI MOBILE
  **	MAX : 400PX / 25em
  */
  /*--------------------------------
  *** FOR MOBILE
  **	MAX : 640PX / 40em
  */
}
.explore__hub h2 {
  font-size: 3em;
  font-weight: 600;
}
.explore__hub .header__section {
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
}
.explore__hub .header__section p {
  width: 24rem;
  line-height: 1.4;
}
.explore__hub .header__section .cta__button {
  width: 24rem;
}
.explore__hub .header__section .cta__button--button {
  width: 15rem;
  font-size: 1.125em;
  border-radius: 1em;
}
.explore__hub .card__section {
  padding-top: 2em;
  display: flex;
  justify-content: space-between;
}
.explore__hub .card__section .card {
  width: 24rem;
  border-radius: 2em;
  background-color: rgb(255, 255, 255);
}
.explore__hub .card__section .card__img img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 2em;
}
.explore__hub .card__section .card__text-box {
  padding: 0.5em;
}
.explore__hub .card__section .card__text-box p {
  font-size: 1.5em;
  font-weight: 700;
}
.explore__hub .card__section .card__text-box .paragraph,
.explore__hub .card__section .card__text-box p {
  line-height: 1.6;
}
.explore__hub .card__section .card__text-box .btn {
  position: relative;
  cursor: pointer;
  font-size: 0.875em;
  border: none;
  top: -24rem;
  left: 4rem;
  width: 6.625rem;
  height: 2.6875rem;
  background: #f1f1f1;
  border-radius: 1.5rem;
  transform: translate(-50%, -50%);
}
.explore__hub .card__section .card__text-box .btn:hover {
  background: rgba(193, 193, 193, 0.81);
  transition: 0.5s;
}
.explore__hub .button-box {
  text-align: center;
}
.explore__hub .button-box .cta__button {
  width: 17rem;
  height: 3rem;
  border: none;
  font-size: 0.9rem;
  border-radius: 1em;
  background: rgb(84, 234, 84);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.explore__hub .button-box .cta__button:hover {
  background-color: rgb(71, 198, 71);
}
@media screen and (max-width: 75em) {
  .explore__hub h2 {
    text-align: center;
  }
  .explore__hub .header__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .explore__hub .header__section .cta__button {
    width: 100%;
    text-align: center;
    padding-top: 2em;
    position: relative;
  }
  .explore__hub .card__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    align-items: center;
    left: -0.5rem;
    position: relative;
  }
  .explore__hub .card__section .card {
    margin: 0 auto;
  }
}
@media screen and (max-width: 62em) {
  .explore__hub {
    text-align: center;
  }
  .explore__hub .header__section {
    display: grid;
    justify-content: space-around;
  }
  .explore__hub .header__section p {
    margin: 0 auto;
    width: 60%;
    line-height: 1.7;
    padding-top: 1em;
    text-align: center;
  }
  .explore__hub .header__section .cta__button {
    margin: 0 auto;
    padding-top: 1em;
  }
  .explore__hub .card__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    align-items: center;
    left: -0.5rem;
    position: relative;
  }
  .explore__hub .card__section .card {
    margin: 0 auto;
  }
  .explore__hub .card__section .card__text-box .btn {
    left: -4rem;
  }
  .explore__hub .card__section .card__text-box .paragraph {
    line-height: 1.6;
    text-align: start;
  }
  .explore__hub .card__section .card__text-box p {
    text-align: start;
  }
}
@media screen and (max-width: 25em) {
  .explore__hub {
    text-align: center;
    padding: 5rem 0.5em 0rem 0.5em;
    width: 100%;
    left: 0rem;
  }
  .explore__hub .header__section {
    display: grid;
    place-items: center;
  }
  .explore__hub .header__section p {
    max-width: 100%;
    width: 100%;
    line-height: 1.7;
  }
  .explore__hub .card__section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .explore__hub .card__section .card {
    margin-top: 1em;
  }
  .explore__hub .card__section .card__text-box .btn {
    left: -4rem;
  }
}
@media screen and (max-width: 40em) {
  .explore__hub {
    text-align: center;
    padding: 5rem 0.5em 0rem 0.5em;
    width: 100%;
    left: 0rem;
    width: 22rem;
    margin: 0 auto;
  }
  .explore__hub h2 {
    text-align: center;
  }
  .explore__hub .header__section {
    display: grid;
    place-items: center;
  }
  .explore__hub .header__section p {
    max-width: 100%;
    width: 100%;
    line-height: 1.7;
  }
  .explore__hub .card__section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .explore__hub .card__section .card {
    margin-top: 1em;
    width: 22rem;
  }
  .explore__hub .card__section .card__text-box p,
  .explore__hub .card__section .card__text-box .paragraph {
    text-align: start;
  }
  .explore__hub .card__section .card__text-box .btn {
    left: -3rem;
  }
}

.smart__solutions {
  padding-top: 5rem;
  /*--------------------------------
  *** FOR ANY DEVICE MAX SIZE UNTIL
  ** MAX-WIDTH : 992px OR 62em
  */
  /*--------------------------------

  *** FOR MOBILE
  ** MAX : 640PX / 40em
  */
  /*--------------------------------

  *** FOR MINI MOBILE
  ** MAX : 400PX / 25em
  */
}
.smart__solutions .container {
  background-color: rgb(244, 245, 246);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.smart__solutions--information-box {
  padding-top: 2em;
}
.smart__solutions--information-box .menuItem {
  display: flex;
  align-items: center;
  width: 20rem;
  border-radius: 1em;
  background: rgb(255, 255, 255);
  height: 4rem;
  padding: 0.75em;
  margin-bottom: 1em;
}
.smart__solutions--information-box .menuItem span {
  left: 1rem;
  position: relative;
  font-size: 1.125em;
}
.smart__solutions--information-box .selected {
  background-color: rgb(32, 34, 35);
  color: rgb(255, 255, 255);
  height: auto;
  gap: 1em;
  display: grid;
}
.smart__solutions--information-box .selected p {
  line-height: 1.6;
  left: 1rem;
  position: relative;
  width: 96%;
}
@media screen and (max-width: 62em) {
  .smart__solutions .container .smart__solutions--img-box {
    display: none;
  }
}
@media screen and (min-width: 31.25em) and (max-width: 47.9375em) {
  .smart__solutions .container .smart__solutions--img-box {
    display: none;
  }
}
@media screen and (max-width: 40em) {
  .smart__solutions .container .smart__solutions--img-box {
    display: none;
  }
}

.customer__reviews {
  padding-top: 5rem;
  /*--------------------------------
  *** FOR ANY DEVICE MAX SIZE UNTIL
  **	MAX-WIDTH : 1200px OR 75em
  */
  /*--------------------------------
  *** FOR ANY DEVICE MAX SIZE UNTIL
  **	MAX-WIDTH : 1024px OR 64em
  */
  /*--------------------------------
  *** FOR ANY DEVICE MAX SIZE UNTIL
  ** MAX-WIDTH : 992px OR 62em
  */
  /*--------------------------------
  *** FOR RETINA MOBILE AND LANSCAPE
  ** MIN : 500px / 31.25em | MAX : 767PX / 47.9375em
  */
  /*--------------------------------
  *** FOR MINI MOBILE
  ** MAX : 400PX / 25em
  */
}
.customer__reviews .moonlitLavender {
  background-color: rgb(204, 186, 254);
}
.customer__reviews .skyBreeze {
  background-color: rgb(165, 228, 249);
}
.customer__reviews .sringGreen {
  background-color: rgb(187, 249, 158);
}
.customer__reviews--header-section {
  display: flex;
  justify-content: space-evenly;
  line-height: 1.4;
}
.customer__reviews--header-section p {
  width: 24rem;
}
.customer__reviews--header-section h1 {
  font-size: 1.875em;
  font-weight: 600;
  width: 24rem;
}
.customer__reviews--card-section {
  padding-top: 2em;
  display: flex;
  justify-content: space-evenly;
}
.customer__reviews--card-section .card {
  width: 24rem;
  border-radius: 2em;
  border: none;
  height: 21rem;
}
.customer__reviews--card-section .card .card__text-box {
  width: 95%;
  left: 0.5rem;
  position: relative;
  display: grid;
  top: 0.5rem;
  height: 20rem;
  padding: 0.5em;
}
.customer__reviews--card-section .card .card__text-box .paragraph {
  padding: 0.25em;
}
.customer__reviews--card-section .card .card__text-box .paragraph p {
  font-size: 1.25em;
  line-height: 1.4;
}
.customer__reviews--card-section .information-box {
  display: flex;
  gap: 1em;
  top: 2rem;
  position: relative;
  height: 5rem;
}
.customer__reviews--card-section .information-box img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  top: 0.5rem;
  position: relative;
  object-fit: cover;
}
.customer__reviews--card-section .information-box .about {
  align-items: center;
  display: grid;
  height: 4rem;
  top: 0.5rem;
  position: relative;
}
.customer__reviews--card-section .information-box .about .name {
  font-weight: bold;
}
@media screen and (max-width: 75em) {
  .customer__reviews--header-section {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    place-content: center;
  }
  .customer__reviews--header-section h1 {
    text-align: center;
    width: 100%;
  }
  .customer__reviews--header-section p {
    width: 50%;
    margin: 0 auto;
  }
  .customer__reviews--card-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
  .customer__reviews--card-section .card {
    margin: 0 auto;
  }
}
@media screen and (max-width: 64em) {
  .customer__reviews--header-section {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    place-content: center;
  }
  .customer__reviews--header-section h1 {
    text-align: center;
  }
  .customer__reviews--header-section p {
    width: 50%;
    margin: 0 auto;
  }
  .customer__reviews--card-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
  .customer__reviews--card-section .card {
    margin: 0 auto;
  }
}
@media screen and (max-width: 62em) {
  .customer__reviews--header-section {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    place-content: center;
  }
  .customer__reviews--header-section h1 {
    text-align: center;
  }
  .customer__reviews--header-section p {
    width: 50%;
    margin: 0 auto;
  }
  .customer__reviews--card-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
  .customer__reviews--card-section .card {
    margin: 0 auto;
  }
}
@media screen and (max-width: 64em) {
  .customer__reviews--header-section h1 {
    width: 100%;
  }
}
@media screen and (max-width: 40em) {
  .customer__reviews {
    width: 22rem;
    margin: 0 auto;
  }
  .customer__reviews--header-section {
    display: grid;
    text-align: center;
    gap: 1em;
    align-items: center;
  }
  .customer__reviews--header-section p,
  .customer__reviews--header-section h1 {
    width: 22rem;
    margin: o auto;
  }
  .customer__reviews--card-section {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(1, 1fr);
  }
  .customer__reviews--card-section .card {
    width: 22rem;
  }
}

.plan__Selector__Hub {
  padding: 5rem 1em 0.25em 1em;
  /* Responsive part */
  /*--------------------------------
  *** FOR ANY DEVICE MAX SIZE UNTIL
  **	MAX-WIDTH : 992px OR 62em
  */
  /*--------------------------------
  *** FOR RETINA MOBILE AND LANSCAPE
  **	MIN : 500px / 31.25em | MAX : 767PX / 47.9375em
  */
  /*--------------------------------
  *** FOR MOBILE
  **	MAX : 640PX / 40em
  */
}
.plan__Selector__Hub .plans {
  background: rgb(24, 26, 27);
  color: rgb(255, 255, 255);
  padding: 1em;
  border-radius: 2em;
}
.plan__Selector__Hub .plans h1 {
  font-size: 2.25em;
  margin-top: 1em;
  position: relative;
}
.plan__Selector__Hub .plans .mainBox {
  padding-top: 1em;
}
.plan__Selector__Hub .plans .mainBox .subscription {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
  background-color: rgb(38, 39, 40);
  border-radius: 0.5em;
}
.plan__Selector__Hub .plans .mainBox .subscription .subscription-level {
  display: flex;
  align-items: center;
  gap: 0.75em;
}
.plan__Selector__Hub .plans .mainBox .subscription .subscription-level h3 {
  margin: 0;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
}
.plan__Selector__Hub .plans .mainBox .subscription .subscription-options {
  display: flex;
  gap: 1.25em;
}
.plan__Selector__Hub .plans .mainBox .subscription .subscription-options span {
  width: 8rem;
  height: 2.5rem;
  border-radius: 0.5em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(47, 58, 46);
  gap: 0.5em;
  font-size: 1em;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.3s ease;
}
.plan__Selector__Hub .plans .mainBox .subscription .subscription-options span:hover {
  transform: scale(1.05);
}
.plan__Selector__Hub .plans .mainBox .subscription .subscription-options .basic {
  background: rgb(187, 249, 158);
}
.plan__Selector__Hub .plans .mainBox .subscription .subscription-options .advanced {
  background: rgb(204, 186, 254);
}
.plan__Selector__Hub .plans .mainBox .subscription .subscription-options .premium {
  background: rgb(237, 208, 135);
}
.plan__Selector__Hub .plans .mainBox .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em 1.25em;
}
.plan__Selector__Hub .plans .mainBox .box .status {
  width: 26rem;
  justify-content: space-between;
  display: flex;
}
.plan__Selector__Hub .plans .mainBox .box .status span {
  padding: 0.25em 0.75em;
}
.plan__Selector__Hub .plans .mainBox .custom-divider {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0.75em 0;
  height: 0.1875rem;
}
.plan__Selector__Hub .plans .download-box {
  position: relative;
  display: flex;
}
.plan__Selector__Hub .plans .download-box p {
  line-height: 1.7;
  margin-top: 1em;
  font-size: 1.2rem;
}
.plan__Selector__Hub .plans .download-box .information-section {
  width: 50%;
  text-align: center;
  padding: 5rem 0.25em 1em 7rem;
}
.plan__Selector__Hub .plans .download-box .information-section .btn-download {
  margin-top: 5rem;
}
.plan__Selector__Hub .plans .download-box .information-section .btn-download ul {
  margin-top: 9rem;
  width: 41%;
  text-align: center;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.plan__Selector__Hub .plans .download-box .information-section .btn-download li {
  display: inline-block;
  margin: 0.75em;
}
.plan__Selector__Hub .plans .download-box .information-section .btn-download .download {
  width: 12.5rem;
  height: 4.6875rem;
  background: black;
  float: left;
  border-radius: 0.375em;
  position: relative;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: 0.0625rem solid rgb(255, 255, 255);
}
.plan__Selector__Hub .plans .download-box .information-section .btn-download .download > .fa {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 0.9375rem;
  transform: translateY(-50%);
}
.plan__Selector__Hub .plans .download-box .information-section .btn-download .df,
.plan__Selector__Hub .plans .download-box .information-section .btn-download .dfn {
  position: absolute;
  left: 4.375rem;
}
.plan__Selector__Hub .plans .download-box .information-section .btn-download .df {
  top: 1.25rem;
  font-size: 0.75em;
}
.plan__Selector__Hub .plans .download-box .information-section .btn-download .dfn {
  top: 2.0625rem;
  font-size: 1em;
}
.plan__Selector__Hub .plans .download-box .information-section .btn-download .download:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  transition: 0.3s ease-in-out;
}
.plan__Selector__Hub .plans .download-box .image-box {
  top: 1rem;
  position: relative;
}
@media screen and (max-width: 62em) {
  .plan__Selector__Hub {
    padding: 5rem 0;
  }
  .plan__Selector__Hub .plans {
    padding: 2em;
    border-radius: 0.75em;
    margin: auto;
  }
  .plan__Selector__Hub .plans h1 {
    font-size: 2.25em;
    text-align: center;
    margin-bottom: 1.5em;
  }
  .plan__Selector__Hub .plans .mainBox {
    padding-top: 1.5em;
  }
  .plan__Selector__Hub .plans .mainBox .subscription {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 1.5em;
    background-color: rgb(38, 39, 40);
    border-radius: 0.5em;
  }
  .plan__Selector__Hub .plans .mainBox .subscription .subscription-level {
    justify-content: center;
    gap: 1em;
  }
  .plan__Selector__Hub .plans .mainBox .subscription .subscription-level h3 {
    font-size: 1.5em;
  }
  .plan__Selector__Hub .plans .mainBox .subscription .subscription-options {
    justify-content: center;
    gap: 1em;
  }
  .plan__Selector__Hub .plans .mainBox .subscription .subscription-options span {
    width: 100%;
    height: 2.5rem;
    font-size: 1em;
  }
  .plan__Selector__Hub .plans .mainBox .box {
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }
  .plan__Selector__Hub .plans .mainBox .box .status {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .plan__Selector__Hub .plans .download-box {
    flex-direction: column;
    align-items: center;
  }
  .plan__Selector__Hub .plans .download-box .image-box {
    display: none;
  }
  .plan__Selector__Hub .plans .download-box .information-section {
    width: 100%;
    padding: 2em 1em;
  }
  .plan__Selector__Hub .plans .download-box .information-section .btn-download ul {
    display: contents;
  }
  .plan__Selector__Hub .plans .download-box .image-box {
    margin-top: 1em;
  }
}
@media screen and (min-width: 31.25em) and (max-width: 47.9375em) {
  .plan__Selector__Hub .plans .mainBox .subscription {
    justify-content: center;
    gap: 2em;
  }
  .plan__Selector__Hub .plans .mainBox .subscription .subscription-level {
    justify-content: center;
  }
  .plan__Selector__Hub .plans .mainBox .box {
    display: grid;
    text-align: center;
    width: 100%;
    gap: 1em;
  }
  .plan__Selector__Hub .plans .mainBox .box h3,
  .plan__Selector__Hub .plans .mainBox .box .status {
    gap: 0;
    left: -1rem;
    position: relative;
    width: 27rem;
  }
  .plan__Selector__Hub .plans .download-box .information-section .btn-download ul {
    display: flex;
  }
}
@media screen and (max-width: 40em) {
  .plan__Selector__Hub .plans h1 {
    font-size: 1.875em;
    text-align: center;
  }
  .plan__Selector__Hub .plans .mainBox .subscription {
    display: grid;
    text-align: center;
    width: 100%;
    gap: 1em;
  }
  .plan__Selector__Hub .plans .mainBox .subscription .subscription-level,
  .plan__Selector__Hub .plans .mainBox .subscription .subscription-options {
    flex-wrap: wrap;
    width: 100%;
  }
  .plan__Selector__Hub .plans .mainBox .subscription .subscription-options {
    justify-content: space-between;
  }
  .plan__Selector__Hub .plans .mainBox .box {
    display: grid;
    text-align: center;
    position: relative;
    justify-content: center;
  }
  .plan__Selector__Hub .plans .mainBox .box h3,
  .plan__Selector__Hub .plans .mainBox .box .status {
    gap: 2em;
    text-align: center;
  }
  .plan__Selector__Hub .plans .mainBox .box .status {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.75em;
  }
  .plan__Selector__Hub .plans .mainBox .box .status span {
    flex: 1;
    display: inline-block;
    min-width: 5rem;
    text-align: center;
    padding: 0.3125rem 0.75em;
    border-radius: 0.375em;
  }
  .plan__Selector__Hub .plans .download-box .information-section .information-box {
    width: 100%;
    left: 0;
    position: relative;
  }
  .plan__Selector__Hub .plans .download-box .information-section .information-box .btn-download {
    left: -1.5rem;
  }
  .plan__Selector__Hub .plans .download-box .information-section .information-box .btn-download ul {
    display: contents;
    top: 3rem;
  }
}

.footer__section {
  padding: 5rem 0.5em 3em 0.5em;
  /*--------------------------------

  *** FOR RETINA MOBILE AND LANSCAPE
  ** MIN : 500px / 31.25em | MAX : 767PX / 47.9375em
  */
  /*--------------------------------

  *** FOR MOBILE
  ** MAX : 640PX / 40em
  */
  /*--------------------------------

  *** FOR MINI MOBILE
  ** MAX : 400PX / 25em
  */
}
.footer__section .footer {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  font-weight: 600;
}
.footer__section .footer__brand {
  font-size: 1.875em;
}
.footer__section .footer__nav-list {
  display: flex;
  gap: 1em;
}
.footer__section .footer__social-list {
  display: flex;
  gap: 1em;
}
.footer__section hr {
  width: 100%;
  margin: 0.75em 0;
  background-color: rgba(0, 0, 3, 0.2);
}
.footer__section .footer__copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}
@media screen and (max-width: 64em) {
  .footer__section .footer__brand {
    font-size: 1.25em;
  }
  .footer__section .footer__social-list {
    gap: 0.5em;
  }
}
@media screen and (min-width: 31.25em) and (max-width: 47.9375em) {
  .footer__section .footer__social-list {
    gap: 0.25em;
  }
}
@media screen and (max-width: 40em) {
  .footer__section .footer {
    display: grid;
    justify-content: center;
    align-content: space-between;
    justify-items: center;
    height: 6rem;
  }
  .footer__section .footer__nav {
    font-size: 1.25em;
  }
  .footer__section .footer__brand {
    font-size: 3em;
    top: -4rem;
    position: relative;
  }
  .footer__section .footer__nav-list {
    top: -2rem;
    position: relative;
  }
  .footer__section .footer__social-list {
    gap: 1em;
  }
  .footer__section .footer__section {
    width: 23rem;
  }
}

/*
***         
*****       
*******     
*********   
========================================================================================*/

/*# sourceMappingURL=style.css.map */
