/*========================================================================================
*********   
*******     IMPORT ALL OF THE STYLES HERE
*****       
***         
*/
/*--------------------------------
***  SET DIRECTION BEFORE ANYTHING
**   
*/
/*========================================================================================
*********   ALL OF THE VARIABLES TYPE 
*******     COLORS 
*****       GRIDS
***         
*/
/*========================================================================================*\
*----------------------------               COLORE              ----------------------------        
\*========================================================================================*/
/*--------------------------------
*** FLAT UI COLORS 
**  flatuicolors.com/palette/defo
*/
@import "../../shared/import.css";
body {
  font-family: "Poppins", sans-serif;
}
body li {
  list-style-type: none;
}
body a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
body .hideOnLaptop {
  display: none;
}

/*--------------------------------
***  IMPORT GENERAL AND IMPORTANT
**   VARIABLES
*/
/*========================================================================================
*********   ALL OF THE VARIABLES TYPE 
*******     COLORS 
*****       GRIDS
***         
*/
/*========================================================================================*\
*----------------------------               COLORE              ----------------------------        
\*========================================================================================*/
/*--------------------------------
*** FLAT UI COLORS 
**  flatuicolors.com/palette/defo
*/
/*--------------------------------
***  
**   appLand
*/
body .header .mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
body .header .mainHeader nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}
body .header .mainHeader nav ul li {
  margin: 0 15px;
}
body .header .hiddenHeader {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 13;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: none;
}
body .header .hiddenHeader .logo {
  height: 2rem;
  width: 100%;
}
body .header .hiddenHeader nav {
  top: 2rem;
  position: relative;
}
body .header .hiddenHeader nav ul li {
  height: 3rem;
  width: 100%;
}

/*--------------------------------
***  Buttons
**   
*/
button {
  width: 7rem;
  height: 3rem;
  background: rgb(84, 234, 84);
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}
button:hover {
  transition: 0.3s ease-in-out;
  background: rgb(71, 198, 71);
}

/*--------------------------------
***  shared files 
**  
*/
/*
***         
*****       
*******     
*********   
========================================================================================*/

/*# sourceMappingURL=style.css.map */
