/*------------------------------------*\
  #COLORS
\*------------------------------------*/
$primaryColor: #ff5e57;
$secondaryColor: #1dc973;
$tertiaryColor: #95a5a6;
$forthColor: #2980b9;
$fifthColor : hsla(150, 5%, 75%, 1);

$white: #fff;
$black: #000;

/*------------------------------------*\
  #FONT
\*------------------------------------*/

$primaryFontFamily: "Inter", sans-serif;

/*------------------------------------*\
  #SHADOW
\*------------------------------------*/

$shadowDark: 0px 0px 20px 0px
  rgba(
    $color: $black,
    $alpha: 0.2,
  );
$shadowDarkSpread: 0px 0px 20px 10px
  rgba(
    $color: $black,
    $alpha: 0.1,
  );

/*------------------------------------*\
  #BORDER
\*------------------------------------*/
$lightBorder: 0.1rem solid rgba($black, $alpha: 0.2);
