
/*------------------------------------*\
  #COLORS
\*------------------------------------*/
$secondaryColor: #1dc973;

$white : #fff;
$black : #000;


/*------------------------------------*\
  #FONT
\*------------------------------------*/

$primaryFontFamily: "Inter", sans-serif;


/*------------------------------------*\
  #SHADOW
\*------------------------------------*/

$shadowDark : 0px 0px 20px 0px rgba($color: $black, $alpha: 0.2);
$shadowDarkSpread : 0px 0px 20px 10px rgba($color: $black, $alpha: 0.1);
