.cta__button {
  &--button {
    font-size: 1rem;
    width: 7rem;
    height: 3rem;
    background: $vibrantGreen;
    border: none;
    border-radius: 2rem;
    cursor: pointer;

    &:hover {
      transition: 0.3s ease-in-out;
      background: $limeGreen;
    }
  }
}
