body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $colorWhite;
  font-size: 95%;
}
.background-color {
  background-image: linear-gradient(to right, $colorSecondary, $colorPrimary);
  height: 100vh;

  &__1 {
    background-color: $colorSixth;
  }

  &__2 {
    background-color: $colorTenth;
  }
  &__3 {
    background-color: $colorTwelfth;
  }

  &__4 {
    background-image: linear-gradient(to right, $colorSecondary, $colorPrimary);
  }
}

.container {
  width: 75rem;
  margin: 0 auto;
}
