$color-primary:#37b24d;
$color-secondary:#364fc7;
$color-tertiary:#6741d9;

$color-wihte: #fff;
$color-black: #000;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

// FONT 
$default-font-size: 1.6rem;