/*------------------------------------*\
  #COLOR
\*------------------------------------*/
$colorPrimary: #37b24d;
$colorSecondary: #364fc7;
$colorTertiary: #6741d9;
$colorFourth: #343a40;
$colorIfth: #1eff00;
$colorSixth: #0e1523;
$colorSeventh: #c92a2a;
$colorEighth: #087f5b;
$colorNinth: #364fc7;
$colorTenth: #0f1429;
$colorEleventh: #ffffff0b;
$colorTwelfth: #00092e;
$colorThirteenth: #554df0;
$colorFourteenth: #74d3af;

$colorWhite: #fff;
$colorBlack: #000;

$colorGreyDark: #777;
$colorGreyDark2: #999;
$colorGreyDark3: #333;

/*------------------------------------*\
  #FONTS
\*------------------------------------*/
$defaultFontSize: 1.6rem;
