/*------------------------------------*\
  #VARIABLES PRODUCT DETAILS
\*------------------------------------*/

$black : rgb(000, 000, 000); // #000
$white : rgb(255, 255, 255); // #fff

$mainColorWeprodev : rgb(255, 94, 87); // #ff5e57
$secondColorWeprodev : rgb(89, 70, 140); // #59468c

$clouds         : rgb(236, 240, 241); // #ecf0f1;