/*------------------------------------*\
  #COLORS
\*------------------------------------*/

:root{
  --gradient: linear-gradient(
      310deg,
      #845ec2,
      #d65db1,
      #ff6f91,
      #ff9671,
      #ffc75f
  );
}

$black : rgb(000, 000, 000); // #000
$white : rgb(255, 255, 255); // #fff

$mainColorWeprodev : rgb(255, 94, 87); // #ff5e57
$secondColorWeprodev : rgb(89, 70, 140); // #59468c

$clouds         : rgb(236, 240, 241); // #ecf0f1;

$thirdColorWeprodev :#2fdc81;

/*------------------------------------*\
  #SPACE
\*------------------------------------*/

$containerSidePadding: 15rem ;
$containerSidePaddingLaptop : 1.5rem;


/*------------------------------------*\
  #FONT
\*------------------------------------*/ 

$primaryFontFamily : "Inter", sans-serif;

/*------------------------------------*\
  #SHADOW
\*------------------------------------*/ 

$shadowDark : 0px 0px 20px 0px rgba($color: $black, $alpha: 0.2);
// $shadowDarkSpread : 0px 0px 20px 10px rgba($color: $black, $alpha: 0.1);


/*------------------------------------*\
  #BORDER
\*------------------------------------*/ 

$primaryBorder : 1px solid $clouds;
