/*=========================================================
*********   Generic Button Component
*******  
*/
@mixin button(
  $bg: transparent,
  $color: #fff,
  $radius: 0,
  $border: none,
  $padding: 1em 2em,
  $fontSize: 1em,
  $fontWeight: 400,
  $transition: none,
  $hoverBgColor: darken($bg-color, 10%)
) {
  background: $bg;
  color: $color;
  border-radius: $radius;
  border: $border;
  padding: $padding;
  font-size: $fontSize;
  font-weight: $fontWeight;
  transition: $transition;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: $hoverBgColor;
  }
}
