.container {
  width: 70%;
  margin: 0 auto;
}
.background {
  background-image: linear-gradient($colorSecondary, $colorSecondary),
    url(../img/weprodev-2.jpg);
  background-size: cover;
  background-position: center;
}
