/*------------------------------------*\
  #COLOR
\*------------------------------------*/
$colorPrimary: #ff5e57;
$colorSecondary: #141414e6;
$colorTertiary: #adb5bd;
$colorFourth: #ff5f57a8;

$colorWihte: #fff;
$colorBlack: #000;
