.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #fff;
  
    .logo {
      img {
        height: 40px;
        width: auto;
      }
    }
  
    .navigation {
      ul {
        display: flex;
        list-style: none;
        gap: 2rem;
  
        li {
          a {
            text-decoration: none;
            color: $darkTextColor;
            font-weight: 500;
            transition: color 0.3s ease;
  
            &:hover {
              color: $primaryColor;
            }
          }
        }
      }
    }
  
    .action-buttons {
      display: flex;
      gap: 1rem;
  
      .login {
        background: none;
        border: 1px solid $backgroundLightColor;
        padding: 0.5rem 1rem;
        border-radius: 20px;
        font-weight: 500;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: $backgroundLightColor;
        }
      }
  
      .get-in-touch {
        background-color: $primaryColor;
        color: #fff;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 20px;
        font-weight: 500;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #008e5b; // Slightly darker shade for hover effect
        }
      }
    }
  }
  