@charset "UTF-8";
/*========================================================================================
*********   
*******     IMPORT ALL OF THE STYLES HERE
*****       
***         
*/
/*--------------------------------
***  shared files 
**  
*/
/* ===================================
   🌐 MAIN IMPORT FILE  
   Collects and imports all SASS modules
====================================== */
/* ~~~~~~~~~~~~~~🔹 ABSTRACTS 🔹~~~~~~~~~~~~~~ */
/* Variables, Mixins, Media Queries, and Functions */
/*========================================================================================
*********   GRIDS BASE SUSY
*******     MEDIA QUERY 
*****       
***         
*/
/*--------------------------------
***  GENERAL DIFINITIONS
**	 CSS3 , CLEARFIX
*/
.container {
  width: 90%;
}

/*========================================================================================*\
*----------------------------          MEDIA QUERY              ----------------------------        
\*========================================================================================*/
/*--------------------------------
*** 4K AND HIGH RESOULOTIONS 
**	MIN-WIDTH : 2560px OR 160em
*/
/*--------------------------------
*** LAPTOP OR DESKTOP 
**	MIN-WIDTH : 1400px OR 87.5em
*/
/*--------------------------------
*** FOR SOM OF THE DEVICES
**	MIN-WIDTH : 1201px OR 75.0625em
*/
/*--------------------------------
*** FOR ANY DEVICE MAX SIZE UNTIL
**	MAX-WIDTH : 1200px OR 75em
*/
/*--------------------------------
*** FOR ANY DEVICE MAX SIZE UNTIL
**	MAX-WIDTH : 1024px OR 64em
*/
/*--------------------------------
*** FOR ANY DEVICE MAX SIZE UNTIL
**	MAX-WIDTH : 992px OR 62em
*/
/*--------------------------------
*** FOR RETINA MOBILE AND LANSCAPE
**	MIN : 500px / 31.25em | MAX : 767PX / 47.9375em
*/
/*--------------------------------
*** FOR MOBILE
**	MAX : 640PX / 40em
*/
/*--------------------------------
*** FOR MINI MOBILE
**	MAX : 400PX / 25em
*/
/*------------------------------------*\
  #FONT
\*------------------------------------*/
/*------------------------------------*\
  #BREAKPOINTS
\*------------------------------------*/
/*------------------------------------*\
  #SPACES (padding & margin & gap) 
\*------------------------------------*/
/*------------------------------------*\
  #TRANSITION DURATION
\*------------------------------------*/
/*------------------------------------*\
  #BOX SHADOW
\*------------------------------------*/
/*------------------------------------*\
  #BORDER RADIUS
\*------------------------------------*/
/* ~~~~~~~~~~~~~~🔸 BASE 🔸~~~~~~~~~~~~~~ */
/* Global styles, Resets, and Utilities */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

ol,
ul {
  list-style: none;
}

img,
picture,
svg,
video {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ~~~~~~~~~~~~~~🟢 COMPONENTS 🟢~~~~~~~~~~~~~~ */
/* Reusable components and UI elements */
/*=========================================================
*********   Generic Button Component
*******  
*/
/* ~~~~~~~~~~~~~~⚙️ LAYOUT ⚙️~~~~~~~~~~~~~~ */
/* Grid systems, structure, and layout styles */
/*=======================
*********   GRIDS COL
*******     MEDIA QUERY 
*****       
***         
*/
.row {
  width: 100%;
  display: block;
  clear: both;
}

@media screen and (min-width: 75.0625em) {
  .col-xl-1 {
    width: 8.3333333333%;
    float: left;
  }
  .col-xl-2 {
    width: 16.6666666667%;
    float: left;
  }
  .col-xl-3 {
    width: 25%;
    float: left;
  }
  .col-xl-4 {
    width: 33.3333333333%;
    float: left;
  }
  .col-xl-5 {
    width: 41.6666666667%;
    float: left;
  }
  .col-xl-6 {
    width: 50%;
    float: left;
  }
  .col-xl-7 {
    width: 58.3333333333%;
    float: left;
  }
  .col-xl-8 {
    width: 66.6666666667%;
    float: left;
  }
  .col-xl-9 {
    width: 75%;
    float: left;
  }
  .col-xl-10 {
    width: 83.3333333333%;
    float: left;
  }
  .col-xl-11 {
    width: 91.6666666667%;
    float: left;
  }
  .col-xl-12 {
    width: 100%;
    float: left;
  }
}
@media screen and (max-width: 75em) {
  .col-lg-1 {
    width: 8.3333333333%;
    float: left;
  }
  .col-lg-2 {
    width: 16.6666666667%;
    float: left;
  }
  .col-lg-3 {
    width: 25%;
    float: left;
  }
  .col-lg-4 {
    width: 33.3333333333%;
    float: left;
  }
  .col-lg-5 {
    width: 41.6666666667%;
    float: left;
  }
  .col-lg-6 {
    width: 50%;
    float: left;
  }
  .col-lg-7 {
    width: 58.3333333333%;
    float: left;
  }
  .col-lg-8 {
    width: 66.6666666667%;
    float: left;
  }
  .col-lg-9 {
    width: 75%;
    float: left;
  }
  .col-lg-10 {
    width: 83.3333333333%;
    float: left;
  }
  .col-lg-11 {
    width: 91.6666666667%;
    float: left;
  }
  .col-lg-12 {
    width: 100%;
    float: left;
  }
}
@media screen and (max-width: 62em) {
  .col-md-1 {
    width: 8.3333333333%;
    float: left;
  }
  .col-md-2 {
    width: 16.6666666667%;
    float: left;
  }
  .col-md-3 {
    width: 25%;
    float: left;
  }
  .col-md-4 {
    width: 33.3333333333%;
    float: left;
  }
  .col-md-5 {
    width: 41.6666666667%;
    float: left;
  }
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-md-7 {
    width: 58.3333333333%;
    float: left;
  }
  .col-md-8 {
    width: 66.6666666667%;
    float: left;
  }
  .col-md-9 {
    width: 75%;
    float: left;
  }
  .col-md-10 {
    width: 83.3333333333%;
    float: left;
  }
  .col-md-11 {
    width: 91.6666666667%;
    float: left;
  }
  .col-md-12 {
    width: 100%;
    float: left;
  }
}
@media screen and (max-width: 47.9375em) {
  .col-sm-1 {
    width: 8.3333333333%;
    float: left;
  }
  .col-sm-2 {
    width: 16.6666666667%;
    float: left;
  }
  .col-sm-3 {
    width: 25%;
    float: left;
  }
  .col-sm-4 {
    width: 33.3333333333%;
    float: left;
  }
  .col-sm-5 {
    width: 41.6666666667%;
    float: left;
  }
  .col-sm-6 {
    width: 50%;
    float: left;
  }
  .col-sm-7 {
    width: 58.3333333333%;
    float: left;
  }
  .col-sm-8 {
    width: 66.6666666667%;
    float: left;
  }
  .col-sm-9 {
    width: 75%;
    float: left;
  }
  .col-sm-10 {
    width: 83.3333333333%;
    float: left;
  }
  .col-sm-11 {
    width: 91.6666666667%;
    float: left;
  }
  .col-sm-12 {
    width: 100%;
    float: left;
  }
}
/*--------------------------------
***  IMPORT GENERAL AND IMPORTANT
**   VARIABLES
*/
/*========================================================================================
*********   ALL OF THE VARIABLES TYPE 
*******     COLORS 
*****       GRIDS
***         
*/
/*========================================================================================*\
*----------------------------               COLORS              ----------------------------        
\*========================================================================================*/
/*--------------------------------
*** FLAT UI COLORS 
**  flatuicolors.com/palette/defo
*/
/*========================================================================================*\
*----------------------------               SHADOW              ----------------------------        
\*========================================================================================*/
/*========================================================================================*\
*----------------------------               FONTS              ----------------------------        
\*========================================================================================*/
/*
***         
*****      
*******     
*********   
/*========================================================================================*/
/*--------------------------------
***  SET DIRECTION BEFORE ANYTHING
**   
*/
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
body * {
  padding: 0;
  margin: 0;
  font: revert;
}
body a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
body a:hover {
  transition: 0.5s;
  color: rgb(170, 170, 170);
}
body li {
  list-style-type: none;
}
body .container {
  width: 70%;
}
body .separator {
  height: 1px;
  background-color: rgb(224, 224, 224);
  margin: 1em 0;
  width: 100%;
}

/*--------------------------------
***  SET DIRECTION BEFORE ANYTHING
**   
*/
.oringeBtn {
  border: 2px #ff9671 solid;
  padding: 0.9em 2em;
  background: white;
  color: #ff9671;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}
.oringeBtn:hover {
  background-color: rgba(255, 94, 87, 0.4);
  transition: 1s;
}
.oringeBtn-L {
  width: 11rem;
  background-color: rgb(255, 94, 87);
  font-size: 100%;
  color: white;
}
.oringeBtn-L:hover {
  background-color: rgba(255, 94, 87, 0.5);
}

/*--------------------------------
***  LAYOUT
**   HEADER
*/
header {
  justify-content: center;
  align-items: center;
  display: flex;
  height: auto;
  padding-top: 1em;
  /*--------------------------------
  *** FOR RETINA MOBILE AND LANSCAPE
  **	MIN : 500px / 31.25em | MAX : 767PX / 47.9375em
  */
  /*--------------------------------
  *** FOR MINI MOBILE
  **	MAX : 400PX / 25em
  */
}
header .container {
  justify-content: space-between;
  display: flex;
}
header .container .select-lang {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
header .container .select-lang .dropdown {
  min-width: 9em;
  position: relative;
}
header .container .select-lang .dropdown * {
  box-sizing: border-box;
}
header .container .select-lang .dropdown .select {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  cursor: pointer;
  transition: background 0.3s;
}
header .container .select-lang .dropdown .select-clicked {
  border-radius: 0.375em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
}
header .container .select-lang .dropdown .select .cart {
  width: 0;
  height: 0;
  border-left: 0.375em solid transparent;
  border-right: 0.375em solid transparent;
  border-top: 0.375em solid rgb(0, 0, 0);
  transition: 0.3s;
}
header .container .select-lang .dropdown .select .cart-rotate {
  transform: rotate(180deg);
}
header .container .select-lang .dropdown .menu {
  padding: 0.25em 0.5em;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: rgb(159, 165, 181);
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  display: none;
  transition: 0.2s;
  z-index: 1;
}
header .container .select-lang .dropdown .menu li {
  padding: 0.75em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}
header .container .select-lang .dropdown .menu li:hover {
  color: rgb(255, 150, 113);
  transition: 0.5s;
}
header .container .select-lang .dropdown .menu .active {
  color: rgb(255, 150, 113);
}
header .container .select-lang .dropdown .menu-open {
  display: block;
  opacity: 1;
  background-color: rgb(255, 255, 255);
  top: 3.3rem;
}
header .container .box {
  display: flex;
  gap: 1em;
}
header .container .box #check {
  display: none;
}
header .container .box #check:checked ~ .search-box {
  width: 18.75rem;
}
header .container .box #check:checked ~ .search-box input {
  width: 100%;
}
header .container .box #check:checked ~ .search-box .icon {
  background-color: rgb(255, 150, 113);
  color: rgb(255, 255, 255);
}
header .container .box .search-box {
  position: relative;
  height: 3.125rem;
  width: 3.125rem;
  margin: auto;
  box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
  border-radius: 1.5625rem;
  transition: all 0.3s ease;
  overflow: hidden;
}
header .container .box .search-box input {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 1.5em;
  background-color: rgb(255, 255, 255);
  outline: none;
  border: none;
  padding-left: 1.25em;
  font-size: 1.125em;
  transition: all 0.3s ease;
}
header .container .box .search-box .icon {
  position: absolute;
  right: -0.125rem;
  top: 0;
  width: 3.125rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0 1.5em 1.5em 0;
  line-height: 3.125rem;
  text-align: center;
  font-size: 1.125em;
  color: rgb(255, 150, 113);
}
header .container .box .button-section {
  text-align: center;
  align-items: center;
  display: flex;
  gap: 1em;
}
@media screen and (min-width: 31.25em) and (max-width: 47.9375em) {
  header .container {
    width: 95%;
  }
  header .container .box #check:checked ~ .search-box {
    width: 10rem;
  }
  header .container .box .button-section .oringeBtn-L {
    display: none;
  }
}
@media screen and (max-width: 25em) {
  header .container {
    width: 95%;
  }
  header .container .select-lang {
    width: 4rem;
  }
  header .container .select-lang .dropdown .selected {
    display: none;
  }
  header .container .select-lang .dropdown .select-clicked {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    width: 0;
  }
  header .container .box #check:checked ~ .search-box {
    width: 10rem;
  }
  header .container .box .button-section .oringeBtn-L {
    display: none;
  }
}

/*
***         
*****       
*******     
*********   
========================================================================================*/

/*# sourceMappingURL=style.css.map */
