@use "sass:list";

/*------------------------------------*\
  #FORNT
\*------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: $primaryFontFamily;
}

.heading-1,
.heading-2,
.heading-3 {
  font-weight: $fontWeightBold;
  text-transform: uppercase;
  &--primary {
    color: $tertiaryColor;
  }
  &--secondary {
    color: $secondaryColor;
  }
}

.heading-1 {
  font-size: $fontSize7Xl;
  @include laptop {
    font-size: $fontSize5Xl;
  }
  @include mobile {
    font-size: $fontSize4Xl;
  }
}

.heading-2 {
  font-size: $fontSize5Xl;
  @include laptop {
    font-size: $fontSize4Xl;
  }
  @include mobile {
    font-size: $fontSize3Xl;
  }
}

.heading-3 {
  font-size: $fontSize4Xl;
  @include laptop {
    font-size: $fontSize3Xl;
  }
  @include mobile {
    font-size: $fontSize2Xl;
  }
}

.paragraph {
  color: $tertiaryColor;
  font-weight: $fontWeightSemibold;

  &--primary {
    color: $tertiaryColor;
  }
  &--secondary {
    color: $secondaryColorDarker;
  }
}

.tag {
  padding: list.nth($spaces, 2) list.nth($spaces, 5);
  border-radius: $roundedFull;
  font-weight: $fontWeightBold;
  text-transform: uppercase;
  text-align: center;
  &--primary {
    color: $primaryColor;
    background-color: $primaryColorLighter;
  }
}