/*------------------------------------*\
  #FORNT
\*------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: $primaryFontFamily;
}

.heading-1 {
  font-size: $fontSize7Xl;
  font-weight: $fontWeightBold;
  text-transform: uppercase;
  @include laptop{
    font-size: $fontSize5Xl;
  }
  @include mobile{
    font-size: $fontSize4Xl;
  }
}