/*------------------------------------*\
  #COLORS
\*------------------------------------*/

$primary-color: #50cb8b;
$primary-color-lighter: #effff7;
$secondary-color: #ffffff;
$secondary-color-darker: #f1f1f1;
$tertiary-color: #24222c;

/*------------------------------------*\
  #FONT
\*------------------------------------*/

// font family
$font-family: "Inter", serif;

/*------------------------------------*\
  #SPACE
\*------------------------------------*/

$container-side-padding: $space-12;
