@use "sass:list";

/*------------------------------------*\
  #COLORS
\*------------------------------------*/

$primaryColor: #50cb8b;
$primaryColorLighter: #effff7;
$secondaryColor: #ffffff;
$secondaryColorDarker: #f1f1f1;
$tertiaryColor: #24222c;
$starColor: #ffa534;

/*------------------------------------*\
  #FONT
\*------------------------------------*/

$primaryFontFamily: "Inter", sans-serif;

/*------------------------------------*\
  #SPACE
\*------------------------------------*/

$containerSidePadding: list.nth($spaces, 12);
$containerSidePaddingMobile : list.nth($spaces, 6);

/*------------------------------------*\
  #BORDER
\*------------------------------------*/

$primaryBorder : 2px solid $secondaryColorDarker;