/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

$black : rgb(000, 000, 000); // #000
$white: rgb(255, 255, 255); // #fff

$redLogin : #FF5B32;
$checkBox : #2196F3;
$borderColor : rgba(0, 0, 0, 0.38);