.phenomenon-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-block: nth($spaces, 16);
  gap: nth($spaces, 8);
  background-color: $clouds;

  &__paragraph {
    width: 70%;
    @include mobile {
      width: 100%;
    }
  }
}
