li {
  list-style-type: none;
}

.card {
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  &__header {
    background-color: #3498db;
    color: #fff;
    padding: 16px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }

  &__content {
    padding: 16px;
  }

  &__footer {
    background-color: #f4f4f4;
    padding: 8px;
    text-align: center;
  }

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

ol,
ul {
  list-style: none;
}

img,
picture,
svg,
video {
  display: block;
  width: 100%;
}

a{
  color: inherit;
  text-decoration: none;
}