html {
  @include lcd{
    font-size: 1.1rem;
  }
  @include led{
    font-size: 1.3rem;
  }
  @include led4k{
    font-size: 2rem;
  }
}

body {
  font-family: $primaryFontFamily;
  overflow-x: hidden;

  * {
    padding: 0;
    margin: 0;
    font: revert;
  }

  a {
    text-decoration: none;
    color: $black;
  }

  a:hover {
    transition: 0.5s;
    color: $lightGray;
  }

  li {
    list-style-type: none;
  }
}
