// :root{
//     --gradient: linear-gradient(
//         310deg,
//         #845ec2,
//         #d65db1,
//         #ff6f91,
//         #ff9671,
//         #ffc75f
//     );
// }
.font-size-title{
    font-size       : 3em;
    line-height     : 2.5;
    @include mini_laptop{
        font-size       : 2.6em;
        line-height     : 2;
    }
    @include mobile{
        font-size       : 2em;
        line-height     : 1.5;
        margin-bottom   : 1em;
    }
}
.gradient-bg{
    width               : 100%;
    background-image    : var(--gradient);
    background-size     : 500%;
    padding             : 12vh 15%;
    transition          : animation 4s;
    animation           : gradient-background 5s infinite alternate;
    @keyframes gradient-background {
        0%{background-position  : right;}
        100%{background-position: left;}
    }
    @include tablet{
        padding     : 12vh 5%;
    }
    .started-section{
        width       : 70%;
        text-align  : center;
        @include tablet{
            width   : 90%;
        }
        .title-started{
            color   : $WHITE;
        }
        .description-started{
            font-size       : 1.3em;
            color           : $WHITE;
            line-height     : 1.5;
            font-weight     : 100;
            margin-bottom   : 9vh;
        }
        .btn-start{
            background-color    : #2fdc81;
            padding             : 0.7em 2.5em;
            font-size           : 1.2em;
            color               : $WHITE;
            font-weight         : 600;
            border-radius       : 1.5em;
            transition          : all 0.4s;
            &:hover{
                background-color    : #1bac5e;
            }
        }//btn-start
        .img-started-section{
            margin-top      : 10vh;
            margin-bottom   : 10vh;
            img{
                max-width       : 100%;
                object-fit      : contain;
                border-radius   : 0.5em !important;
            }
        }
        .card-started{
            height      : 14em;
            @include laptop{
                height  : 30em;
            }
            @include mini_mobile{
                height  : 33em;
            }
            .one{
                color   : $WHITE;
                @include laptop{
                    margin-bottom   : 3em;
                }
                h2 , p {
                    margin-left     : 1.2em;
                    margin-right    : 1.2em;
                    @include tablet{
                        margin-left     : 0em;
                        margin-right    : 0em;
                    }
                }
                h2{
                    font-size       : 1.5em;
                    font-weight     : 600;
                    line-height     : 3;
                }
                p{
                    font-size       : 1.1em;
                    font-weight     : 400;
                    line-height     : 1.5;
                }
            }
        }//card-started
    }//started-section
}//gradient-bg
.built-section{
    width       : 100%;
    padding     : 12vh 15%;
    @include tablet{
        padding     : 12vh 5%;
    }
    .built-content{
        width           : 70%;
        text-align      : center;
        padding-top     : 2em;
        @include tablet{
            width       : 90%;
        }
        .title-built{
            line-height     : 1;
            font-weight     : 100;
        }
        .all-card-built-section{
            margin-top          : 8em;
            margin-bottom       : 8em;
            .card-built{

                .two-div-card{
                    margin-bottom       : 7em;
                    .description{
                        text-align      : left;
                        height          : 50vh;
                        display         : grid;
                        align-items     : center;
                        @include laptop{
                            text-align  : center;
                        }
                        .job{
                            color: red;
                            letter-spacing  : 0.3em;
                            text-transform  : uppercase;
                            margin-bottom   : -1.2em;
                        }
                        h3{
                            font-size           : 2em;
                            font-weight         : 600;
                            line-height         : 1.2;
                            margin-bottom       : -1.2em;
                            @include lcd{
                                margin-top      : 0.5em;
                                margin-bottom   : 0.5em;
                            }
                            @include mobile{
                                font-size   : 1.6em;
                            }
                        }
                        p{
                            font-size       : 1em;
                            line-height     : 1.6;
                        }
                        a{
                            color       : red;
                            &:hover{
                                background-color    : transparent;
                            }
                        }
                    }//description
                    .image{
                        height  : 50vh;
                        img{
                            width       : 100%;
                            height      : 100%;
                            object-fit  : contain;
                        }
                    }
                }//two-div-card
            }//card-built
        }//all-card-built-section
    }//built-content
}//built-section
.create-web-section{
    padding     : 12vh 15% 0vh;
    @include tablet{
        padding     : 12vh 5% 0vh;
    }
    .text-web-section{
        width           : 70%;
        text-align      : center;
        padding-top     : 2em;
        padding-bottom  : 5em;
        @include tablet{
            width       : 90%;
        }
        h2{
            line-height: 2;
        }
        p{
            font-size       : 1.2em;
            color           : $ASBESTOS;
            line-height     : 1.6;
            margin-bottom   : 4em;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            @include laptop{
                width: 80%;
            }
            @include tablet{
                width: 100%;
            }
        }
        a{
            color: red;
            &:hover{
                background-color: transparent;
            }
        }
    }//text-web-section
}//create-web-section

.no-bg{
    background      : none;
    padding-top     : 0em;
    padding-bottom  : 0em;
}
.rate-section{
    height      : 15em;
    padding     : 0vh 15% 0vh;
    @include tablet{
        padding     : 0vh 5% 10vh;
    }
    .header-rate{
        width           : 70%;
        text-align      : center;
        padding-top     : 2em;
        padding-bottom  : 5em;
        @include tablet{
            width       : 90%;
        }
        .title-rate{
            font-size       : 1.8em;
        font-weight         : 700;
            line-height     : 1.5;
            @include mobile{
                font-size   : 1.5em;
            }
        }
        .star-icon{
            margin      : 1.5em 0 0.5em;
            color       : $ORANGE;
            font-size   : 2.2em;
            line-height : 2;
            @include mobile{
                margin      : 0.5em 0 0.5em;
                font-size   : 2em;
            }
        }
        .description-rate{
            font-size   : 1.3em;
            color       : $CONCRETE;
            @include mobile{
                font-size   : 1.1em;
                line-height : 1.5;
            }
        }
    }//title-rate
}//rate-section
.slider-section{
    width       : 100%;
    padding     : 12vh 15%;
    @include tablet{
        padding     : 12vh 5%;
    }
    .more-slider{
        width           : 70%;
        text-align      : center;
        height: 18em;
        @include tablet{
            width       : 90%;
        } 
        #tns1-ow{
            &>button{
                display : none;
            }
        }
        a{
            color       : red;
            font-size   : 1.1em;
            font-weight : 600;
            line-height : 3;
            &:hover{
                background-color    : transparent;
            }
        }
        .tns-nav{
            margin-top  : 1em;
            button{
                margin          : 0.2em;
                width           : 0.7em;
                height          : 0.7em;
                border-radius   : 1.5em;
                border          : none;
                background-color: $CLOUDS;
            }
            .tns-nav-active{
                background-color    : $mainColorWeprodev;
            }
        }
        .slider{
            height      : 14.8em;

            .sub-card-slider{
                padding     : 0.5em;
                box-sizing  : border-box;

                .card-slider{
                    height          : 15em;
                    background-color: $WHITE;
                    border          : 1px solid $SILVER;
                    height          : 100%;
                    border-radius   : 0.4em ;
                    box-sizing      : border-box;

                    .person-card{
                        height          : 3em;
                        border-bottom   : 1px solid $SILVER;
                        padding         : 0.5em;
                        cursor          : pointer;

                        .img-person{
                            float       : left;
                            height      : 100%;
                            width       : 3em;
                            img{
                                width           : 100%;
                                height          : 100%;
                                border-radius   : 1.5em;
                                object-fit      : contain;
                            }
                        }//img-person
                        .name-id{
                            float       : left;
                            text-align  : left;
                            padding-left: 0.5em;
                            width       : 68%;
                            .name{
                                font-weight : 600;
                                display     : block;
                                line-height : 1.5;
                            }
                            .id{
                                font-size   : 0.8em;
                                color       : $ASBESTOS;
                            }
                        }//name-id
                        .technology{
                            float           : right;
                            height          : 70%;
                            width           : 2em;
                            border-radius   : 1.5em;
                            img{
                                width   : 100%;
                                height  : 100%;
                            }
                        }
                    }//person
                    .description-card{
                        width           : 100%;
                        height          : 9.5em;
                        text-align      : left;
                        overflow        : hidden;
                        border-radius   : 0 0 0.2em 0.2em;
                        padding         : 0.5em;
                        box-sizing      : border-box;
                        cursor          : grab;
                        p{
                            width       : 100%;
                            height      : 100%;
                            line-height : 1.5;
                            font-size   : 0.9em;
                        }
                    }
                }//card-slider
            }//sub-card-slider
        }//slider
    }//more-slider
}//slider-section

.new-elementor-section{
    width           : 100%;
    padding         : 5vh 15%; 
    overflow        : hidden;
    @include tablet{
        padding     : 5vh 5%;
    }
    .img-text{
        width       : 70%;
        text-align  : center;
        height      : 100%;
        box-sizing  : border-box;
        @include tablet{
            width       : 90%;
        } 
        .two-section{
            height      : 100%;
            box-sizing  : border-box;
            .text-new-elementor{
                color           : $WHITE;
                text-align      : left;
                padding-top     : 5%;
                padding-right   : 10em;
                box-sizing      : border-box;
                @include laptop{
                    padding-right   : 5%;
                    padding-top     : 0;
                }
                @include retinaMobile{
                    text-align      : center;
                }
                @include mobile{
                    text-align      : center;
                }
                .title-new-elementor{
                    font-size       : 2.2em;
                    font-weight     : 700;
                    line-height     : 1.5;
                    margin-bottom   : 1em;
                    @include laptop{
                        font-size   : 1.8em;
                    }
                }
                .description-new-elementor{
                    font-size       : 1.2em;
                    line-height     : 1.6;
                    margin-bottom   : 4em;
                }
                .btn-start-new-elementor{
                    background-color    : #2fdc81;
                    padding             : 0.7em 2.5em;
                    font-size           : 1.2em;
                    color               : $WHITE;
                    font-weight         : 600;
                    border-radius       : 1.5em;
                    transition          : all 0.4s;
                    &:hover{
                        background-color    : #1bac5e;
                    }
                }
            }//text-new-elementor
            .img-new-elementor{
                img{
                    width   : 100%;
                }
                @include laptop{
                    margin-top  : 5%;
                }
                @include retinaMobile{
                    display     : none;
                }
                @include mobile{
                    display     : none;
                }
            }//img-new-elementor
        }//two-section
    }//img-text
}//new-elementor-section

.truly-global-section{
    width               : 100%;
    padding             : 12vh 15%; 
    padding-bottom      : 20vh;
    overflow            : hidden;
    height              : 10em;
    background-image    : url('../img/bg-truly-product-details-opti.jpg');
    background-size     : 100%;
    background-repeat   : no-repeat;
    @include tablet{
        padding     : 12vh 5%;
    }
    @include mobile{
        background-size: cover;
    }
    .text-truly{
        width       : 70%;
        text-align  : center;
        box-sizing  : border-box;
        @include tablet{
            width       : 90%;
        } 
        .title-truly-global{
            font-weight : 600;
        }
        .description-truly-global{
            width           : 70%;
            margin-left     : auto;
            margin-right    : auto;
            font-size       : 1.2em;
            color           : $CONCRETE;
            line-height     : 1.6;
            @include retinaMobile{
                width   : 100%;
            }
            @include mobile{
                width   : 100%;
            }
        }//description-truly-global
    }//text-truly
}//truly-global-section

.resources-section{
    width               : 100%;
    padding             : 5vh 15%; 
    overflow            : hidden;
    @include tablet{
        padding     : 5vh 5%;
    }
    .title-card{
        width       : 70%;
        text-align  : center;
        box-sizing  : border-box;
        @include tablet{
            width       : 90%;
        } 
        .title-resources{
            font-size   : 2em;
            color       : $BLACK;
            line-height : 2;
        }
        .card-section{
            overflow    : hidden;
            box-sizing  : border-box;
            padding     : 3em;
            @include mobile{
                padding         : 1em;
                padding-top     : 2em;
                padding-bottom  : 3em;
            }
            .m-b-3{
                margin-bottom   : 3.5em;
            }
            .sub-card{
                height          : 20em;
                padding-right   : 0.7em;
                padding-left    : 0.7em;
                box-sizing      : border-box;
                .card{
                    min-height  : 100%;
                    padding     : 0.5em;
                    cursor      : pointer;
                    position    : relative;
                    box-shadow  : 0 0 35px 0 rgba(0,0,0,.13);
                    transition  : 0.3s;
                    &:hover{
                        box-shadow  : 0 0 35px 0 rgba(255, 94, 87, 0.13);
                    }
                    .img-card{
                        height          : 6em;
                        padding-top     : 1em;
                        padding-bottom  : 1em;
                        margin-bottom   : 1em;
                        img{
                            width   : 6em;
                            height  : 100%;
                        }
                    }//img-card
                    .title-card-resources{
                        font-size       : 1.2em;
                        font-weight     : 600;
                        margin-bottom   : 1em;
                    }
                    .description-card-resources{
                        font-size       : 1em;
                        line-height     : 1.5;
                        color           : $CONCRETE;
                        margin-bottom   : 2em;
                    }
                    .learn-more{
                        color       : RED;
                        &:hover{
                            background-color    : transparent;
                        }
                    }
                }//card
            }//sub-card
        }//card-section
    }//title-card
}//resources-section

.satrt-elementor-section{
    width               : 100%;
    padding             : 15vh 15%; 
    overflow            : hidden;
    @include tablet{
        padding     : 15vh 5%;
    }
    .start-elementor{
        width       : 70%;
        text-align  : center;
        box-sizing  : border-box;
        color       : $WHITE;
        @include tablet{
            width       : 90%;
        } 
        .title-start-elementor{
            font-size       : 2.5em;
            font-weight     : 700;
            line-height     : 2;
            margin-bottom   : 0.5em;
            @include tablet{
                font-size   : 2em;
            }
        }
        .description-start-elementor{
            font-size       : 1.1em;
            line-height     : 1.5;
            width           : 50%;
            margin-left     : auto;
            margin-right    : auto;
            margin-bottom   : 4em;
            @include laptop{
                width   : 80%;
            }
            @include tablet{
                width   : 100%;
            }
        }
        .btn-start-elementor{
            width           : 50%;
            margin-left     : auto;
            margin-right    : auto;
            text-align      : center;
            @include laptop{
                width       : 80%;
            }
            @include tablet{
                width       : 100%;
            }
            .buton-start-elementor{
                background-color    : transparent;
                padding             : 0.7em 2.5em;
                font-size           : 1.2em;
                color               : $WHITE;
                font-weight         : 600;
                border              : 2px solid $WHITE;
                border-radius       : 1.5em;
                transition          : all 0.4s;
                margin-right        : 2em;
                @include mobile{
                    margin-bottom   : 1em;
                    margin-left     : 1em;
                    margin-right    : 1em;
                    display         : block; 
                }
                &:hover{
                    background-color    : $WHITE;
                    color               : $secondColorWeprodev;
                }
            }//buton-start-elementor
            .button-go-pro-elementor{
                background-color    : $WHITE;
                padding             : 0.7em 4em;
                font-size           : 1.2em;
                color               : $secondColorWeprodev;
                font-weight         : 600;
                border              : 2px solid $WHITE;
                border-radius       : 1.5em;
                transition          : all 0.4s;
                @include mobile{
                    display         : block;
                    margin-right    : 1em;
                    margin-left     : 1em;
                }
                &:hover{
                    background-color    : transparent;
                    color               : $WHITE;
                }
            }//button-go-pro-elementor
        }//btn-start-elementor
    }//start-elementor
}//start-elementor-section