@use "sass:list";

.customer__reviews {
  padding-top: 5rem;

  .moonlitLavender {
    background-color: $moonlitLavender;
  }

  .skyBreeze {
    background-color: $skyBreeze;
  }

  .sringGreen {
    background-color: $sringGreen;
  }

  &--header-section {
    display: flex;
    justify-content: space-evenly;
    line-height: 1.4;

    p {
      width: 24rem;
    }

    h1 {
      font-size: $fontSize3Xl;
      font-weight: $fontWeightSemibold;
      width: 24rem;
    }
  }

  &--card-section {
    padding-top: list.nth($spaces, 8);
    display: flex;
    justify-content: space-evenly;

    .card {
      width: 24rem;
      border-radius: $rounded4Xl;
      border: none;
      height: 21rem;

      .card__text-box {
        width: 95%;
        left: 0.5rem;
        position: relative;
        display: grid;
        top: 0.5rem;
        height: 20rem;

        .paragraph {
          padding: list.nth($spaces, 1);

          p {
            font-size: $fontSizeXl;
            line-height: 1.4;
          }
        }
      }
    }

    .information-box {
      display: flex;
      gap: list.nth($spaces, 4);
      top: 2rem;
      position: relative;
      height: 5rem;

      img {
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        top: 0.5rem;
        position: relative;
        object-fit: cover;
      }

      .about {
        align-items: center;
        display: grid;
        gap: list.nth($spaces, 4);
        height: 4rem;
        top: 0.5rem;
        position: relative;
      }
    }
  }

  // RESPONSIVE SECTION

  /*--------------------------------
	*** FOR ANY DEVICE MAX SIZE UNTIL
	**	MAX-WIDTH : 1024px OR 64em
	*/

  @include mini_laptop {
    &--header-section {
      display: grid;
      gap: list.nth($spaces, 4);
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
      place-content: center;

      h1 {
        text-align: center;
      }

      p {
        width: 50%;
        margin: 0 auto;
      }
    }

    &--card-section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: list.nth($spaces, 4);

      .card {
        margin: 0 auto;
      }
    }
  }

  /*--------------------------------
  *** FOR ANY DEVICE MAX SIZE UNTIL
  ** MAX-WIDTH : 992px OR 62em
  */

  @include tablet {
    &--header-section {
      display: grid;
      gap: list.nth($spaces, 4);
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
      place-content: center;

      h1 {
        text-align: center;
      }

      p {
        width: 50%;
        margin: 0 auto;
      }
    }

    &--card-section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: list.nth($spaces, 4);

      .card {
        margin: 0 auto;
      }
    }
  }

  /*--------------------------------
  *** FOR RETINA MOBILE AND LANSCAPE
  ** MIN : 500px / 31.25em | MAX : 767PX / 47.9375em
  */

  @include mini_laptop {
    &--header-section {
      h1 {
        width: 100%;
      }
    }
  }

  /*--------------------------------
  *** FOR MINI MOBILE
  ** MAX : 400PX / 25em
  */

  @include mobile {
    &--header-section {
      display: grid;
      text-align: center;
      gap: list.nth($spaces, 4);
      align-items: center;

      p {
        width: 24rem;
      }
    }

    &--card-section {
      display: grid;
      gap: list.nth($spaces, 4);
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
