@use "sass:list";

.explore__hub {
  position: relative;
  padding-top: 5rem;
  width: 97%;
  left: 1rem;

  h2 {
    font-size: $fontSize5Xl;
    font-weight: $fontWeightSemibold;
  }

  .header__section {
    display: flex;
    justify-content: space-between;
    padding: list.nth($spaces, 8);

    p {
      width: 24rem;
      line-height: 1.4;
    }

    .cta__button {
      width: 24rem;

      &--button {
        width: 15rem;
        font-size: $fontSizeLg;
        background-color: rgba(229, 229, 229, 0.81);
        border-radius: $rounded2Xl;

        &:hover {
          background-color: rgba(193, 193, 193, 0.81);
        }
      }
    }
  }

  .card__section {
    padding-top: list.nth($spaces, 8);
    justify-content: space-between;
    display: flex;

    .card {
      background-color: #f1f1f1;
      border-radius: $rounded4Xl;
      width: 24rem;

      &__img {
        img {
          border-top-right-radius: $rounded4Xl;
          border-top-left-radius: $rounded4Xl;
          object-fit: cover;
          height: 20rem;
          width: 100%;
        }
      }

      &__text-box {
        padding: list.nth($spaces, 2);

        p {
          font-size: $fontSize2Xl;
        }

        .btn {
          background: rgba(229, 229, 229, 0.81);
          border-radius: $roundedMd;
          font-size: $fontSizeSm;
          position: relative;
          cursor: pointer;
          height: 1.5rem;
          border: none;
          top: -21rem;
          width: 6rem;
          top: -22rem;
          left: 1rem;

          &:hover {
            background: rgb(193 193 193 / 81%);
            transition: 0.5s;
          }
        }
      }
    }
  }

  /* mobile */
  @media (max-width: 480px) {
    text-align: center;

    .header__section {
      display: grid;
      place-items: center;
      left: -0.6rem;
      position: relative;

      p {
        max-width: 100%;
      }
    }

    .card__section {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: nth($spaces, 8);
      left: -0.5rem;
      position: relative;

      .card {
        &__text-box {
          .btn {
            left: -6rem;
          }
        }
      }
    }
  }

  /* tablet */
  @media (min-width: 481px) and (max-width: 768px) {
  }

  /* laptop */
  @media (min-width: 769px) and (max-width: 1024px) {
  }
}
