@use "sass:list";

.hero__section {
  border-radius: $rounded3Xl;
  position: relative;
  margin: 0 auto;
  width: 97%;
  height: 37rem;

  &--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $rounded4Xl;
  }

  &--text-overlay {
    background-color: $transparentBlack;
    border-radius: $rounded4Xl;
    position: absolute;
    color: $white;
    width: 35rem;
    left: 0rem;
    height: 100%;
    top: 0;

    .container {
      width: 76%;
      padding-top: nth($spaces, 12);
      position: relative;
      height: 100%;
      margin: 0 auto;

      h1 {
        text-align: center;
        padding-top: list.nth($spaces, 2);
        font-size: 2.5rem;
        font-weight: $fontWeightBold;
      }

      p {
        padding-top: list.nth($spaces, 4);
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.6;
      }

      .cta__button {
        position: relative;
        text-align: center;
        display: flex;
        gap: list.nth($spaces, 8);
        left: 0rem;
        padding-top: list.nth($spaces, 4);
        text-align: center;
        place-content: center;

        &--button {
          width: 9rem;
          border: none;
          border-radius: $roundedLg;
          height: 3rem;
          font-size: $fontSizeBase;

          &-more {
            background-color: $lightGray;
            width: 9rem;
            border: none;
            border-radius: $roundedLg;
            height: 3rem;
            cursor: pointer;
            font-size: $fontSizeBase;

            &:hover {
              transition: 0.3s ease-in-out;
              background-color: $stoneGray;
            }
          }
        }
      }

      .stats-container {
        position: relative;
        padding-top: list.nth($spaces, 4);
        display: flex;
        font-size: 1.2rem;
        justify-content: center;
        gap: list.nth($spaces, 8);
      }
    }
  }

  // Responsive part

  /*--------------------------------
	*** FOR RETINA MOBILE AND LANSCAPE
	**	MIN : 500px / 31.25em | MAX : 767PX / 47.9375em
	*/

  @include retinaMobile {
    &--text-overlay {
      width: 100%;

      .container {
        h1,
        p {
          text-align: start;
        }
      }
    }
  }

  /*--------------------------------

  *** FOR MINI MOBILE
  ** MAX : 400PX / 25em
  */
  @include mobile {
    &--text-overlay {
      width: 100%;
    }

    .container {
      h1,
      p {
        text-align: start;
      }
    }
  }
}
