@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.plan__Selector__Hub {
  padding: 5rem 1rem 0rem 1rem;

  .plans {
    background: #181a1b;
    color: white;
    padding: nth($spaces, 4);
    border-radius: $rounded4Xl;

    .mainBox {
      .subscription {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 20px;
        padding: #{nth($spaces, 4)} #{nth($spaces, 6)};
        background-color: #262728;
        border-radius: $roundedLg;

        .subscription-level {
          display: flex;
          align-items: center;
          gap: nth($spaces, 3);

          h3 {
            margin: 0;
            font-size: $fontSize2Xl;
            color: #ffffff;
          }
        }

        .subscription-options {
          display: flex;
          gap: nth($spaces, 5);

          span {
            width: 8rem;
            height: 2.5rem;
            border-radius: $roundedLg;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #2f3a2e;
            gap: nth($spaces, 2);
            font-size: $fontSizeBase;
            font-weight: bold;
            transition: background 0.3s ease, transform 0.3s ease;

            &:hover {
              transform: scale(1.05);
            }
          }

          .basic {
            background: #bbf99e;
          }

          .advanced {
            background: #ccbafe;
          }

          .premium {
            background: #edd087;
          }
        }
      }

      .box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: #{nth($spaces, 3)} #{nth($spaces, 5)};

        .status {
          width: 26rem;
          justify-content: space-between;
          display: flex;

          span {
            padding: #{nth($spaces, 1)} #{nth($spaces, 3)};
          }
        }
      }

      .custom-divider {
        background-color: rgba(0, 0, 0, 0.4);
        margin: 15px 0;
        height: 3px;
      }
    }

    .download-box {
      position: relative;
      display: flex;

      .information-section {
        width: 50%;
        text-align: center;
        padding: 5rem nth($spaces, 1) nth($spaces, 4) 7rem;

        h1 {
          font-size: 3rem;
        }

        .btn-download {
          ul {
            display: flex;
            gap: nth($spaces, 4);
          }

          .download {
            width: 180px;
            height: 60px;
            padding: nth($spaces, 2);
          }
        }
      }

      // .image-box {
      //   width: 50%;
      // }
    }
  }

  // Responsive part

  /*--------------------------------
    *** FOR ANY DEVICE MAX SIZE UNTIL
    ** MAX-WIDTH : 992px OR 62em
    */

  @include tablet {
  }

  /*--------------------------------
    *** FOR RETINA MOBILE AND LANSCAPE
    ** MIN : 500px / 31.25em | MAX : 767PX / 47.9375em
    */

  @include mini_laptop {
  }

  /*--------------------------------
    *** FOR MOBILE
    ** MAX : 640PX / 40em
    */
  @include retinaMobile {
  }

  /*--------------------------------
    *** FOR MINI MOBILE
    ** MAX : 400PX / 25em
    */

  @include mobile {
  }
}
