.content-section {
  padding-top: nth($spaces, 8);
  margin: 0 auto;
  display: flex;
  justify-content: center;

  .wrapper {
    display: flex;
    gap: nth($spaces, 3);

    .post {
      background: $softSky;
      width: 33.5rem;
      height: 30.5rem;
      border-radius: $roundedMd;
      display: grid;
      justify-items: center;
      cursor: pointer;
      top: 0.5rem;
      position: relative;

      &:hover {
        box-shadow: 0 0.625rem 3.125rem -0.3125rem $frostedSlate;
        transition: all 0.6s;
        transform: scale(1.01);
      }

      &__details {
        display: flex;
        flex-direction: column;
        height: 30rem;

        .post__image-container {
          .post__image {
            object-fit: cover;
            border-top: 0.3125rem;
          }
        }

        .post__title-container {
          text-align: start;
          padding: nth($spaces, 2);
          @include flex-column;

          .post__title {
            top: 0.8125rem;
            position: relative;
            text-align: start;
            word-spacing: 0.0625rem;
            line-height: 1.3;

            a {
              font-size: $fontSizeXXL;
              color: $midnightTeal;
            }
          }
        }

        .post__meta {
          color: $black;
          top: 2rem;
          font-size: $fontSizeXs;
          position: relative;
          color: $midnightTeal;
        }
      }
    }

    .sidebar {
      padding-top: nth($spaces, 4);
      text-align: start;
      width: 17.5rem;
      position: relative;
      height: 31rem;

      .sidebar__title {
        display: inline-block;
        background: $coralRed;
        font-size: 0.875rem;
        font-weight: bolder;
        color: $white;
        width: 10rem;
        top: 0.1875rem;
        position: relative;
        height: 1.7rem;

        p {
          padding: 0.3125rem 0px 0px 0.4375rem;
          font-weight: 100;
        }
      }

      .sidebar__list {
        list-style: none;
        padding: 0.99rem 0;

        &-item {
          display: grid;
          grid-template-rows: 2fr 0.5fr;
          margin-bottom: nth($spaces, 4);
          background: $softSky;
          padding: nth($spaces, 2);
          border-radius: 0.1875rem;
          cursor: pointer;
          // height: 6.2rem;

          .sidebar__meta a {
            padding-top: nth($spaces, 5);
          }

          &-title {
            font-size: $fontSizeBase;
            line-height: 1.3;
          }

          &:hover {
            box-shadow: 0 0.625rem 3.125rem -0.3125rem $frostedSlate;
            transition: all 0.6s;
            transform: scale(1.01);
          }

          .sidebar__item-title {
            h4 {
              padding: nth($spaces, 4);
              font-size: $fontSizeXl;
              margin-bottom: nth($spaces, 4);
              padding-bottom: nth($spaces, 4);
            }
          }

          .sidebar__meta {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            position: absolute;
            left: -1rem;
            position: relative;

            a {
              font-size: 0.5625rem;
              padding: 0.9375rem 0em 0em 0.8125rem;
            }
          }

          .sidebar__item-info {
            color: $gray;
            font-size: $fontSizeSm;
          }
        }
      }
    }
  }

  /*========================================================================================*\
  *----------------------------          MEDIA QUERY              ----------------------------        
  \*========================================================================================*/

  /*--------------------------------
  *** FOR ANY DEVICE MAX SIZE UNTIL
  ** MAX-WIDTH : 1200px OR 75em
  */

  @include laptop {
    .wrapper {
      .sidebar {
        .sidebar__list {
          & > :first-child {
            .sidebar__list-item-title {
              top: -0.5rem;
              position: relative;
            }
            .sidebar__meta {
              top: -0.5rem;
            }
          }
        }
      }
    }
  }

  /*--------------------------------
  *** FOR ANY DEVICE MAX SIZE UNTIL
  ** MAX-WIDTH : 1024px OR 64em
  */

  @include miniLaptop {
    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .post {
        width: 75%;
        &__details {
          .post__title-container {
            .post__meta {
              top: 8rem;
            }
          }
        }
      }

      .sidebar {
        width: 75%;
        padding-top: nth($spaces, 8);

        .sidebar__list {
          &-item {
            width: 100%;
          }
        }
      }
    }
  }

  /*--------------------------------
  *** FOR ANY DEVICE MAX SIZE UNTIL
  ** MAX-WIDTH : 992px OR 62em
  */

  @include tablet {
    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .post {
        width: 90%;

        &__details {
          .post__title-container {
            .post__title {
              font-size: $fontSizeBase;
            }

            .post__meta {
              top: 6.5rem;
            }
          }
          .post__image-container img {
            height: 17rem;
          }
        }
      }

      .sidebar {
        width: 90%;
        padding-top: nth($spaces, 8);

        .sidebar__list .sidebar__list-item {
          width: 100%;
        }
      }
    }
  }

  /*--------------------------------
  *** FOR RETINA MOBILE AND LANDSCAPE
  ** MIN : 500px / 31.25em | MAX : 767PX / 47.9375em
  */

  @include retinaMobile {
    .wrapper {
      .post {
        width: 100%;
        border-radius: 0;
        max-height: 37rem;

        &__details {
          width: 95%;

          .post__image-container {
            img {
              width: 23.2rem;
            }
          }

          .post__title-container {
            width: 90%;
          }
        }
      }
    }
  }

  /*--------------------------------
  *** FOR MOBILE
  ** MAX : 640PX / 40em
  */

  @include mobile {
    .wrapper {
      .post {
        width: 23rem;
        height: 30rem;

        &__details {
          width: 95%;

          .post__image-container img {
            width: 100%;
          }

          .post__title-container {
            width: 90%;

            .post__meta {
              top: 6rem;
            }
          }
        }
      }

      .sidebar {
        width: 23rem;

        .sidebar__title {
          left: 0;
        }
      }
    }
  }
}
