.featured-articles-subscription {
  padding-top: nth($spaces, 4);
  @include flex-center;
  width: clamp(20rem, 100%, 52rem);
  margin: 0 auto;

  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .featured-articles {
      display: grid;
      justify-content: space-between;
      grid-template-columns: repeat(3, minmax(16rem, 1fr));
      grid-gap: 0 nth($spaces, 4);

      .featured-article {
        height: 26rem;
        background-color: $softSky;
        cursor: pointer;
        position: relative;
        border-radius: 0.3125rem;

        p,
        a {
          color: $midnightTeal;
        }

        &:hover {
          box-shadow: 0 0.625rem 3.125rem -0.3125rem $frostedSlate;
          transition: all 0.6s;
          transform: scale(1.01);
        }

        &__image-container {
          @include flex-center;
          height: 10.5rem;
          width: 100%;

          img {
            object-fit: cover;
            border-radius: 0.3125rem 0.3125rem 0 0;
          }
        }

        &__content {
          padding-top: nth($spaces, 4);
          display: grid;
          grid-template-rows: 0.5fr 3.9fr 0.5fr;

          .featured-article__type {
            padding: 0.6rem nth($spaces, 4) nth($spaces, 4) nth($spaces, 4);
            padding-left: nth($spaces, 3);
            font-size: 0.9375rem;
          }

          .featured-article__title {
            padding: 0 0.875rem 0 0.875rem;

            a {
              line-height: 1.3125em;
              font-size: $fontSizeXXL;
            }
          }

          .featured-article__meta {
            font-size: $fontSizeXs;
            padding-left: nth($spaces, 2);
          }
        }
      }

      .subscription {
        height: 26rem;
        background-color: $coralRed;
        cursor: pointer;
        color: $white;
        @include flex-center;
        border-radius: 0.3125rem;

        &:hover {
          box-shadow: 0 0.625rem 3.125rem -0.3125rem $frostedSlate;
          transition: all 0.6s;
          transform: scale(1.01);
        }

        &__content {
          text-align: center;
          justify-content: center;
          width: 90%;
          display: grid;
          grid-template-rows: 0.1fr 1fr 1.3fr 0.25fr;

          .subscription__title {
            font-size: $fontSizeXXL;
            font-weight: bold;
          }

          .subscription__description {
            font-size: 1.4rem;
          }

          .subscription__buttons {
            .subscription__button {
              width: 100%;
              font-size: $fontSizeS;
              height: 3.5em;
              background: transparent;
              border-color: $white;
              color: $white;
              font-weight: bold;
              margin-bottom: nth($spaces, 4);
              cursor: pointer;

              &:hover {
                background-color: $blushCoral;
              }
            }
          }
        }
      }
    }

    .shared-featured {
      display: grid;
      justify-content: space-between;
      grid-gap: 0 nth($spaces, 4);
      padding-top: nth($spaces, 4);
      grid-template-columns: 2fr 4fr;

      .featured-report {
        &__content {
          background-color: rgb(255, 94, 87);
          padding: 0.5em;
          cursor: pointer;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 0.3125rem;
          height: 33.7em;
        }

        &__info {
          text-align: center;
          display: grid;
          grid-template-rows: 0.2fr 6fr 0.5fr;

          .featured-report__title {
            width: 90%;
            margin: 0 auto;
            line-height: 1.3;
            font-size: 3rem;
            padding: 1.5em 0;
          }

          .featured-report {
            &__buttons {
              width: 90%;
              margin: 0 auto;
            }

            &__button {
              width: 100%;
              font-size: 0.8rem;
              height: 4.5em;
              background: transparent;
              border-color: $white;
              color: $white;
              font-weight: bold;
              cursor: pointer;
            }
          }
        }
      }

      .featured-content {
        background-color: $softSky;
        height: 33.7rem;
        cursor: pointer;

        &:hover {
          box-shadow: 0 0.625rem 3.125rem -0.3125rem $frostedSlate;
          transition: all 0.6s;
          transform: scale(1.01);
        }

        p,
        a {
          color: $midnightTeal;
        }

        &__image-container {
          @include flex-center;
          height: 18.6rem;

          .featured-content__image {
            object-fit: cover;
            object-position: top;
            border-radius: 0.3125rem 0.3125rem 0 0;
          }
        }

        &__content {
          display: grid;
          grid-template-rows: 3fr 12fr 0fr;
          padding: nth($spaces, 2);

          .featured-content__title {
            line-height: 1.3125em;
            font-size: $fontSizeXXL;
          }

          .featured-content__meta {
            font-size: $fontSizeXs;
            padding-left: nth($spaces, 2);
          }
        }
      }
    }

    .featured-report {
      grid-template-columns: 4fr 2fr;

      .featured-article {
        height: 33.7rem;
        background-color: rgb(234, 240, 246);
        cursor: pointer;
        position: relative;
        border-radius: 0.3125rem;

        &__image-container {
          height: 18.6rem;

          .featured-article__image {
            height: 100%;
            object-fit: cover;
          }
        }

        &__content {
          display: grid;
          grid-template-rows: 0.5fr 0.5fr 0fr;
          padding: 0.5em;

          .featured-content__type {
            color: rgb(51, 71, 91);
          }

          .featured-article {
            &__title {
              word-spacing: 0.1875rem;
              line-height: 1.3125em;
              font-size: 2rem;

              a {
                color: rgb(51, 71, 91);
              }
            }

            &__meta {
              font-size: 0.75em;
              padding-top: 3.5em;
              a {
                color: rgb(51, 71, 91);
              }
            }
          }
        }
      }
    }
  }
}
