@use "sass:color";

.cta {
  @include button(
    $radius: $roundedFull,
    $padding: nth($spaces, 3) nth($spaces, 10),
    $transition: map-get($durations, 300),
    $hoverBgColor: none,
    $fontSize: $fontSizeXl,
    $fontWeight: $fontWeightSemibold
  );
  text-transform: uppercase;

  &--primary {
    background-color: $thirdColorWeprodev;
    color: $white;
    &:hover {
      background-color: color.adjust($thirdColorWeprodev, $lightness: -10);
    }
  }

  &--tertiary:hover,
  &--secondary {
    border: 2px solid $white;
    color: $white;
    background-color: transparent;
  }

  &--secondary:hover,
  &--tertiary {
    border: 2px solid transparent;
    background-color: $white;
    color: $secondColorWeprodev;
  }
}
