// This customizes the generic dropdown component for this project

.dropdown {
    display: flex;
    align-items: center;
    gap: $space3;
    &__content {
      background-color: $secondaryColor;
      color: $tertiaryColor;
      border-radius: $roundedMd;
      box-shadow: $shadowSm;
      padding: $space4;
      gap: $space2;
      flex-direction: column;
      text-wrap: nowrap;
    }
    &__icon {
      transition: transform $duration150;
    }
  
    &:hover {
      .dropdown__content {
        display: flex;
      }
      .dropdown__icon {
        transform: rotate(180deg);
      }
    }
  }
  