/*------------------------------------*\
  #FONT
\*------------------------------------*/
/*------------------------------------*\
  #BREAKPOINTS
\*------------------------------------*/
/*------------------------------------*\
  #SPACES (padding & margin & gap) 
\*------------------------------------*/
/*------------------------------------*\
  #TRANSITION DURATION
\*------------------------------------*/
/*------------------------------------*\
  #BOX SHADOW
\*------------------------------------*/
/*------------------------------------*\
  #BORDER RADIUS
\*------------------------------------*/
/*------------------------------------*\
  #COLORS
\*------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
.quicksand-light {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-optical-sizing: auto;
  font-style: normal;
}

.quicksand-regular {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
}

.quicksand-medium {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-optical-sizing: auto;
  font-style: normal;
}

.quicksand-semibold {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-optical-sizing: auto;
  font-style: normal;
}

.quicksand-bold {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/*=========================================================
*********   Generic Button Component
*******  
*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
  background-color: #fff;
}
.header .logo img {
  height: 2.5rem;
  width: auto;
}
.header .navigation ul {
  display: flex;
  list-style: none;
  gap: 2em;
}
.header .navigation ul li a {
  text-decoration: none;
  color: #1e1e1e;
  font-weight: 400;
  transition: color 0.3s ease;
}
.header .navigation ul li a:hover {
  color: #0dd47e;
}
.header .action-buttons {
  display: flex;
  gap: 1rem;
}
.header .action-buttons .login {
  background: none;
  color: #1e1e1e;
  border-radius: 9999px;
  border: 1px solid #f2f4f4;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 400;
  transition: none;
  text-align: center;
  cursor: pointer;
}
.header .action-buttons .login:hover {
  background-color: #f2f4f4;
}
.header .action-buttons .get-in-touch {
  background: #0dd47e;
  color: #fff;
  border-radius: 9999px;
  border: none;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 400;
  transition: none;
  text-align: center;
  cursor: pointer;
}
.header .action-buttons .get-in-touch:hover {
  background-color: #0dd47e;
}

/*=========================================================
*********   Generic Button Component
*******  
*/
.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60vh;
  background: url("../images/main-hero.jpg") center/cover no-repeat;
  color: #fff;
  text-align: center;
  padding: 1em 2em;
}
.hero .hero-content {
  z-index: 1;
  max-width: 80%;
}
.hero .hero-content .tagline {
  font-size: 1.125em;
  font-weight: 500;
  margin-bottom: 0.5em;
  color: rgba(255, 255, 255, 0.7);
}
.hero .hero-content .title {
  font-size: 2.25em;
  font-weight: 700;
  margin-bottom: 1em;
}
.hero .hero-content .actions {
  display: flex;
  gap: 1em;
  justify-content: center;
  margin-top: 1em;
}
.hero .hero-content .actions .get-in-touch {
  background: #0dd47e;
  color: #fff;
  border-radius: 9999px;
  border: none;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 400;
  transition: none;
  text-align: center;
  cursor: pointer;
}
.hero .hero-content .actions .get-in-touch:hover {
  background-color: rgb(10.0533333333, 163.9466666667, 97.44);
}
.hero .hero-content .actions .our-services {
  background: none;
  color: #fff;
  border-radius: 9999px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 400;
  transition: none;
  text-align: center;
  cursor: pointer;
}
.hero .hero-content .actions .our-services:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.hero .carousel {
  position: absolute;
  top: 50%;
  right: 2em;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 300px;
  height: 300px;
}
.hero .carousel .carousel-item {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  border-radius: 0.375em;
  transition: transform 0.3s ease;
}
.hero .carousel .carousel-item:hover {
  transform: scale(1.05);
}
.hero .carousel .carousel-item img {
  width: 80%;
  height: auto;
  border-radius: 0.125em;
  left: 10%;
}
.hero .carousel .carousel-item .caption {
  color: #fff;
  font-size: 0.875em;
  text-align: center;
  margin-top: 0.5em;
}
.hero .statistics {
  background-color: #FFF;
  color: #1e1e1e;
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  padding: 1.5em;
  border-radius: 0.375em 0 0 0;
}
.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

/*# sourceMappingURL=style.css.map */
