html {
  font-size: clamp(1rem, 1vw, 10rem);

  body {
    font-family: $primaryFontFamily;

    a {
      text-decoration: none;
      color: $black;

      &:hover {
        transition: 0.5s;
      }
    }

    li {
      list-style-type: none;
    }

    * {
      font: revert;
    }

    hr {
      width: 50rem;
      margin: 0 auto;
      display: none;
      border-color: $black;
    }

    .weprodev-header {
      display: flex;
      flex-direction: column;
      position: relative;
      top: 0;
    }
  }

  /*========================================================================================*\
  *----------------------------          MEDIA QUERY              ----------------------------        
  \*========================================================================================*/

  /*--------------------------------
	*** FOR ANY DEVICE MAX SIZE UNTIL
	**	MAX-WIDTH : 1024px OR 64em
	*/

  @include miniLaptop {
    body {
      hr {
        display: block;
        width: 31rem;
        top: -2.5rem;
        position: relative;
      }
    }
  }

  /*--------------------------------
  *** FOR TABLET
  **	MAX-WIDTH : 992px OR 62em
  --------------------------------*/
  @include tablet {
    body {
      .hr {
        width: 17.5rem;
        display: block;
      }

      hr {
        width: 21rem;
        top: -2.5rem;
        position: relative;
      }

      .container {
        width: 70%;
      }
    }
  }

  /*--------------------------------
  *** FOR MOBILE
  **	MAX : 640PX / 40em
  --------------------------------*/
  @include mobile {
    body {
      hr {
        width: 23rem;
        display: block;
      }

      .container {
        width: 100%;
      }
    }
  }

  /*--------------------------------
  *** FOR MINI MOBILE
  **	MAX : 400PX / 25em
  --------------------------------*/
  @include miniMobile {
    body {
      hr {
        width: 19.5rem;
        display: block;
      }

      .container {
        width: 100%;
      }
    }
  }
}
