html {
  font-size: clamp(1rem, 1vw, 100rem);

  body {
    font-family: $primaryFontFamily;

    a {
      text-decoration: none;
      color: $black;

      &:hover {
        transition: 0.5s;
      }
    }

    li {
      list-style-type: none;
    }

    hr {
      width: 26rem;
      margin: 0 auto;
      display: none;
      border-color: $black;
    }

    .hr {
      top: 3rem;
      width: 26rem;
      margin: 0 auto;
      border-color: $black;
      position: relative;
    }

    .weprodev-header {
      @include flex-column;
      position: relative;
      top: 0;
    }
  }

  /*========================================================================================*\
  *----------------------------          MEDIA QUERY              ----------------------------        
  \*========================================================================================*/

  /*--------------------------------
  *** FOR TABLET
  **	MAX-WIDTH : 992px OR 62em
  --------------------------------*/
  @include tablet {
    body {
      hr {
        top: -2.5rem;
        position: relative;
        display: block;
      }

      .container {
        width: 70%;
      }
    }
  }

  /*--------------------------------
  *** FOR MOBILE
  **	MAX : 640PX / 40em
  --------------------------------*/
  @include mobile {
    body {
      hr,
      .hr {
        width: 20rem;
        display: block;
      }

      .container {
        width: 100%;
      }
    }
  }
}
