html {
  body {
    font-family: $primaryFontFamily;

    a {
      text-decoration: none;
      color: $black;

      &:hover {
        transition: 0.5s;
      }
    }

    li {
      list-style-type: none;
    }

    * {
      font: revert;
    }

    hr {
      width: 50rem;
      margin: 0 auto;
      display: none;
      border-color: $black;
    }

    .hr {
      width: 50rem;
      display: block;
      top: 2rem;
      position: relative;
    }

    .weprodev-header {
      display: flex;
      flex-direction: column;
      position: relative;
      top: 0;
    }
  }

  /*========================================================================================*\
  *----------------------------          MEDIA QUERY              ----------------------------        
  \*========================================================================================*/

  /*--------------------------------
	*** 4K AND HIGH RESOULOTIONS 
	**	MIN-WIDTH : 2560px OR 160em
	*/

  @include led4k {
    // font-size: 2rem;
  }

  /*--------------------------------
	*** FOR ANY DEVICE MAX SIZE UNTIL
	**	MAX-WIDTH : 1200px OR 75em
	*/

  @include laptop {
    font-size: 1rem;

    body {
      .hr {
        width: 47rem;
      }
    }
  }

  /*--------------------------------
	*** FOR ANY DEVICE MAX SIZE UNTIL
	**	MAX-WIDTH : 1024px OR 64em
	*/

  @include miniLaptop {
    font-size: 1rem;

    body {
      .hr {
        width: 27rem;
      }

      hr {
        display: block;
        width: 32rem;
        top: -2.5rem;
        position: relative;
      }
    }
  }

  /*--------------------------------
  *** FOR MINI MOBILE
  **	MAX : 400PX / 25em
  --------------------------------*/
  @include miniMobile {
    font-size: 0.8rem;

    body {
      .hr {
        width: 18rem;
      }

      hr {
        width: 19.5rem;
        display: block;
      }

      .container {
        width: 70%;
      }
    }
  }

  /*--------------------------------
  *** FOR MOBILE
  **	MAX : 640PX / 40em
  --------------------------------*/
  @include mobile {
    @media (min-width: 401px) and (max-width: 640px) {
      // font-size: 1rem;

      body {
        .hr {
          width: 20rem;
        }

        hr {
          width: 23rem;
          display: block;
        }
      }
    }
  }

  /*--------------------------------
  *** FOR RETINA MOBILE AND LANDSCAPE
  **	MIN : 500px / 31.25em | MAX : 767PX / 47.9375em
  --------------------------------*/
  @include retinaMobile {
    @media (min-width: 641px) and (max-width: 767px) {
      font-size: 0.7rem;

      .hr {
        width: 16rem !important;
      }
    }
  }

  /*--------------------------------
  *** FOR TABLET
  **	MAX-WIDTH : 992px OR 62em
  --------------------------------*/
  @include tablet {
    @media (min-width: 768px) and (max-width: 992px) {
      font-size: 1.5rem;

      body {
        .hr {
          width: 17.5rem;
          display: block;
        }

        hr {
          width: 21rem;
          top: -2.5rem;
          position: relative;
        }

        .container {
          width: 70%;
        }
      }
    }
  }
}
